# 복습 문제

In [1]:
## 1부터 100까지의 숫자합을 while문으로

sum = 0
i = 1
while i < 101:
    sum += i
    i += 1
print(sum)

5050

In [16]:
## 1부터 45까지 중에서 6개 숫자를 임의로 고르고 오름차순으로 정리하시오
import random
i = random.randint(1, 45)
a = []

for i in range(6):
    a.append(i)

a.sort()
print(a)

[0, 1, 2, 3, 4, 5]

In [19]:
import random as r
num = [r.randint(1,45) for i in range(6)]
num.sort()
num

[1, 6, 23, 30, 32, 45]

In [18]:
import random
l = []
while True:  
    if len(l) >= 6:
        break
    else:    
        i =random.randint(1, 45)
        l.append(i)
l.sort()
print(l)

[1, 1, 10, 12, 34, 38]

In [21]:
## 리턴값이 딕셔너리로 나오는 함수를 만드시오
diction(a = 1, b = 2, c = "Hello")

def diction(**kwargs):
    return kwargs

diction(a = 1, b = 2, c = "Hello")

{'a': 1, 'b': 2, 'c': 'Hello'}

In [2]:
## while문으로 1부터 30까지 숫자를 나열하고, 3의 배수는 "짝"으로 표기하세요

i = 0
while i < 30:
    i += 1
    if i % 3 == 0:
        print("짝")
    else:
        print(i)

1
2
짝
4
5
짝
7
8
짝
10
11
짝
13
14
짝
16
17
짝
19
20
짝
22
23
짝
25
26
짝
28
29
짝

In [3]:
i = 0
while i < 30:
    i += 1
    if i % 3 == 0:
        print("짝")
        continue
    else:
        print(i)

1
2
짝
4
5
짝
7
8
짝
10
11
짝
13
14
짝
16
17
짝
19
20
짝
22
23
짝
25
26
짝
28
29
짝

In [7]:
## 3개 숫자 입력 받고 최댓값과 최솟값의 차이를 구하는 함수
gap_1 = []
def gap(a, b, c):
    gap_l = [a, b, c]
    gap_1.sort()
    return gap_1[2] - gap_1[0]

gap(1, 2, 3)

IndexError: list index out of range

In [8]:
def f(a, b, c):
    li = [a, b, c]
    return max(li) - min(li) 

f(1, 2, 3)

2

In [10]:
a = [1, 2, 3, 4]
b = []

b = [i*3 for i in a if i % 2 == 0]
b

[6, 12]

In [22]:
## 입력한 두 수 사이에 있는 값들의 합을 구해주는 함수
def add(a, b):
    sum = 0
    l = [a,b]
    for i in range(min(l), max(l)+1):
        sum += i
    return sum

# 수업

## 파일 입출력

### 파일 만들기

In [28]:
f = open("new.txt", 'w')
f.write("Hello\n")
f.close()

In [31]:
f = open("new.txt", 'a')
f.write("\nGood Morning")
f.close()

In [32]:
f = open("new.txt", 'w')
f.write("Hello\n")
f.write("Good Morning\n")
f.write("Good Afternon\n")
f.close()

In [36]:
f = open("new.txt", 'w')
for i in range(10):
    f.write(f"{i}\n")
f.close()

In [38]:
f = open("new.txt", 'w')
for _ in range(10):
    f.write("Hello\n")
f.close()

In [39]:
f = open("new.txt", 'a')
for _ in range(10):
    f.write("Good Morning\n")
f.close()

- r : read
- w : write
- a : append
- b : binary(음악, 사진, 동영상)

- wb : 바이너리를 쓰기 모드로

In [25]:
type(f)

_io.TextIOWrapper

#### with open() as f
- f = open()보다 더 자주 사용

In [40]:
with open("new.txt", "w") as f:
    f.write("Hello \n")

In [44]:
with open("new.txt", "a") as f:
    for _ in range(10):
        f.write("Good Morning \n")

### 파일 읽기

- f.readline()

In [42]:
with open("new.txt", "w") as f:
    f.write("Hello")

In [45]:
f = open("new.txt", "r")
data = f.readline()
print(data)
f.close()

HelloGood Morning

In [46]:
with open("new.txt", "r") as f:
    data = f.readline()
    print(data)

HelloGood Morning

- f.readlines()

In [47]:
f = open("new.txt", "r")
data = f.readlines()
print(data)
f.close()

['HelloGood Morning \n', 'Good Morning \n', 'Good Morning \n', 'Good Morning \n', 'Good Morning \n', 'Good Morning \n', 'Good Morning \n', 'Good Morning \n', 'Good Morning \n', 'Good Morning \n']

In [52]:
f = open("new.txt", "r")
data = f.readlines()
for i in data:
    print(i, end = "")
f.close()

HelloGood Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning
Good Morning

- f.read()

In [53]:
f = open("new.txt", "r")
data = f.read()
print(i, end = "")
f.close()

Good Morning

In [84]:
## 문제
with open("test.txt", "w", encoding = 'UTF-8') as f:
    for i in range(1, 11):
        f.write(f"{i}번째입니다. \n")

In [85]:
### readlines()로 읽기
f = open("test.txt", "r", encoding = "utf-8")
data = f.readlines()
print(data)
f.close()

['1번째입니다. \n', '2번째입니다. \n', '3번째입니다. \n', '4번째입니다. \n', '5번째입니다. \n', '6번째입니다. \n', '7번째입니다. \n', '8번째입니다. \n', '9번째입니다. \n', '10번째입니다. \n']

In [87]:
with open("test.txt", "r", encoding = 'UTF-8') as f:
    data = f.readlines()
    for i in data:
        i = i.strip()
        print(i)

1번째입니다.
2번째입니다.
3번째입니다.
4번째입니다.
5번째입니다.
6번째입니다.
7번째입니다.
8번째입니다.
9번째입니다.
10번째입니다.

In [1]:
## 함수 show_file("파일이름")

def show_file(name):
    with open (name, "r", encoding = 'UTF-8') as f:
        data = f.readlines()
        for i in data:
            i = i.strip()
            print(i)
    f.close

show_file("test.txt")

1번째입니다.
2번째입니다.
3번째입니다.
4번째입니다.
5번째입니다.
6번째입니다.
7번째입니다.
8번째입니다.
9번째입니다.
10번째입니다.

In [2]:
## 이름과 나이를 입력받아 "people.txt"
## f.write(name + ", " + age + "\n")

name = input("이름")
age = input("나이")

with open("people.txt", "w", encoding="UTF-8") as f:
    while True:
        name = input("이름")
        if name == "":
            break
        age = input("나이")
        f.write(name + " : " + age + "\n")
    f.close()

이름 홍길동
나이 23
이름 전우치
나이 20
이름

In [ ]:
f = open("people.txt",'w', encoding="UTF-8")
while True:
    name = input("이름을 입력하세요: ")
    if name=="": break
    age = input("나이를 입력하세요: ")
    f.write(f"{name} : {age}\n")
f.close()

In [ ]:
with open("people.txt", 'w', encoding = 'utf-8') as f:
    while True:
        name = input("이름을 입력하시오")
        age = input("나이를 입력하시오")
        f.write(name + ": " + age + '\n')
        if name == "":
            break

In [3]:
show_file("people.txt")

전우치 : 20

In [5]:
#sys2.py
#cmd에서 직접 실행시키려면 python.exe test.py aaa bbb 라고 입력해야하는데
#sys.argv[0]는 test.py 이 부분을 의미
#따라서 인덱스 [1]부터 시작

import sys
args = sys.argv[1:]
for i in args:
    print(i.upper, end = " ")

<built-in method upper of str object at 0x00000144A00B85F0> <built-in method upper of str object at 0x00000144A0050B70>

- 새로운 파일 만들기

In [6]:
f = open("newfile.txt", "w")
f.close()

- 파일 쓰기 모드로 열어 출력값 적기

In [25]:
f = open("newfile.txt", "w", encoding = 'utf-8')
for i in range(1, 11):
    data = f"{i}번째 줄입니다.\n"
    f.write(data)
f.close()

## 모니터 화면이 아닌 파일에 결괏값을 적는 방법

In [19]:
f = open("newfile.txt", "w", encoding = 'utf-8')
for i in range(1, 11):
    data = f"{i}번째 줄입니다.\n"
    print(data)
    
## 모니터 화면에 출력하는 방법

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

- 프로그램 외부에 저장된 파일을 읽은 여러 가지 방법

In [22]:
## readline.py
## 가장 첫 번째 줄만

f = open("newfile.txt", "r", encoding = 'utf-8')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [23]:
## readline 함수로 모든 줄 읽고싶을 때

f = open("newfile.txt", "r", encoding = 'utf-8')
while True:
    line = f.readline()
    if not line: 
        break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [24]:
f = open("newfile.txt", "r", encoding = 'utf-8')
while True:
    data = input()
    if not data: 
        break
    print(line)
f.close()

 3

 4

In [30]:
## 이름과 나이를 입력받아 "people.txt"
## f.write(name + ", " + age + "\n")
## 홍길동 : 23
## 전우치 : 20

f = open("people.txt", "w", encoding = 'utf-8')

while True:
    name = input("name : ")
    if not name:
        break
    age = input("age : ")
    f.write(name + " : " + age + "\n")
    
f.close()

name :  홍길동
age :  23
name :  전우치
age :  20
name :

In [26]:
## readlines
f = open("newfile.txt", "r", encoding = 'utf-8')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [27]:
## read
f = open("newfile.txt", "r", encoding = "utf-8")
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [32]:
## adddata.py
f = open("newfile.txt", "a", encoding = 'utf-8')
for i in range(11, 20):
    data = f"{i}번째 줄입니다.\n"
    f.write(data)
f.close()

In [33]:
f = open("foo.txt", "w", encoding = 'utf-8')
f.write("Life is too short, you need python")
f.close()

In [34]:
with open("foo.txt", "w", encoding = 'utf-8') as f:
    f.write("Life is too short, you need python.")

In [35]:
f = open("Q_five.txt", "w", encoding = 'utf-8')
f.write("Life is too short")
f.close()

In [37]:
with open("Q_five.txt", "r", encoding = 'utf-8') as f:
    data = f.readlines()
    print(data)
f.close()

['Life is too short']

In [38]:
user_input = input("저장할 내용을 입력하세요.")
f = open("test.txt", "a", encoding = 'utf-8')
f.write(user_input)
f.write("\n")
f.close()

저장할 내용을 입력하세요. 가나다라마바사

In [44]:
with open("test.txt", "r", encoding = 'utf-8') as f:
    data = f.readlines()
    for i in data:
        i = i.strip()
        print(i)
f.close()

1번째입니다.
2번째입니다.
3번째입니다.
4번째입니다.
5번째입니다.
6번째입니다.
7번째입니다.
8번째입니다.
9번째입니다.
10번째입니다.
가나다라마바사

In [82]:
with open("test7.txt", "w") as f:
    f.write("Life is too short \n you need python")
f.close()

In [83]:
f = open("test7.txt", "r")
body = f.read()
f.close()

In [85]:
body = body.replace("python", "java")

In [86]:
f = open("test7.txt", "w")
f.write(body)
f.close()

In [88]:
f = open("test7.txt", "r")
data = f.read()
print(data)
f.close()

Life is too short
 you need java

## 파이썬 날개 달기

## 클래스
- 같은 성격의 데이터를 모아둔 것

In [53]:
result = 0

def add(num):
    global result
    result += num
    return result

def subtract(num):
    global result
    result -= num
    return result

In [54]:
result1 = 0

def add1(num):
    global result1
    result1 += num
    return result1

In [55]:
result2 = 0

def add2(num):
    global result2
    result2 += num
    return result2

In [56]:
add(3)

3

In [57]:
add(4)

7

In [58]:
add1(5)

5

In [59]:
add1(6)

11

- 위의 코드가 매장 POS기에 적용될 것이라고 가정하자
- 3대일 때는 괜찮을 수 있으나 30대가 넘어간다고 하면 기능을 추가하거나 수정하고자할 때 너무 복잡해지고 코드 길이가 너무 길어짐
- 이러한 문제를 해결하기위해 클래스 사용

```
result = 0

def add(num):
    global result
    result += num
    return result

def subtract(num):
    global result
    result -= num
    return result
```

### 클래스 만들기
- 클래스 네임은 대문자로 시작하는 것이 일반적임
- 클래스 안에는 변수와 함수가 들어감
- 함수의 변수 앞에 self 무조건 들어감!!
- __는 특별하다는 의미임

In [72]:
class Calculator :
    def __init__(self):
        self.result = 0
        
    def add(self, num):
        self.result += num
        return self.result
    
    def subtract(self, num):
        self.result -= num
        return self.result
    
    def multiply(self, num):
        self.result *= num
        return self.result

### 클래스 불러오기

In [62]:
pos = Calculator()

In [63]:
pos.add(3)

3

In [64]:
pos.add(4)

7

In [65]:
pos.subtract(2)

5

In [73]:
pos1 = Calculator()

In [67]:
pos1.add(8)

8

In [68]:
pos1.subtract(3)

5

In [71]:
pos3 = Calculator()
pos4 = Calculator()

- Calculator()는 클래스
- 위 예시에서 pos, pos1, pos2...는 객체 또는 인스턴스라고 부름
- pos는 Calculator 클래스에서 구체화 된 인스턴스임
- 다시 말해, pos는 객체이고 Calculator의 인스턴스입니다.
- class 안에 있는 함수를 method라고 함

### 클래스 만들기 연습

In [75]:
class FourCal:
    pass

In [76]:
class FourCal:
    def setdata(self, a, b):
        self.first = a
        self.second = b

In [77]:
cal = FourCal()

In [78]:
cal.setdata(1, 2)

In [80]:
cal.first

1

In [81]:
cal.second

2

- 객체 : object, instance, 오브젝트, 인스턴스
- 동사
- 형용사
```
car: car.go(), car.back(), car.turn()
     car.color, car.size

bird : bird.fly(), bird.sing(),
       bird.color

동사 : method, 메소드 --> () 있으면 method
형용사 : attribute, 애트리뷰트 --> () 없으면 attribute
```

In [89]:
class FourCal:
    def setdata(self, a, b):
        self.first = a
        self.second = b
    
    def add(self):
        self.result = self.first + self.second
        return self.result
    
    def subtract(self):
        self.result = self.first - self.second
        return self.result

In [90]:
cal = FourCal()

In [91]:
cal.setdata(1, 2)
cal.first

1

In [92]:
cal.add()

3

In [93]:
cal1 = FourCal()

In [94]:
cal1.add()

AttributeError: 'FourCal' object has no attribute 'first'

In [95]:
cal1.subtract()

AttributeError: 'FourCal' object has no attribute 'first'

In [96]:
cal1.setdata(1, 3)

In [97]:
cal1.add()

### FourCal클래스 안에 add나 subtract 함수를 사용하려면 setdata 함수가 무조건 먼저 실행되어야 함

4

#### __init__(초기화 함수, 생성자)

In [105]:
class FourCal1:
    ## 초기화, 생성자(constructor)
    def __init__(self, a, b):
        self.first = a
        self.second = b
    
    def add(self):
        self.result = self.first + self.second
        return self.result
    
    def subtract(self):
        self.result = self.first - self.second
        return self.result  

### __init__함수는 클래스를 사용하면 무조건 실행됨
### FourCal클래스에서는 def__init__(self, a, b): pass가 생략된 것

In [101]:
cal2 = FourCal1()

TypeError: FourCal1.__init__() missing 2 required positional arguments: 'a' and 'b'

In [102]:
cal2 = FourCal1(3, 6)

In [103]:
cal2.add()

9

In [104]:
cal2.subtract()

-3

In [106]:
cal3 = FourCal1(10, 20)
cal3.subtract()

-10

In [111]:
class FourCal1:
    def __init__(self, a, b):
        self.first = a
        self.second = b
    
    def add(self):
        self.result = self.first + self.second
        return self.result
    
    def subtract(self):
        self.result = self.first - self.second
        return self.result  
    
    def multiply(self):
        self.result = self.first * self.second
        return self.result
    
    def divide(self):
        self.result = self.first / self.second
        return self.result

In [112]:
cal = FourCal1(3, 5)

In [113]:
cal.multiply()

15

In [114]:
cal.divide()

0.6

In [118]:
cal1 = FourCal1(1, 2)

In [119]:
cal1.divide()

0.5

### 클래스 상속(inheritance)

In [120]:
class Child(FourCal1):
    pass

In [124]:
cal = Child(10, 20)

In [125]:
cal.add()

30

In [126]:
class Child(FourCal1):
    def power(self):
        self.result = self.first ** self.second
        return self.result
    
    def remain(self):
        self.result = self.first // self.second
        return self.result

In [127]:
cal = Child(2, 3)

In [128]:
cal.power()

8

In [129]:
cal = Child(1, 0)

In [130]:
cal.divide()

ZeroDivisionError: division by zero

### 매소드 오버라이딩
- overriding 메소드 재정의

In [131]:
class Child(FourCal1):
    def power(self):
        self.result = self.first ** self.second
        return self.result
    
    def remain(self):
        self.result = self.first // self.second
        return self.result
    
    def divide(self):
        if self.second != 0:
            self.result = self.first / self.second
        else:
            print("0으로 나누셨군요")

In [132]:
cal = Child(1, 0)

In [133]:
cal.divide()

0으로 나누셨군요

In [140]:
class Calculator():
    def __init__(self, a, b):
        self.first = a
        self.second = b

In [141]:
cal = Calculator(1, 2)

In [142]:
cal.first ### cal.first = self.first

1

In [143]:
bal = Calculator(10, 20)

In [145]:
bal.first ### bal.first = self.first

10

# 연습문제

In [146]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [149]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [150]:
apartment = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]
apartment

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [153]:
stock = [[100, 200, 300], [80, 210 , 330]]
stock

[[100, 200, 300], [80, 210, 330]]

In [154]:
stock = {'시가' : [100, 200, 300], '종가' : [80, 210, 330]}
print(stock.keys())
print(stock.values())

dict_keys(['시가', '종가'])
dict_values([[100, 200, 300], [80, 210, 330]])

In [156]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print(str(apart[i][0]) + '호')
    print(str(apart[i][1]) + '호')

101호
102호
201호
202호
301호
302호

In [157]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print(str(apart[-(i+1)][0]) + '호')
    print(str(apart[-(i+1)][1]) + '호')

301호
302호
201호
202호
101호
102호

In [158]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    print(str(apart[-(i+1)][1]) + '호')
    print(str(apart[-(i+1)][0]) + '호')

302호
301호
202호
201호
102호
101호