In [5]:
a = [1, 2, 3, 4, "Hello", "Good Morning"] 
a.pop(4);print(a)

[1, 2, 3, 4, 'Good Morning']

In [7]:
###문제 for문, range을 사용하여 팩토리얼을 구현하려면?

a = int(input("팩토리얼을 구할 수를 입력하세요."))
result = 1
for b in range(1, a+1, 1):
    result += b
print(result)

팩토리얼을 구할 수를 입력하세요. 5

16

In [19]:
#### 0부터 1000까지 짝수만 저장된 리스를 생성하려면?
import numpy as np
import math

a = []
for i in range(0, 1001, 2):
    a.append(i)

a

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000]

- 리스트 한 줄로 만드는 방법

In [13]:
a = []

for i in range(0, 10 + 1):
    a.append(i)
print(a)

b = [i for i in range(0, 10 + 1)]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
a = []
for i in range(0, 10 + 1):
    if i % 2 == 0 :
        a.append(i)

print(a)

b = [i for i in range(0, 10 + 1, 2)]
print(b)

c = [i for i in range(0, 10 + 1) if i % 2 == 0]
print(c)

[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10]

In [22]:
### 객체를 복사하는 3가지 방법
a = [1, 2, 3]

b = a ### 주소가 같고 새로운 객체를 만드는 것이 아니므로 자제하는 것이 좋음
c = a[:]
d = a.copy()

from copy import copy
e = copy(a)
e1 = copy.copy(a) ### 가장 일반적임

print(a)
print(b)
print(c)
print(d)
print(e)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [46]:
### 여자들의 평균 나이
data = [["영자", "옥순", "광수", "순자"],[33, 37, 39, 31],["여자","여자","남자","여자"]] 

a = 0
count = 0

for i in range(len(data[2])):
    if data[2][i] == "여자":
        a = a + data[1][i]
        count = count + 1
    mean = a / count

print(mean)

33.666666666666664

```
sum = 0
count = 0
for i in range(len(data[2])):
  if data[2][i] == '여자':
    sum = sum + data[1][i]
    count = count + 1
mean = sum / count
print(mean) 
```

In [27]:
#### M만 출력
a = [1, 2, 3, 4, "Hello", "Good Morning"]
a[5][5]

### Morning만 출력
a[5][5:]

'Morning'

In [39]:
#### [4, 3, 2, 1]
##방법 1
a = [1, 3, 4, 2]
a.sort()
a.reverse()
print(a)

##방법 2
a = sorted(a)
a.reverse()
a

[4, 3, 2, 1]

[4, 3, 2, 1]

# 수업

- 이스케이프 문자

In [52]:
print("Life is short. You need Python.")
print("Life is short. \nYou need Python.")
print("Life is short. \t\tYou need Python.")

Life is short. You need Python.
Life is short.
You need Python.
Life is short. 		You need Python.

In [57]:
print("그가 나에게 \"사랑해요\"라고 말했다.")
print('그가 나에게 \'사랑해요\'라고 말했다.')

그가 나에게 "사랑해요"라고 말했다.
그가 나에게 '사랑해요'라고 말했다.

## List Comprehension

In [58]:
a = [1, 2, 3, 4]
b = []

for i in a:
    b.append(i*3)

b

[3, 6, 9, 12]

In [59]:
a = [1, 2, 3, 4]
[i*3 for i in a]

[3, 6, 9, 12]

In [60]:
a = [1, 2, 3, 4]
b = []

for i in a:
    if i % 2 == 0:
        b.append(i*3)

b

[6, 12]

In [62]:
a = [1, 2, 3, 4]
[i*3 for i in a if i % 2 == 0]

[6, 12]

## while 문

- for 문 : 반복 횟수가 정해져있을 때
- while 문 : 반복 횟수가 정해져있지 않을 때

In [ ]:
i = 0
while i < 10:
    print(i, end = ", ")
    i += 1

In [1]:
#break
#ctrl + c
#무한루프 벗어나고싶을 때
import time
i = 0
while True : 
    print(i, end = ", ")
    i += 1
    time.sleep(1)
    if i == 10:
        break
        
print("끝")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 끝

In [3]:
### 1부터 10까지의 합을 while문으로
sum = 0
i = 0

while i < 10 + 1:
    sum = sum + i
    i = i + 1

print(sum)

55

In [4]:
i = 0
sum = 0
while i < 10 :
    i += 1
    sum += i
print(sum)

55

In [4]:
### 1부터 10까지 3의 배수만을 합으로
i = 0
sum = 0

while i < 10:
    i += 1
    if i % 3 == 0:
        sum += i

print(sum)

18

In [3]:
i = 0
sum = 0

while i < 10:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
i = 0
sum = 0

while i < 10:
    i += 1
    if i % 3 == 0:
        print(i)

3
6
9

In [4]:
i = 0
sum = 0

while i < 10:
    i += 1
    if i % 3 == 0:
        continue ###다시 맨 윗줄로 올라감
    print(i)

1
2
4
5
7
8
10

In [8]:
### 3의 배수가 아닌 수의 합(1부터 10까지)
i = 0
sum = 0

while i < 10:
    i += 1
    if i % 3 == 0:
        continue
    sum += i

print(sum)

37

- random

In [10]:
import random

In [30]:
random.randint(1, 3) ### 랜덤값 1개만 나옴

3

In [31]:
i = random.randint(1, 10)

In [85]:
### 7보다 작은 수들의 합
sum = 0

while True:
    i = random.randint(1, 10)
    if i < 7 :
        sum += i
        continue
    if sum > 10000:
        print(sum)
        break

10009

In [100]:
sum = 0
while True : 
    i = random.randint(1, 10)
    if i > 7:
        break
    else: 
        print(i, end = " ")
        sum += 1

sum

3 6 2 6 6 4

6

In [4]:
### 1부터 100까지의 수들 중 3의 배수 또는 5의 배수의 합
i = 0
sum = 0

while i < 100:
    if i % 3 == 0 or i % 5 ==0:
        sum += i
    else:
        pass
    i += 1
    
print(sum)

2318

- 아래처럼 if를 두 번 사용하면 중복으로 더해짐
- elif를 사용해야함!

In [5]:
i = 0
sum = 0

while i < 100:
    if i % 3 == 0:
        sum += i
    if  i % 5 ==0:
        sum += i
    else:
        pass
    i += 1
    
print(sum)

2633

i = 0
sum = 0

while i < 100:
    if i % 3 == 0:
        sum += i
    elif  i % 5 ==0:
        sum += i
    else:
        pass
    i += 1
    
print(sum)

# 연습문제

## Q1

In [10]:
a = "Life is too short, you need python"

if "wife" in a:
    print("wife")
elif "python" in a and "you" not in a:
    print("python")
elif "need" in a :
    print("need")
elif "shirt" not in a:
    print("shirt")
else:
    print("none")

need

## Q2

In [13]:
### 1~1000 3의 배수의 합
result = 0
i = 1

while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1
    
print(result)

166833

## Q3

In [15]:
i = 0

while True:
    i += 1
    if i > 5:
        break
    print(i*"*")

*
**
***
****
*****

## Q4

In [16]:
for i in range(1, 100 + 1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q5

In [17]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score

average = total / len(A)

print(average)

79.0

## Q6

In [20]:
numbers = [1, 2, 3, 4, 5]

result1 = []
for n in numbers:
    if n % 2 == 1:
        result1.append(n*2)
print(result1)

result2 = [n*2 for n in numbers if n % 2 == 1]
print(result2)

[2, 6, 10]
[2, 6, 10]

# 함수

```
def 함수이름( , ):
    실행할 문장
    return 변수
```

In [21]:
def add(a, b):
    c = a + b
    return c

add(1, 3)

4

In [23]:
def add(a, b):
    c = a + b
    print(c)
    
add(1, 3)
### 값은 나와도 print가 아닌 return을 사용해야함
### return이 있어야 함수가 끝남

4

In [25]:
# 입력받은 것을 2배해서 출력
def twice(number):
    return number*2

def twice1(a):
    b = a*2
    return b

twice(20)
twice1(20)

40

### 입력값이 없는 경우

In [26]:
def add():
    a = 10
    b = 20
    return a + b

In [28]:
add()

30

In [30]:
###홀수이면 2배, 짝수이면 나누기 2해서 리턴

def odd_even(a):
    if a % 2 == 0:
        return a/2
    else:
        return a*2
    
odd_even(4)
odd_even(3)

6

### 리턴값이 2개 이상일 수 있다.

In [31]:
def add():
    a = 10
    b = 20
    return a+b, a-b

In [32]:
add()

(30, -10)

In [33]:
a, b = add() ## 2개의 리턴값을 변수로 저장하고싶을 때

In [34]:
a

30

In [35]:
b

-10

### 기본값이 있는 경우

In [36]:
def add(a, b, c = 100):
    result = a + b + c
    return result

add(1, 2) ### default값이 있으면 사용자가 c의 값을 안주면 기본값을 사용

103

In [37]:
add(1, 2, 3)  ### default값이 있어도 사용자가 값을 지정하면 해당 값으로 바뀜

6

In [39]:
add(a = 1, c = 3, b = 2) ### 함수 안에 위치가 뒤바뀌어도 변수를 명확하게 다 제시하면 상관없음

6

### 기본값은 맨 뒤에 정의됨

In [41]:
def add(a, b = 10, c):
    result = a + b + c
    return result

SyntaxError: non-default argument follows default argument (2189769760.py, line 1)

### 입력값이 여러 개인 경우

In [42]:
def add(*a):
    return a

In [43]:
add(1, 5, 7, 4, 5, 4)

(1, 5, 7, 4, 5, 4)

In [45]:
def add(*args):
    return args

add(100, 3, 2, 5)

(100, 3, 2, 5)

In [46]:
def add(*args):
    sum = 0
    for i in args:
        sum += i
    return sum


add(3, 5, 7, 9, 3)

27

In [51]:
### 1부터 입력받은 수까지의 합

def add_all(a):
    sum = 0
    for i in range(1, a + 1):
        sum += i
    return sum

add_all(3)

6

In [64]:
a = int(input("숫자"))

def add(a):
    sum = 0
    for i in range(a):
        sum += i
    return sum

add(a)

숫자 4

28

In [63]:
### 두 수를 입력받아서 합
a = int(input("smaller"))
b = int(input("bigger"))

def add_all(a, b):
    sum = 0
    for i in range(a, b+1):
        sum += i
    return sum

add_all(a, b)

smaller 3
bigger 5

12

### return과 print의 차이

In [65]:
def func_r(a):
    return(a*2)

def func_p(a):
    print(a*2)

In [67]:
func_r(3)

6

In [68]:
func_p(3)

6

In [69]:
b = func_r(3)
b/2

3.0

In [70]:
c = func_p(3)
c/2

6

TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

In [71]:
type(c)  ###print()는 화면에 출력만 해주고 인수에 저장하지 않음 따라서 func_p(3)의 결과가 출력만 되고 c에는 값이 저장되지 않음

NoneType

### 키워드 파라미터

In [114]:
def kw_test(**kwargs):
    print(kwargs)

In [115]:
kw_test(a = 1, b = 2)

{'a': 1, 'b': 2}

In [117]:
kw_test(1, 2, 3, 4)

TypeError: kw_test() takes 0 positional arguments but 4 were given

### return의 다른 쓰임새

In [81]:
##myself("홍길동", 20)
##나의 이름은 홍길동이고 나이는 20세입니다.

def myself(name, age):
    if name == "홍길동" and age == 20:
        return
    print(f"나의 이름은 {name}이고 나이는 {age}입니다.")
    
myself("홍길동", 20)
myself("장유선", 25)

나의 이름은 장유선이고 나이는 25입니다.

In [84]:
def add(a, b):
    c = a + b
    return c

add(1, 2)
print(c)

### def 실행할 때에만 임시적으로 c 변수가 만들어지고 def 끝나면 사라짐

NameError: name 'c' is not defined

In [86]:
d = 5 # global(전역변수)

def add(a, b):
    c = a + b # local(지역변수)
    return c + d

print(add(1, 2))
print(d)

### 함수 밖에 있는 변수들은 함수 안에도 적용됨

8
5

### lambda(이름이 없는)

In [89]:
def add(a, b):
    return a + b

add(1, 2)

3

In [93]:
(lambda a, b: a + b)(1, 2)

3

In [97]:
f = lambda a, b: a + b
f(1, 2)

### lambda를 인자에 넣어주기도 하지만 이름을 짓지 않는 것이 usual

3

## 재귀함수

- 함수 안에 자기 자신이 들어가는 함수

In [110]:
import time
def hello(count):
    if count == 0:
        return
    print("안녕하세요")
    time.sleep(1)
    count -= 1
    hello(count)

In [111]:
hello(5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

# 연습문제

## Q1 
- 주어진 자연수가 홀수인지 짝수인지 판별해주는 함수(is_odd) 만들기

In [126]:
def is_odd(number):
        if number % 2 == 0:
            return "짝수"
        else:
            return "홀수"

is_odd(4)

'짝수'

## Q2
- 입력으로 들어오는 모든 수의 평균값을 계산해주는 함수 작성(입력 개수 미정)

In [127]:
def all_mean(*args):
    total = 0
    for i in args:
        total += i
    return total/len(args)

print(all_mean(1, 2))
print(all_mean(1, 2, 3, 4, 5))

1.5
3.0

## Q3
- 두 개의 숫자를 입력받아 더하여 돌려주는 함수
```
첫번째 숫자를 입력하세요 : 3
두번째 숫자를 입력하세요 : 6
두 수의 합은 36입니다.
```

In [132]:
a = input("첫번째 숫자를 입력하세요 : ")
b = input("두번째 숫자를 입력하세요 : ")

def add_two(a, b):
    return f"두 수의 합은 {a+b}입니다."
    
add_two(a,b)

첫번째 숫자를 입력하세요 :  3
두번째 숫자를 입력하세요 :  6

'두 수의 합은 36입니다.'

In [133]:
a = int(input("첫번째 숫자를 입력하세요 : "))
b = int(input("두번째 숫자를 입력하세요 : "))

def add_two(a, b):
    return f"두 수의 합은 {a+b}입니다."
    
add_two(a,b)

첫번째 숫자를 입력하세요 :  3
두번째 숫자를 입력하세요 :  6

'두 수의 합은 9입니다.'

In [134]:
print("you" "need" "python")
print("you" + "need" + "python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))

youneedpython
youneedpython
you need python
youneedpython

### 문자열의 요솟값은 바꿀 수 없음(immutable)

In [135]:
a = 'Pithon'

a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [136]:
a = 'Pithon'

print(a[:1] + 'y' + a[2:])

Python

In [139]:
a = (1, 2, 3)

a + (4, )

(1, 2, 3, 4)

In [140]:
print("naver", "kakao", "sk", "samsung", sep=';')

naver;kakao;sk;samsung

In [141]:
print("naver", "kakao", "sk", "samsung", sep='/')

naver/kakao/sk/samsung

In [142]:
print("first", end = " ");print("second")

first second

In [143]:
s = "hello"
t = "python"

print(s + '! ' + t)

hello! python

In [145]:
num_str = "720"
num_str = int(num_str)
print(num_str, type(num_str))

720 <class 'int'>

In [148]:
num = 100
num = str(num)
print(num, type(num))

100 <class 'str'>

In [149]:
num = '15.79'
num = float(num)
print(num, type(num))

15.79 <class 'float'>

In [150]:
year = "2020"
yearn = int(year)
print(yearn, yearn-1, yearn-2)

2020 2019 2018

In [151]:
m_price = 48584
term = 36
total_price = m_price * term
print(total_price)

1749024

In [154]:
letters = "python"
print(letters[0], letters[2], sep = " ")

p t

In [155]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

- [시작인덱스:끝인덱스:오프셋]

In [157]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [159]:
string = "PYTHON"
string[::-1]

'NOHTYP'

In [160]:
phone_number = "010-1111-2222"
phone_number.replace('-', " ")

'010 1111 2222'

In [166]:
phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [171]:
url = "http://sharebook.kr"
url[-2:]

'kr'

In [172]:
lang = "python"
lang[0] = "P"
print(lang)

TypeError: 'str' object does not support item assignment

In [173]:
string = 'abcdfe2a354a32a'
string.replace("a", "A")

'Abcdfe2A354A32A'

In [174]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [175]:
a = int(input("smaller"))
b = int(input("larger"))

def add(a, b):
    sum = 0
    for i in range(a, b + 1):
        sum += i
    return sum

add(a,b)

smaller 2
larger 9

44

In [176]:
"-"*80

'--------------------------------------------------------------------------------'

In [180]:
t1 = "python"
t2 = "java"

t3 = t1 + " " + t2 + " "
print(t3 * 4)

python java python java python java python java

In [181]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [184]:
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(",", "")
b = int(a)
b

5969782550

In [185]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [186]:
data = "   삼성전자    "
data.strip()

'삼성전자'

In [187]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [188]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [189]:
a = "hello"
a.capitalize()

'Hello'

In [190]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [192]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [194]:
a = "hello world"
a.split(" ")

['hello', 'world']

In [196]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [199]:
data = "039490     "
data.rstrip()

'039490'

In [200]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']