<a href="https://colab.research.google.com/github/youseon-jang/python/blob/main/Pandas_summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 시작하기
- 고수준의 자료구조와 파이썬에서 빠르고 쉽게 사용할 수 있는 데이터 분석 도구 포함

In [ ]:
import pandas as pd

In [ ]:
from pandas import Series, DataFrame

## 1. Pandas 자료구조 소개
### **Series**
- Series : 일련의 객체를 담을 수 있는 1차원 배열 같은 구조

In [ ]:
s = pd.Series([4, 7, -5, 3])

s

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
s.values

array([ 4,  7, -5,  3])

In [ ]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
### 각각의 index 설정
s2 = pd.Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])
s2

d    4
b    7
a   -5
c    3
dtype: int64

In [ ]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [ ]:
s2['a']

-5

In [ ]:
s2['d'] = 6

s2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

- ['c', 'a', 'd']는 색인의 배열로 해석됨
- 불리언 배열을 사용해서 값을 걸러내거가 산술 곱셈을 수행하거나 또는 수학 함수를 적용하는 등 NumPy 배열 연산을 수행해도 색인-값 연결이 유지됨

In [ ]:
s2[s2 > 0]

d    6
b    7
c    3
dtype: int64

In [ ]:
s2*2

d    12
b    14
a   -10
c     6
dtype: int64

In [ ]:
import numpy as np

np.exp(s2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

- Series 객체는 파이썬의 사전형을 인자로 받아야 하는 많은 함수에서 사전형을 대체하여 사용할 수 있음

In [ ]:
'b' in s2

True

In [ ]:
'e' in s2

False

- 파이썬 사전 객체로부터 Series 객체를 생성할 수 있음

In [ ]:
sdata = {'Ohio' : 35000, 'Texas' : 71000, 'Oregon' : 16000, 'Utah' : 5000}

s3 = pd.Series(sdata)

s3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

s4 = pd.Series(sdata, index = states)

s4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

- isnull
- notnull

In [ ]:
pd.isnull(s4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [ ]:
pd.notnull(s4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [ ]:
s4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

- Series는 산술 연산에서 색인과 라벨로 자동 정렬함

In [ ]:
s3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [ ]:
s4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [ ]:
s3 + s4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

- Series 객체와 색인 보두 name 속성 있음

In [ ]:
s4.name = 'population'

s4.index.name = 'state'

s4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

- Series의 색인은 대입하여 변경 가능함

In [ ]:
s

0    4
1    7
2   -5
3    3
dtype: int64

In [ ]:
s.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

s

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

### **DataFrame**
- DataFrame은 표 같은 스프레드시트 형식의 자료구조이고 여러 개의 컬럼이 있는데 각 컬럼은 서로 다른 종류의 값을 담을 수 있음
- 하나 이상의 2차원 배열에 저장됨

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [ ]:
frame = pd.DataFrame(data)

frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [ ]:
frame.head()  ### 5개만 출력

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [ ]:
pd.DataFrame(data, columns = ['year', 'state', 'pop'])  ## columns 순서 지정 가능

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [ ]:
frame2 = pd.DataFrame(data, columns = ['year', 'state', 'pop', 'debt'],
                      index = ['one', 'two', 'three', 'four', 'five', 'six'])

frame2  ### 사전에 없는 값을 넘기면 결측치로 지정됨

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [ ]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

- DataFrame의 컬럼은 Series처럼 사전 형식의 표기법으로 접근하거나 속성 형식으로 접근할 수 있음

In [ ]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [ ]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

- frame2[column] 형태는 어떤 칼럼이든 가능하지만 frame2.column 형태는 안될 때도 있으므로 전자 권장

- 로우는 위치나 loc 속성을 이용해 이름을 통한 접근 가능

In [ ]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

- columns 대입 가능
- 리스트나 배열을 column에 대입할 때는 대입하려는 값의 길이가 DataFrame의 크기와 동일해야 함

In [ ]:
frame2['debt'] = 16.5

frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

In [ ]:
frame2['debt'] = np.arange(6.)

frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index = ['two', 'four', 'five'])

frame2['debt'] = val

frame2  ### 존재하지 않는 색인에는 결측치 대입됨

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

- del, drop 예약어로 칼럼 삭제 가능
- 인덱싱으로 필요한 칼럼만 뽑은 후 저장하는 방법도 있음

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'

In [ ]:
frame2

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False

In [ ]:
del frame2['eastern']

In [ ]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

- DataFrame의 색인을 이용해서 얻은 컬럼은 내부 데이터에서 뷰(View)이며 복사가 이루어지지 않음
- 얻은 Series 객체에 대한 변경은 실제 DataFrame에 반영됨
- 복사본이 필요하면 copy 메서드 이용

In [ ]:
pop = {'Nevada' : {2001: 2.4, 2002: 2.9},
       'Ohio' : {2000: 1.5, 2001: 1.7, 2002: 3.6}}

pop

{'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3 = pd.DataFrame(pop)

frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [ ]:
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [ ]:
pd.DataFrame(pop, index = [2001, 2002, 2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [ ]:
pdata = {'Ohio' : frame3['Ohio'][:-1],
         'Nevada' : frame3['Nevada'][:2]}

pd.DataFrame(pdata)

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9

- dataframe의 색인과 컬럼에 name 속성을 지정했다면 함께 출력됨

In [ ]:
frame3.index.name = 'year'; frame3.columns.name = 'state'

frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

- Series와 유사하게 value 속성은 DataFrame에 저장된 데이터를 2차원 배열로 반환함
- array로 반환됨

In [ ]:
frame3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

In [ ]:
frame2.values

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, -1.2],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, -1.5],
       [2002, 'Nevada', 2.9, -1.7],
       [2003, 'Nevada', 3.2, nan]], dtype=object)

### **색인 객체**
- pandas의 색인 객체는 표 형식의 데이터에서 각 로우와 컬럼에 대한 이름과 다른 메타데이터를 저장하는 객체임

In [ ]:
obj = Series(range(3), index = ['a', 'b', 'c'])

index = obj.index

index

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
index[1:]

Index(['b', 'c'], dtype='object')

- index 한 개만 변경할 수 없음

In [ ]:
index[1] = 'd'

TypeError: ignored

In [ ]:
labels = pd.Index(np.arange(3))

labels

Int64Index([0, 1, 2], dtype='int64')

In [ ]:
obj2 = pd.Series([1.5, -2.5, 0], index = labels)

obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [ ]:
obj.index is labels

False

In [ ]:
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [ ]:
frame3.columns

Index(['Nevada', 'Ohio'], dtype='object', name='state')

In [ ]:
'Ohio' in frame3.columns

True

In [ ]:
2003 in frame3.index

False

- 파이썬의 집합과 달리 pandas의 인덱스는 중복되는 값을 허용함

In [ ]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])

dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

## 2. 핵심 기능

### **재색인**
- reindex : 새로운 색인에 맞도록 객체를 새로 생성함

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index = ['d', 'b', 'a', 'c'])

obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])

obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

- 시계열 같은 순차적인 데이터를 재색인할 때 값을 보간하거나 채워 넣어야 할 경우가 있음
- method 옵션을 이용해서 채울 수 있음
- ffill(foward fill)같은 메서드 이용

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index = [0, 2, 4])

obj3

0      blue
2    purple
4    yellow
dtype: object

In [ ]:
obj3.reindex(range(6), method = 'ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

- DataFrame에 대한 reindex는 로우(색인), 컬럼 또는 둘 다 변경 가능함
- 순서만 전달하면 로우가 재색인됨

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index = ['a', 'c', 'd'],
                     columns = ['Ohio', 'Texas', 'California'])

frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])

frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [ ]:
states = ['Texas', 'Utah', 'California']

frame.reindex(columns = states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

- 재색인은 loc를 이용해서 라벨로 색인하면 좀 더 간결하게 할 수 있으며 대부분의 사용자는 명시적으로 이 방식을 선호함

In [ ]:
frame.loc[['a', 'b', 'c', 'd'], states]

KeyError: ignored

### **하나의 로우나 컬럼 삭제하기**
- drop

In [ ]:
import pandas as pd
import numpy as np

obj = pd.Series(np.arange(5), index = ['a', 'b', 'c', 'd', 'e'])

obj

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [ ]:
new_obj = obj.drop('c')

In [ ]:
new_obj

a    0
b    1
d    3
e    4
dtype: int64

In [ ]:
obj.drop(['d', 'c'])

a    0
b    1
e    4
dtype: int64

- DataFrame에서는 로우와 칼럼 모두에서 값을 삭제할 수 있음

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4, 4),
                    index = ['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns = ['one', 'two', 'three', 'four'])

data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

- drop 함수에 인자로 로우 이름 넘기면 해당 로우의 값을 모두 삭제
- axis = 1 or 0 인자를 꼭 넣기!!

In [ ]:
data.drop(['Colorado', 'Ohio'], axis = 0)

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
data.drop('two', axis = 1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [ ]:
data.drop(['two', 'four'], axis = 'columns')

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [ ]:
## drop 내용 저장할 때 inplace = True
obj.drop('c', inplace = True)

obj

a    0
b    1
d    3
e    4
dtype: int64

### **색인하기, 선택하기, 거르기**

In [ ]:
obj = pd.Series(np.arange(4.), index = ['a', 'b', 'c', 'd'])

obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [ ]:
obj['b']

1.0

In [ ]:
obj[1]

1.0

In [ ]:
obj[2:4]

c    2.0
d    3.0
dtype: float64

In [ ]:
obj[['b', 'a', 'd']]

b    1.0
a    0.0
d    3.0
dtype: float64

In [ ]:
obj[[1, 3]]

b    1.0
d    3.0
dtype: float64

In [ ]:
obj[obj < 2]

a    0.0
b    1.0
dtype: float64

- 라벨 이름으로 슬라이싱하면 시작점과 끝점을 포함함

In [ ]:
obj['b':'c']

b    1.0
c    2.0
dtype: float64

In [ ]:
obj['b':'c'] = 5

obj

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

- 색인으로 DataFrame에서 하나 이상의 컬럼값을 가져올 수 있음

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4, 4),
                    index = ['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns = ['one', 'two', 'three', 'four'])

data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [ ]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [ ]:
data[['three', 'one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

- 슬라이싱으로 로우를 선택하거나 불리언 배열로 선택할 수 있음

In [ ]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [ ]:
data[data['three'] > 5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

- 스칼라 비교를 이용해 생성된 불리언 DataFrame을 사용해 값 선택

In [ ]:
data < 5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [ ]:
data[data < 5] = 0

data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

<loc과 iloc으로 선택하기>
- 축 이름 선택 시 loc
- 정수 색인으로 선택 시 iloc

In [ ]:
data.loc['Colorado', ['two', 'three']]

two      5
three    6
Name: Colorado, dtype: int64

In [ ]:
data.iloc[2, [3, 0, 1]]

four    11
one      8
two      9
Name: Utah, dtype: int64

In [ ]:
data.iloc[2]

one       8
two       9
three    10
four     11
Name: Utah, dtype: int64

In [ ]:
data.iloc[[1, 2], [3, 0, 1]]

          four  one  two
Colorado     7    0    5
Utah        11    8    9

In [ ]:
data.loc[:'Utah', 'two']

Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int64

In [ ]:
data.iloc[:, :3][data.three > 5]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

### **정수 색인**
- label index가 0, 1, 2를 포함하는 경우 사용자가 label index로 값을 선택하려는 것인지 정수 색인으로 선택하려는 것인지 추측 어려움
- 정수 기반의 색인 사용시 모호함 사라짐

In [ ]:
ser = pd.Series(np.arange(3.))

ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [ ]:
ser[-1]

KeyError: ignored

In [ ]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [ ]:
ser2 = pd.Series(np.arange(3.), index = ['a', 'b', 'c'])

ser2[-1]

2.0

- 일관성 유지를 위해 정숫값을 담고 있는 축 색인이 있다면 우선적으로 라벨을 먼저 찾아보기
- 라벨 - loc / 정수색인 - iloc

In [ ]:
ser[:1]

0    0.0
dtype: float64

In [ ]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [ ]:
ser.iloc[:1]

0    0.0
dtype: float64

### **산술 연산과 데이터 정렬**

- 다른 색인을 갖고 있는 객체 간의 산술연산
- 객체를 더할 때 짝이 맞지 않는 색인이 있다면 결과에 두 색인이 통합된다.

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index = ['a', 'c', 'd', 'e'])

s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [ ]:
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index = ['a', 'c', 'e', 'f', 'g'])

s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [ ]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

- 서로 겹치는 색인이 없는 경우 데이터는 NA 값이 된다.
- 산술 연산 시 누락된 값은 전파된다.
- DataFrame의 경우 정렬은 로우와 컬럼 모두에 적용된다.

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns = list('bcd'), index = ['Ohio', 'Texas', 'Colorado'])
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [ ]:
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns = list('bde'), index = ['Utah', 'Ohio', 'Texas', 'Oregon'])
df2

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [ ]:
df1 + df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

- 'c'와 'e'컬럼이 양쪽에 존재하지 않으므로 결과에서는 모두 없는 값으로 나타남
- 로우 역시 마찬가지로 양쪽에 다 존재하지 않는 라벨에 대해서는 없는 값으로 나타남

In [ ]:
df1 = pd.DataFrame({'A' : [1, 2]})

df2 = pd.DataFrame({'B' : [3, 4]})

In [ ]:
df1

   A
0  1
1  2

In [ ]:
df2

   B
0  3
1  4

In [ ]:
df1- df2

    A   B
0 NaN NaN
1 NaN NaN

<산술 연산 메서드에 채워 넣을 값 지정하기>
- 서로 다른 색인을 가지는 객체 간의 산술 연산에서 존재하지 않는 축의 값을 특수한 값으로 지정하고 싶을 때

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns = list('abcd'))

df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [ ]:
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns = list('abcde'))

df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [ ]:
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

- df1에 add 메서드를 사용하고 df2와 fill_value 값을 인자로 전달한다.

In [ ]:
df1.add(df2, fill_value = 0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

- 각각의 산술 연산 메서드는 r로 시작하는 계산 인자를 뒤집어 계산하는 짝궁 메서드를 가진다.

In [ ]:
1 / df1

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [ ]:
df1.rdiv(1)

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

- Series나 DataFrame을 재색인할 때도 fill_value를 지정할 수 있음

In [ ]:
df1.reindex(columns = df2.columns, fill_value = 0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

<산술 연산 메서드>
- add, radd : 덧셈
- sub, rsub : 뺄셈
- div, rdiv : 나눗셈
- floordiv, rfloordiv : 소수점 내림 연산
- mul, rmul : 곱셈
- pow, rpow : 멱승(**)

<DataFrame과 Series 간의 연산>

In [ ]:
arr = np.arange(12.).reshape((3, 4))

arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [ ]:
arr[0]

array([0., 1., 2., 3.])

In [ ]:
arr - arr[0]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

- arr에서 arr[0]을 빼면 계산은 각 로우에 대해 한 번씩만 수행됨
- 이를 브로드캐스팅이라고 함

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                    columns = list('bde'),
                    index = ['Utah', 'Ohio', 'Texas', 'Oregon'])

series = frame.iloc[0]

In [ ]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [ ]:
series

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

- 기본적으로 DataFrame과 Series 간의 산술연산은 Series의 색인을 DataFrame의 컬럼에 맞추고 아래 로우로 전파함

In [ ]:
frame - series

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

- 만약 색인값을 DataFrame의 컬럼이나 Series의 색인에서 찾을 수 없다면 그 객체는 형식을 맞추기 위해 재색인된다.

In [ ]:
series2 = pd.Series(np.arange(3), index = ['b', 'e', 'f'])

In [ ]:
frame + series2

          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN

- 각 행에 대해 연산을 수행하고싶으면 산술 연산 메서드 사용

In [ ]:
series3 = frame['d']

frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [ ]:
series3

Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64

In [ ]:
frame.sub(series3, axis = 'index')

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

- 인자로 넘기는 axis 값은 연산을 적용할 축 번호다.
- axis = 'index'나 axis = 0은 DataFrame의 로우를 따라 연산을 수행하라는 의미다.

### **함수 적용과 매핑**
- pandas 객체에도 NumPy의 유니버설함수(배열의 각 원소에 적용되는 메서드)를 적용할 수 있음

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns = list('bde'),
                     index = ['Utah', 'Ohio', 'Texas', 'Oregon'])

frame

               b         d         e
Utah    0.649187  0.901976  0.553915
Ohio    0.739577  0.975745 -1.112120
Texas  -0.388685  0.208654  0.628615
Oregon -0.923424 -1.716398 -0.301451

In [ ]:
np.abs(frame)

               b         d         e
Utah    0.649187  0.901976  0.553915
Ohio    0.739577  0.975745  1.112120
Texas   0.388685  0.208654  0.628615
Oregon  0.923424  1.716398  0.301451

- 자주 사용되는 또 다른 연산은 각 컬럼이나 로우의 1차원 배열에 함수를 적용하는 것이다.
- DataFrame의 apply 메서드를 이용해 수행할 수 있음

In [ ]:
f = lambda x: x.max() - x.min()

frame.apply(f)

b    1.663001
d    2.692143
e    1.740735
dtype: float64

- 여기서 함수 f는 frame의 각 컬럼에 대해 한 번만 수행되며 결괏값은 계산을 적용한 컬럼을 색인으로 하는 Series를 반환한다.

In [ ]:
frame.apply(f, axis = 'columns')  ## apply 함수에 axis = 'columns' 인자를 넘기면 각 로우에 대해 한 번씩만 수행된다.

Utah      0.348061
Ohio      2.087866
Texas     1.017301
Oregon    1.414947
dtype: float64

- 배열에 대한 일반적인 통계(sum이나 mean같은)는 DataFrame의 메서드로 존재하므로 apply 메서드를 사용할 필요 없다.
- apply 메서드에 전달된 함수는 스칼라값을 반환할 필요가 없음(1개의 값을 반환할 필요 없음)
- 여러 값을 가진 Series를 반환해도 됨

In [ ]:
def f(x):
  return pd.Series([x.min(), x.max()], index = ['min', 'max'])

fram.apply(f)

       b     d     e
min  0.0   1.0   2.0
max  9.0  10.0  11.0

- 배열의 각 원소에 적용되는 파이썬의 함수를 사용할 수 있음
- frame 객체에서 실숫값을 문자열 포맷으로 변환하고싶다면 applymap을 이용

In [ ]:
format = lambda x: '%.2f' %x

frame.applymap(format)

            b      d      e
Utah     0.65   0.90   0.55
Ohio     0.74   0.98  -1.11
Texas   -0.39   0.21   0.63
Oregon  -0.92  -1.72  -0.30

In [ ]:
frame['e'].map(format)

Utah       0.55
Ohio      -1.11
Texas      0.63
Oregon    -0.30
Name: e, dtype: object

### **정렬과 순위**
- sort_index : 로우나 컬럼의 색인을 알파벳순으로 정렬 후 새로운 객체를 반환

In [ ]:
obj = pd.Series(range(4), index = ['d', 'a', 'b', 'c'])

obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

- DataFrame은 로우나 컬럼 중 하나의 축을 기준으로 정렬할 수 있음

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index = ['three', 'one'],
                     columns = ['d', 'a', 'b', 'c'])

frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [ ]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [ ]:
frame.sort_index(axis = 1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

- 오름차순, 내림차순

In [ ]:
frame.sort_index(axis = 1, ascending = False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

- Series 객체를 값에 따라 정렬하고 싶다면 sort_values 메서드 사용

In [ ]:
obj = pd.Series([4, 7, -3, 2])
obj

0    4
1    7
2   -3
3    2
dtype: int64

In [ ]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

- 정렬할 때 비어 있는 값은 기본적으로 Series 객체에서 가장 마지막에 위치함

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj

0    4.0
1    NaN
2    7.0
3    NaN
4   -3.0
5    2.0
dtype: float64

In [ ]:
obj.sort_values

<bound method Series.sort_values of 0    4.0
1    NaN
2    7.0
3    NaN
4   -3.0
5    2.0
dtype: float64>

- DataFrame에서 하나 이상의 컬럼에 있는 값으로 정렬을 하는 경우 sort_values 함수의 by 옵션에 하나 이상의 칼럼 이름을 넘기면 됨

In [ ]:
frame = pd.DataFrame({'b' : [4, 7, -3, 2], 'a' : [0, 1, 0, 1]})

frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [ ]:
frame.sort_values(by = 'a')

   b  a
0  4  0
2 -3  0
1  7  1
3  2  1

- 여러 개의 컬럼을 정렬하려면 컬럼 이름이 담긴 리스트를 전달하면 됨

In [ ]:
frame.sort_values(by = ['a', 'b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

- 순위는 정렬과 거의 흡사한데, 1부터 배열의 유효한 데이터 개수까지 순서를 매김
- 기본적으로 Series와 DataFrame의 rank 메서드는 동점인 항목에 대해서는 평균 순위를 매김

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])

obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [ ]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

- 데이터 상에서 나타나는 순서에 따라 순위를 매길 수 있음
- 0번째와 2번째 항목에 대해 평균 순위인 6.5를 적용하는 대신 먼저 출현한 순서대로 6과 7을 적용

In [ ]:
obj.rank(method = 'first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

- 내림차순으로 순위 매기기

In [ ]:
obj.rank(ascending = False, method = 'max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

- DataFrame에서는 로우나 컬럼에 대해 순위를 정할 수 있음

In [ ]:
frame = pd.DataFrame({'b' : [4.3, 7, -3, 2], 'a' : [0, 1, 0, 1], 'c' : [-2, 5, 8, -2.5]})

frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [ ]:
frame.rank(axis = 'columns')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

### **중복 색인**

In [ ]:
obj = pd.Series(range(5), index = ['a', 'a', 'b', 'b', 'c'])

obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

- is_unique 속성은 해당 값이 유일한지 아닌지 알려줌

In [ ]:
obj.index.is_unique

False

- 중복되는 색인값이 없을 때는 색인을 이용해 데이터에 접근하면 스칼라 값을 반환
- 중복된 색인값이 있을 때는 하나의 Series 객체를 반환

In [ ]:
obj['a']

a    0
a    1
dtype: int64

In [ ]:
obj['c']

4

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), index = ['a', 'a', 'b', 'b'])

df

          0         1         2
a  0.503475  0.727527  0.311784
a  0.609244  0.902335  1.557458
b -0.416373  1.467799  0.436401
b  0.919513  0.844591 -1.138620

In [ ]:
df.loc['b']

          0         1         2
b -0.416373  1.467799  0.436401
b  0.919513  0.844591 -1.138620

## 3. 기술 통계 계산과 요약
- pandas 객체는 일반적인 수학 메서드와 통계 메서드를 갖고있음
- 이 메서드의 대부분은 하나의 Series나 DataFrame의 로우나 컬럼에서 단일값을 구하는 축소 혹는 요약 통계 범주에 속함
- pandas의 메서드는 처음부터 누락된 데이터를 제외하도록 설계되었음

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                  [np.nan, np.nan], [0.75, -1.3]],
                  index = ['a', 'b', 'c', 'd'],
                  columns = ['one', 'two'])

df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [ ]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [ ]:
df.sum(axis = 'columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

- 전체 로우나 컬럼의 값이 NA가 아니라면 NA 값은 제외되고 계산됨
- skipna 옵션으로 조정 가능

In [ ]:
df.mean(axis = 'columns', skipna = False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

<축소 메서드의 옵션>
- axis : 연산을 수행할 축
- skipna : 누락된 값을 제외할 것인지 정하는 옵션, 기본값은 True
- level : 계산하려는 축이 계층적 색인이라면 레벨에 따라 묶어서 계산

- idxmin이나 idxmax 같은 메서드는 최솟값 혹은 최댓값을 가지고 있는 색인값과 같은 간접 통계를 반환함

In [ ]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [ ]:
df.idxmax()

one    b
two    d
dtype: object

- 누산(accumulation)

In [ ]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

- describe

In [ ]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

- 수치 데이터가 아닐 경우 describe는 다른 요약 통계 생성

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)

obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [ ]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

<요약 통계 관련 메서드>
- count : NA 값을 제외한 값의 수를 반환
- describe : Series나 DataFrame의 각 컬럼에 대한 요약 통계 계산
- min, max : 최솟값과 최댓값 계산
- argmin, argmax : 각각 최솟값과 최댓값을 담고 있는 색인의 위치(정수)를 반환
- idxmin, idxmax : 각각 최솟값과 최댓값을 담고 있는 색인의 값을 반환
- quantile : 0부터 1까지의 분위수를 계산
- sum : 합을 계산
- mean : 평균을 계산
- median : 중간값(50% 분위)를 반환
- var : 표본분산의 값을 계산
- std : 표본표준편차의 값을 계산
- cumsum : 누적합 계산
- cummin, cummax : 각각 누적 최솟값, 누적 최댓값을 계산
- diff : 1차 산술차 계산(시계열 데이터 처리 시 유용)
- pct_change : 퍼센트 변화율 계산

### **상관관계와 공분산**
- 상관관계나 공분산 같은 요약 통계 계산은 두 쌍의 인자를 필요로 함

- corr 메서드는 NA가 아니며 정렬된 색인에서 연속하는 두 Series에 대해 상관관계를 계산
- cov 메서드는 공분산을 계산

- DataFrame에서 corr과 cov 메서드는 DataFrame 행렬에서 상관관계와 공분산을 계산
- DataFrame의 corrwith 메서드를 사용하면 다른 Series나 DataFrame과의 상관관계를 계산

### **유일값, 값 세기, 멤버십**
- 또 다른 종류의 메서드로는 1차원 Series에 담긴 값의 정보를 추출하는 메서드가 있음

In [ ]:
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [ ]:
uniques = obj.unique()

uniques

array(['a', 'b', 'c'], dtype=object)

- 유일값은 정렬된 순서대로 반환되지 않지만 필요하다면 uniques.sort()를 이용해 나중에 정렬 가능
- value_counts 메서드는 Series에서 도수(frequency)를 계산하여 반환

In [ ]:
obj.value_counts()

a    8
b    4
c    4
dtype: int64

- value_counts에서 반환하는 Series는 담고 있는 값을 내림차순으로 정렬
- value_counts 메서드는 pandas의 최상위 메서드로, 어떤 배열인 순차 자료구조에서도 사용할 수 있음

In [ ]:
obj.values

array(['a', 'a', 'b', 'c', 'a', 'a', 'b', 'c', 'a', 'a', 'b', 'c', 'a',
       'a', 'b', 'c'], dtype=object)

In [ ]:
pd.value_counts(obj.values, sort = False)

a    8
b    4
c    4
dtype: int64

- isin 메서드는 어떤 값이 Series에 존재하는지 나타내는 불리언 벡터를 반환
- Series나 DataFrame의 컬럼에서 값을 골라내고 싶을 때 유용하게 사용할 수 있음

In [ ]:
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [ ]:
mask = obj.isin(['b', 'c'])

In [ ]:
mask

0     False
1     False
2      True
3      True
4     False
5     False
6      True
7      True
8     False
9     False
10     True
11     True
12    False
13    False
14     True
15     True
dtype: bool

In [ ]:
obj[mask]

2     b
3     c
6     b
7     c
10    b
11    c
14    b
15    c
dtype: object

- isin과 관련이 있는 Index.get_indexer 메서드는 여러 값이 들어있는 배열에서 유일하게 값의 색인 배열을 구할 수 있음

In [ ]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])

to_match

0    c
1    a
2    b
3    b
4    c
5    a
dtype: object

In [ ]:
unique_vals = pd.Series(['c', 'b', 'a'])

unique_vals

0    c
1    b
2    a
dtype: object

In [ ]:
pd.Index(unique_vals)

Index(['c', 'b', 'a'], dtype='object')

In [ ]:
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2])

- DataFrame의 여러 컬럼에 대해 히스토그램을 구해야 하는 경우

In [ ]:
data = pd.DataFrame({'Qu1' : [1, 3, 4, 3, 4],
                     'Qu2' : [2, 3, 1, 2, 3],
                     'Qu3' : [1, 5, 2, 4, 4]}) 

data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

- 위 DataFrame의 apply 함수에 pandas.value_counts를 넘기면 다음과 같은 결과를 얻음

In [ ]:
result = data.apply(pd.value_counts).fillna(0)

result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

- 결괏값의 로우 라벨은 전체 컬럼의 유일한 값들을 담고있음
- 각 값은 각 컬럼에서 해당 값이 몇 번 출현했는지 나타냄

# 데이터 로딩과 저장, 파일 형식

## 1. 텍스트 파일에서 데이터를 읽고 쓰는 법

- read_csv
- read_table
- read_clipboard
- read_excel
- 더 많지만 그 때마다 찾아서 사용하는 것을 추천

In [ ]:
df = pd.read_csv('examples_ex1.csv')

df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
df = pd.read_table('examples_ex1.csv', sep = ',')

df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

- pandas가 자동으로 컬럼 이름을 생성하도록 하거나 우리가 직접 컬럼 이름을 설정

In [ ]:
pd.read_csv('examples_ex1.csv', header = None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [ ]:
pd.read_csv('examples_ex1.csv', names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

- message 컬럼을 색인으로 하는 DataFrame을 반환하려면 index_col 인자에 4번째 컬럼 또는 'message' 이름 컬럼을 지정
- index_col 지정하면 계층적 색인 지정 가능

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']

pd.read_csv('examples_ex1.csv', names = names, index_col = 'message')

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']

pd.read_csv('examples_ex1.csv', names = names, index_col = ['message', 'a'])

            b   c   d
message a
message a   b   c   d
hello   1   2   3   4
world   5   6   7   8
foo     9  10  11  12

- 공백 구분을 정규 표현식 \s+를 사용해 처리할 수 있음

In [ ]:
result = pd.read_csv('examples_ex1.csv', sep = '\s+')

result

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

### **텍스트 파일 조금씩 읽어오기**
- pd.options.display.max_rows = 10
- 위 설정은 한 번 설정해놓으면 계속 적용되므로 나중에 늘려서 보고싶을 때 힘듦
- nrows 옵션 사용 권장

In [ ]:
pd.read_csv('examples_ex1.csv', nrows = 3)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### **구분자 형식 다루기**

In [ ]:
import csv
f = open('examples_ex7.csv')

reader = csv.reader(f)

In [ ]:
for line in reader:
  print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

- 위의 방법 잘 사용하지 않음

In [ ]:
with open('examples_ex7.csv') as f:
  lines = list(csv.reader(f))

header, values = lines[0], lines[1:]

In [ ]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

- 아래 방법 권장
- r : 읽기
- a : 더하기
- w : 새로 작성

In [ ]:
with open("examples_ex7.csv", "r") as f:
  print(f.readlines())

['"a","b","c"\n', '"1","2","3"\n', '"1","2","3"']

In [ ]:
with open("examples_ex7.csv", "r") as f:
  print(f.read())

"a","b","c"
"1","2","3"
"1","2","3"

In [ ]:
with open("examples_ex7.csv", "r") as f:
  print(f.readline())

"a","b","c"

### **JSON 데이터**
- pandas.read_json은 자동으로 JSON 데이터셋을 Series나 DataFrame으로 변환할 수 있음

## 2. 이진 데이터 형식
- 데이터를 효율적으로 저장하는 쉬운 방법은 파이썬에 기본으로 내장되어 있는 pickle 직렬화 사용해 데이터를 이진 형식으로 저장하는 것
- pandas는 to_pickle 있음

In [ ]:
frame = pd.read_csv('examples_ex1.csv')

frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
frame.to_pickle('examples_frame_pickle')

In [ ]:
pd.read_pickle('examples_frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

- pickle은 오랜 시간이 지나도 안정적으로 데이터를 저장할 거라고 보장하기 힘듦
- 오래 보관할 필요가 없는 데이터일 경우에만 추천

## 3. 웹 API와 함께 사용하기

In [ ]:
import requests

In [ ]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues' 

resp = requests.get(url)

resp

In [ ]:
data = resp.json()

data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/48806',
  'id': 1387444078,
  'node_id': 'I_kwDOAA0YD85Ssrdu',
  'number': 48806,
  'title': 'BUG: Bar plot with integer index does not place bars at index positions which makes xlim fail',
  'user': {'login': 'cfblaeb',
   'id': 6593035,
   'node_id': 'MDQ6VXNlcjY1OTMwMzU=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/6593035?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/cfblaeb',
   'html_url': 'https://github.com/cfblaeb',
   'followers_url': 'https://api.github.com/users/cfblaeb/followers',
   'following_url': 'https://api.github.com/users/cfblaeb/following{/other_user}',
   'gists_url': 'https://api.github.com/users/cfblaeb/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/cfblaeb/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/cfblaeb/subscriptions',
   'organizations_url': 'https://api.github.com/users/cfblaeb/orgs',
   'repos_url': 'https://api.github.com/users/cfblaeb/repos',
   'events_url': 'https://api.github.com/users/cfblaeb/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/cfblaeb/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-09-27T09:39:12Z',
  'updated_at': '2022-09-27T09:39:12Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': "### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [X] I have confirmed this bug exists on the main branch of pandas.\n\n\n### Reproducible Example\n\n```python\nimport pandas as pd\r\ndata = {3:4,4:8,5:1,6:4,7:6}\r\npd.Series(data).plot(kind='bar', xlim=(4,6))\r\n# the above plot doesnt respect the xlim\r\n# the below plot does respect xlim\r\nfrom matplotlib import pyplot as plt\r\nplt.bar(data.keys(), data.values())\r\nplt.xlim(4,6)\n```\n\n\n### Issue Description\n\nPlot bar does not respect xlim.\r\nThe cause, as far as I can tell, is pandas simply puts each element on the x axis in order staring from zero: 0, 1, 2 etc...\n\n### Expected Behavior\n\nWhen the index is a number, I would expect it to put the bars the index positions similar to how line plot does it (and how matplotlib pyplot bars does it).\r\nHowever, this should probably be a flag, since I could imagine people would occasionally want to treat even a numbered index as a set of labels rather than actual positions.\n\n### Installed Versions\n\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : 49d4c075e015b5cec0c334554d9d980ae6bf0224\r\npython           : 3.10.7.final.0\r\npython-bits      : 64\r\nOS               : Linux\r\nOS-release       : 5.15.0-48-generic\r\nVersion          : #54-Ubuntu SMP Fri Aug 26 13:26:29 UTC 2022\r\nmachine          : x86_64\r\nprocessor        : x86_64\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : en_DK.UTF-8\r\nLOCALE           : en_DK.UTF-8\r\n\r\npandas           : 1.6.0.dev0+215.g49d4c075e\r\nnumpy            : 1.23.3\r\npytz             : 2022.2.1\r\ndateutil         : 2.8.2\r\nsetuptools       : 65.4.0\r\npip              : 22.2.2\r\nCython           : 0.29.32\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : 3.0.3\r\nlxml.etree       : 4.9.1\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 3.1.2\r\nIPython          : 8.5.0\r\npandas_datareader: None\r\nbs4              : 4.11.1\r\nbottleneck       : None\r\nbrotli           : None\r\nfastparquet      : None\r\nfsspec           : None\r\ngcsfs            : None\r\nmatplotlib       : 3.6.0\r\nnumba            : None\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : 3.0.10\r\npandas_gbq       : None\r\npyarrow          : None\r\npyreadstat       : None\r\npyxlsb           : None\r\ns3fs             : None\r\nscipy            : 1.9.1\r\nsnappy           : None\r\nsqlalchemy       : None\r\ntables           : None\r\ntabulate         : None\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nzstandard        : None\r\ntzdata           : None\r\n\r\n</details>\r\n",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48805',
  'id': 1387090446,
  'node_id': 'PR_kwDOAA0YD84_qPpH',
  'number': 48805,
  'title': 'Added padding and fixed columns for sponsor logos in mobile view',
  'user': {'login': 'amay-patel',
   'id': 92037532,
   'node_id': 'U_kgDOBXxhnA',
   'avatar_url': 'https://avatars.githubusercontent.com/u/92037532?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/amay-patel',
   'html_url': 'https://github.com/amay-patel',
   'followers_url': 'https://api.github.com/users/amay-patel/followers',
   'following_url': 'https://api.github.com/users/amay-patel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/amay-patel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/amay-patel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/amay-patel/subscriptions',
   'organizations_url': 'https://api.github.com/users/amay-patel/orgs',
   'repos_url': 'https://api.github.com/users/amay-patel/repos',
   'events_url': 'https://api.github.com/users/amay-patel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/amay-patel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-09-27T04:54:17Z',
  'updated_at': '2022-09-27T04:54:17Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/48805',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/48805',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/48805.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/48805.patch',
   'merged_at': None},
  'body': 'Added padding and fixed columns for sponsor logos in mobile view\r\n\r\n- [ ] closes #48519  (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48804',
  'id': 1387017557,
  'node_id': 'PR_kwDOAA0YD84_qAIu',
  'number': 48804,
  'title': 'TST: Suppress Series constructor warning',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 1628184320,
    'node_id': 'MDU6TGFiZWwxNjI4MTg0MzIw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Warnings',
    'name': 'Warnings',
    'color': 'f2f074',
    'default': False,
    'description': 'Warnings that appear or should be added to pandas'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-09-27T03:24:19Z',
  'updated_at': '2022-09-27T03:24:19Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/48804',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/48804',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/48804.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/48804.patch',
   'merged_at': None},
  'body': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/48803',
  'id': 1386980560,
  'node_id': 'I_kwDOAA0YD85Sq6TQ',
  'number': 48803,
  'title': 'DOC: Remove unsupported parameters in `Resampler.mean`',
  'user': {'login': 'donghyyun',
   'id': 31753237,
   'node_id': 'MDQ6VXNlcjMxNzUzMjM3',
   'avatar_url': 'https://avatars.githubusercontent.com/u/31753237?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/donghyyun',
   'html_url': 'https://github.com/donghyyun',
   'followers_url': 'https://api.github.com/users/donghyyun/followers',
   'following_url': 'https://api.github.com/users/donghyyun/following{/other_user}',
   'gists_url': 'https://api.github.com/users/donghyyun/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/donghyyun/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/donghyyun/subscriptions',
   'organizations_url': 'https://api.github.com/users/donghyyun/orgs',
   'repos_url': 'https://api.github.com/users/donghyyun/repos',
   'events_url': 'https://api.github.com/users/donghyyun/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/donghyyun/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-09-27T02:31:28Z',
  'updated_at': '2022-09-27T03:08:31Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': "### Pandas version checks\n\n- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)\n\n\n### Location of the documentation\n\nhttps://pandas.pydata.org/docs/reference/api/pandas.core.resample.Resampler.mean.html\n\n### Documentation problem\n\nAccording to the [comment](https://github.com/pandas-dev/pandas/issues/48675#issuecomment-1255369994), numba engine hasn't be implemented for `resample`.\r\n\r\nHowever, the reference document says that they are supporting the numba engine.\n\n### Suggested fix for documentation\n\nPlease remove 'engine', 'engine_kwargs' in `parameters` section.",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/reactions',
   'total_count': 1,
   '+1': 1,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/48802',
  'id': 1386976936,
  'node_id': 'I_kwDOAA0YD85Sq5ao',
  'number': 48802,
  'title': 'ENH: support negative axis',
  'user': {'login': 'auderson',
   'id': 48577571,
   'node_id': 'MDQ6VXNlcjQ4NTc3NTcx',
   'avatar_url': 'https://avatars.githubusercontent.com/u/48577571?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/auderson',
   'html_url': 'https://github.com/auderson',
   'followers_url': 'https://api.github.com/users/auderson/followers',
   'following_url': 'https://api.github.com/users/auderson/following{/other_user}',
   'gists_url': 'https://api.github.com/users/auderson/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/auderson/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/auderson/subscriptions',
   'organizations_url': 'https://api.github.com/users/auderson/orgs',
   'repos_url': 'https://api.github.com/users/auderson/repos',
   'events_url': 'https://api.github.com/users/auderson/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/auderson/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2022-09-27T02:25:21Z',
  'updated_at': '2022-09-27T04:30:36Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': '### Feature Type\n\n- [X] Adding new functionality to pandas\n\n- [ ] Changing existing functionality in pandas\n\n- [ ] Removing existing functionality in pandas\n\n\n### Problem Description\n\nIt would be nice if pandas supports negative axis:\r\n```python\r\npd.DataFrame(np.arange(5)).mean(axis=-1)\r\n```\n\n### Feature Description\n\nThis should be easy, only need to extend current `_AXIS_TO_AXIS_NUMBER` with {-1:1, -2:0}\n\n### Alternative Solutions\n\n.\n\n### Additional Context\n\n_No response_',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48800',
  'id': 1386839371,
  'node_id': 'PR_kwDOAA0YD84_pawM',
  'number': 48800,

In [ ]:
data[0]['title']

'BUG: Bar plot with integer index does not place bars at index positions which makes xlim fail'

# 데이터 정제 및 준비

## 1. 누락된 데이터 처리하기

In [ ]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [ ]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [ ]:
string_data[0] = None

string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

<NA 처리 메서드>
- dropna : 누락된 데이터가 있는 축을 제외(어느 정도의 누락 데이터까지 용인할 것인지 지정 가능)
- fillna : 누락된 데이터를 대신할 값을 채우거나 'ffill'이나 'bfill' 적용
- isnull : 누락되거나 NA인 값을 알려주는 불리언값이 저장된 같은 형의 객체를 반환
- notnull : isnull과 반대되는 메서드

### **누락된 데이터 골라내기**

In [ ]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])

data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [ ]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

- dropna는 기본적으로 NA 값을 하나라도 포함하고 있는 로우를 제외시킨다

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3]])

data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
cleaned = data.dropna()

cleaned

     0    1    2
0  1.0  6.5  3.0

- how = 'all' 옵션을 넘기면 모두 NA 값인 로우만 제외됨

In [ ]:
data.dropna(how = 'all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

- 칼럼을 제외시키는 방법도 동일하게 동작함
- 옵션으로 axis = 1을 넘겨주면 됨

In [ ]:
data[4] = np.nan

data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [ ]:
data.dropna(axis = 1, how = 'all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

- DataFrame의 로우를 제외시키는 방법은 시계열 데이터에 주로 사용되는 경향이 있음
- 몇 개 이상의 값이 들어 있는 로우만 살펴보고 싶다면 thresh 인자에 원하는 값을 넘기면 됨

In [ ]:
df = pd.DataFrame(np.random.randn(7, 3))

df.iloc[:4, 1] = np.nan

df.iloc[:2, 2] = np.nan

df

          0         1         2
0  1.107580       NaN       NaN
1  0.544002       NaN       NaN
2 -0.099645       NaN -1.265585
3  1.964762       NaN  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

In [ ]:
df.dropna()

          0         1        2
4  0.541656 -0.300930  1.48625
5  0.058171  1.495408 -0.02579
6 -1.212799 -1.370858 -1.62099

In [ ]:
df.dropna(thresh = 2)

          0         1         2
2 -0.099645       NaN -1.265585
3  1.964762       NaN  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

### **결측치 채우기**
- fillna 사용

In [ ]:
df

          0         1         2
0  1.107580       NaN       NaN
1  0.544002       NaN       NaN
2 -0.099645       NaN -1.265585
3  1.964762       NaN  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

In [ ]:
df.fillna(0)

          0         1         2
0  1.107580  0.000000  0.000000
1  0.544002  0.000000  0.000000
2 -0.099645  0.000000 -1.265585
3  1.964762  0.000000  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

- fillna에 사전값을 넘겨서 각 칼럼마다 다른 값을 채울 수도 있음

In [ ]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0  1.107580  0.500000  0.000000
1  0.544002  0.500000  0.000000
2 -0.099645  0.500000 -1.265585
3  1.964762  0.500000  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

- fillna는 새로운 객체를 반환하지만 다음처럼 기존 객체를 변경할 수 있음

In [ ]:
_ = df.fillna(0, inplace = True)

df

          0         1         2
0  1.107580  0.000000  0.000000
1  0.544002  0.000000  0.000000
2 -0.099645  0.000000 -1.265585
3  1.964762  0.000000  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

- 재색인에서 사용 가능한 보간 메서드는 fillna 메서드에서도 사용 가능

In [ ]:
df = pd.DataFrame(np.random.randn(6, 3))

df.iloc[2:, 1] = np.nan

df.iloc[4:, 2] = np.nan

df

          0         1         2
0 -0.659777 -0.144623 -0.615931
1  0.323453 -0.535215  1.404411
2 -0.030582       NaN -0.029931
3 -0.909035       NaN -0.759846
4 -0.012273       NaN       NaN
5 -0.581588       NaN       NaN

In [ ]:
df.fillna(method = 'ffill')

          0         1         2
0 -0.659777 -0.144623 -0.615931
1  0.323453 -0.535215  1.404411
2 -0.030582 -0.535215 -0.029931
3 -0.909035 -0.535215 -0.759846
4 -0.012273 -0.535215 -0.759846
5 -0.581588 -0.535215 -0.759846

In [ ]:
df.fillna(method = 'ffill', limit = 2)   ## ffill 2번만

          0         1         2
0 -0.659777 -0.144623 -0.615931
1  0.323453 -0.535215  1.404411
2 -0.030582 -0.535215 -0.029931
3 -0.909035 -0.535215 -0.759846
4 -0.012273       NaN -0.759846
5 -0.581588       NaN -0.759846

<fillna 함수 인자>
- value : 비어 있는 값을 채울 스칼라값이나 사전 형식의 객체
- method : 보간 방식, 기본적으로 'ffill'을 사용함
- axis : 값을 채워 넣을 축, 기본값은 axis = 0
- inplace : 복사본을 생성하지 않고 호출한 객체를 변경, 기본값은 False
- limit : 값을 앞 혹은 뒤에서부터 몇 개까지 채울지 지정

## 2. 데이터 변형

### **중복 제거하기**

In [ ]:
data = pd.DataFrame({'k1' : ['one', 'two']*3 + ['two'],
                     'k2' : [1, 1, 2, 3, 3, 4, 4]})

data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

- DataFrame의 duplicated 메서드는 각 로우가 중복인지 아닌지 알려주는 불리언 Series 반환

In [ ]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

- 중복되는 값들 중 처음 쓰여진 값은 중복이 아닌 것으로 나옴
- 두 번째 나올 때부터 중복으로 처리

- drop_duplicates는 duplicated 배열이 False인 DataFrame을 반환

In [ ]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

- 이 두 메서드는 기본적으로 모든 칼럼에 적용되며 중복을 찾아내기 위한 부분합을 따로 지정해 줄 수도 있음

In [ ]:
data['v1'] = range(7)

data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

- duplicated와 drop_duplicates는 기본적으로 처음 발견된 값을 유지함
- keep = 'last' 옵션을 넘기면 마지막으로 발견된 값을 반환

In [ ]:
data.drop_duplicates(['k1', 'k2'], keep = 'last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### **함수나 매핑을 이용해서 데이터 변형하기**

In [ ]:
data = pd.DataFrame({'food' : ['bacon', 'pulled pork', 'bacon',
                               'Pastrami', 'corned beef', 'Bacon',
                               'pastrami', 'honey ham', 'nova lox'],
                     'ounces' : [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [ ]:
meat_to_animal = {'bacon': 'pig',
                  'pulled pork' : 'pig',
                  'pastrami' : 'cow',
                  'corned beef' : 'cow',
                  'honey ham' : 'pig',
                  'nova lox' : 'salmon'}

In [ ]:
lowercased = data['food'].str.lower()  ### 문자열로 수정 후 소문자화

In [ ]:
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [ ]:
data['animal'] = lowercased.map(meat_to_animal)

In [ ]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [ ]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

- map 메서드를 사용하면 데이터의 요소별 변환 및 데이터를 다듬는 작업을 편리하게 수행할 수 있음

### **값 치환하기**

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

- -9999는 누락된 데이터를 나타내기 위한 값
-  replace 메서드를 이용하면 이 값을 pandas에서 인식할 수 있는 NA값으로 치환한 새로운 Series 생성할 수 있음

In [ ]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [ ]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

- 치환하려는 값마다 다른 값으로 치환하려면 누락된 값 대신 새로 지정할 값의 리스트를 사용하면 됨

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

- 두 개의 리스트 대신 사전을 이용하는 것도 가능

In [ ]:
data.replace({-999 : np.nan, -1000 : 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### **축 색인 이름 바꾸기**
- 새로운 자료구조를 만들지 않고 바로 축 이름 변경하기

In [3]:
import numpy as np
import pandas as pd

data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index = ['Ohio', 'Colorado', 'New York'],
                    columns = ['one', 'two', 'three', 'four'])

data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

- map 메서드

In [5]:
transform = lambda x: x[:4].upper()

data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

- 변경된 축 이름 대입하기

In [7]:
data.index = data.index.map(transform)

data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

- 원래 객체를 변경하지 않고 새로운 객체를 생성하려면 rename 메서드를 사용

In [9]:
data.rename(index = str.title, columns = str.upper) ###저장하려면 inplace 하기

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

- rename 메서드는 사전 형식의 객체를 이용해 축 이름 중 일부만 변경하는 것도 가능함

In [10]:
data.rename(index = {'OHIO' : 'INDIANA'},
            columns = {'three' : 'peekaboo'})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

- rename 메서드를 사용하면 DataFrame을 직접 복사해서 index와 columns 속성을 갱신할 필요없이 바로 변경 가능
- 원본 데이터를 바로 변경하려면 inplace = True 옵션 넘겨주면 됨

In [12]:
data.rename(index = {'OHIO' : 'INDIANA'}, inplace = True)

data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

In [13]:
data = pd.DataFrame({'food' : ['bacon', 'pulled pork', 'bacon',
                               'Pastrami', 'corned beef', 'Bacon',
                               'pastrami', 'honey ham', 'nova lox'],
                     'ounces' : [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [14]:
meat_to_animal = {'bacon': 'pig',
                  'pulled pork' : 'pig',
                  'pastrami' : 'cow',
                  'corned beef' : 'cow',
                  'honey ham' : 'pig',
                  'nova lox' : 'salmon'}

In [15]:
data['animal'] = data['food'].copy()

data

          food  ounces       animal
0        bacon     4.0        bacon
1  pulled pork     3.0  pulled pork
2        bacon    12.0        bacon
3     Pastrami     6.0     Pastrami
4  corned beef     7.5  corned beef
5        Bacon     8.0        Bacon
6     pastrami     3.0     pastrami
7    honey ham     5.0    honey ham
8     nova lox     6.0     nova lox

In [16]:
data['animal'] = data['animal'].str.lower().map(meat_to_animal)

In [17]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [18]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four']) 
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [19]:
f = lambda x: x[:4].upper()
f('abcdef')

'ABCD'

In [20]:
data.index

Index(['Ohio', 'Colorado', 'New York'], dtype='object')

In [21]:
data.index = data.index.map(f)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [22]:
data.columns = data.columns.map(f)
data

      ONE  TWO  THRE  FOUR
OHIO    0    1     2     3
COLO    4    5     6     7
NEW     8    9    10    11

In [23]:
data.rename(index = str.title, columns = str.upper, inplace = True)
data

      ONE  TWO  THRE  FOUR
Ohio    0    1     2     3
Colo    4    5     6     7
New     8    9    10    11

### **개별화와 양자화(Discretization and Binning)**

In [24]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32] 

bins = [18, 25, 35, 60, 100]

- ages 데이터를 cut 함수를 이용해서
- 18-25, 26-35, 36-60, 60이상 그룹으로 나누기

In [25]:
cats = pd.cut(ages, bins)  ### pd.cut(연속성 데이터, 자르는 구간)

cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

- 각각의 값에 해당하는 범위와 범위의 level이 결과로 도출됨

In [26]:
cats.codes ### 범위에 해당하는 인덱스로 각각의 값을 나타냄

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [27]:
cats.categories ### 범위

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [29]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

- pd.value_counts(cats)는 pandas.cut 결과에 대한 그룹 수
- 간격을 나타내는 표기법은 중괄호로 시작해서 대괄호로 끝남
- 중괄호 쪽의 값은 포함하지 않고 대괄로 쪽의 값은 포함하는 간격임
- right = False를 넘겨서 중괄호 대신 대괄호 쪽이 포함되지 않도록 바꿀 수 있음

In [30]:
pd.cut(ages, [18, 26, 36, 61, 100], right = False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64, left]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

- labels 옵션으로 그룹의 이름을 직접 넘겨줄 수 도 있음

In [32]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']

pd.cut(ages, bins, labels = group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

- 만약 cut 함수에 명시적으로 그룹의 경곗값을 넘기지 않고 그룹의 개수를 넘겨주면 
- 데이터에서 최솟값과 최댓값을 기준으로 균등한 길이의 그룹을 자동으로 계산함

In [33]:
data = np.random.rand(20)

data

array([0.87627116, 0.42873577, 0.72073809, 0.51355466, 0.76301945,
       0.35441534, 0.51978332, 0.08042043, 0.00431268, 0.15187883,
       0.04978468, 0.45661473, 0.46994305, 0.47522937, 0.85820344,
       0.50557467, 0.8987425 , 0.86743457, 0.20856313, 0.35093244])

In [34]:
pd.cut(data, 4, precision = 2)  ## precision = 2 : 소수점 아래 2자리까지로 제한

[(0.68, 0.9], (0.23, 0.45], (0.68, 0.9], (0.45, 0.68], (0.68, 0.9], ..., (0.45, 0.68], (0.68, 0.9], (0.68, 0.9], (0.0034, 0.23], (0.23, 0.45]]
Length: 20
Categories (4, interval[float64, right]): [(0.0034, 0.23] < (0.23, 0.45] < (0.45, 0.68] < (0.68, 0.9]]

- qcut 함수는 표본 변위치를 기반으로 데이터를 나눠줌

- cut 함수를 사용하면 데이터의 분산에 따라 각각의 그룹마다 데이터 수가 다르게 나뉘는 경우가 많음

- qcut은 표준 변위치를 사용하기 때문에 적당히 같은 크기의 그룹으로 나눌 수 있음

In [36]:
data = np.random.randn(1000)

data

array([ 1.61210832e+00,  5.74932233e-02,  5.41599891e-01,  1.51565221e-01,
        1.61153021e+00, -5.86215199e-01,  7.97060298e-02, -6.00095294e-02,
        5.70581936e-01,  3.04946219e-01,  1.64942092e-02,  2.75910935e+00,
        6.88412962e-01,  8.73695428e-01,  2.22266566e-01,  1.04360505e+00,
       -5.01746922e-01, -8.90322708e-01,  1.23817699e+00, -1.04840638e+00,
       -6.23150891e-01,  4.14128734e-01, -1.67336348e-01,  1.45326390e+00,
       -8.27117156e-01,  2.29889473e-01, -1.16333186e+00, -1.04852454e+00,
        1.89599206e-01, -2.99522707e-01, -5.09134992e-01,  3.49059283e-01,
       -1.34118573e+00,  2.41843872e-01,  1.35559408e+00,  3.23653979e-01,
        1.49626971e+00,  8.38196122e-01,  1.94314847e+00,  9.67788112e-01,
       -7.87621071e-01, -2.69644001e-01, -1.10259244e+00,  8.82257767e-01,
       -1.06122837e+00, -1.05350622e+00,  3.34611702e-01, -6.70540910e-01,
       -3.39708177e-01,  1.29454108e+00, -7.13924349e-01,  1.84050685e-01,
        5.17833498e-01, -1.59924970e+00,  4.26877670e-01,  4.07364204e-01,
        2.96915628e-01,  1.08928493e+00,  9.16776319e-01, -9.40164774e-01,
       -6.91979638e-01, -7.58977420e-02, -9.83847972e-01, -1.25354761e+00,
       -7.33933513e-01, -1.68607930e+00,  2.03455118e+00,  8.05984724e-01,
       -4.42996447e-01, -2.69325934e-01, -4.26626441e-01, -2.46433964e-01,
        3.37921054e-02, -1.74541733e-01, -2.20546219e+00, -4.89078289e-02,
        1.62322406e+00,  1.14282753e+00,  9.55392462e-01,  6.09701420e-01,
       -1.22908261e+00,  1.78110157e+00,  3.93866448e-01, -1.03210510e+00,
       -1.78228665e+00, -1.42988530e+00,  8.22611113e-01, -2.18348612e-01,
        8.35305520e-01, -3.76430818e-01, -2.47629670e+00, -4.79596284e-01,
       -2.44828774e-01, -1.01792495e+00, -1.95240581e+00,  7.83215085e-01,
        2.96454688e-01, -2.76847911e-01,  2.40607477e-01, -2.07314599e-01,
       -3.08859216e-01, -2.71041818e+00, -1.98497091e+00,  1.60788806e+00,
       -7.43499503e-01,  1.02904866e-01, -7.40709483e-01,  1.60777698e+00,
        1.15278292e-01, -4.68441775e-01,  5.81571226e-01, -7.23475289e-01,
        3.76500472e-01, -2.41531441e-01, -2.59043300e-01, -1.14757251e+00,
       -3.85985039e-01, -1.35001348e-01,  1.89425029e+00,  2.46750966e-01,
       -1.09254602e+00,  1.36453239e+00, -1.65654247e+00, -2.00140113e+00,
        4.16035789e-01, -2.79283186e+00, -5.25453531e-01,  2.06610750e+00,
        2.27362008e+00,  6.48034732e-02, -9.48393879e-01,  7.71902450e-01,
       -1.49842053e+00, -1.75313208e-01, -5.31923410e-01, -7.03761926e-01,
        9.58465718e-01,  1.34311365e+00, -6.40728851e-01, -1.67822716e+00,
       -7.58537075e-01, -9.13425636e-01, -4.96126695e-01, -1.53012506e-01,
       -3.00728376e-01,  1.91518381e+00, -4.15593634e-01, -2.35386268e-01,
        3.41553089e-01, -2.49126680e-03, -2.69237747e+00,  9.80215839e-01,
        9.74569813e-01, -5.25855597e-01, -1.23785966e+00, -5.61858215e-01,
        5.89458969e-01, -1.89161513e+00, -9.04564763e-01,  1.07015220e+00,
       -8.11500632e-01,  1.01574113e+00,  1.72863141e+00, -1.16090921e+00,
        3.93624985e-03, -1.40093483e+00, -3.91147196e-01,  3.25734791e-01,
       -1.01562471e+00, -2.71210287e-01,  1.45379329e+00, -1.66964506e+00,
        1.64181395e+00, -1.40569482e+00, -7.99064998e-02,  1.80891241e-01,
       -7.12088851e-01, -8.31389252e-01, -2.26127142e+00, -4.02912892e-01,
        1.41411678e+00,  6.51701373e-02,  1.87013905e+00,  7.94425231e-01,
       -1.00499982e+00, -4.59201985e-01,  1.51322223e-01,  2.29173132e-01,
       -7.25834218e-01, -1.18936143e+00, -4.03164443e-02, -2.36391828e-01,
       -5.44269971e-01,  6.24101889e-01, -1.75040936e+00,  2.90456865e-01,
        1.36559349e-01, -1.52179527e+00,  1.25076494e+00,  7.74908737e-01,
        5.75762707e-01,  1.12544226e+00,  3.17484147e-01,  1.06879025e+00,
       -2.19855710e-01, -9.66233013e-02,  1.99865277e+00, -1.97338428e-01,
        3.43675877e-01,  1.10075103e+00,  4.35812182e-01, -1.89595910e+00,
       -1.80931306e+00,  1.57843847e+00, -5.00902245e-01, -2.49546155e+00,
        1.89538513e+00, -5.80030517e-01, -3.05580073e-02,  1.02549863e-01,
       -5.18747917e-01,  1.49073904e-01,  4.15441981e-01,  1.15813696e+00,
        5.77489205e-01,  1.34074341e+00,  1.76922978e-01, -3.71178520e-01,
        5.09453998e-01, -2.22510930e+00,  2.44687673e+00,  2.00807829e-01,
       -4.05582471e-01,  3.03006771e+00, -7.01036142e-01,  1.62075024e+00,
       -6.10512891e-01,  1.48490782e+00,  5.29165678e-01,  3.32716539e-01,
        1.35658600e-01,  7.65720831e-01, -2.67287397e+00,  4.58102464e-01,
       -1.54685118e+00, -1.90599273e+00,  2.01237871e+00,  2.35906293e-01,
        6.04470231e-01,  2.61556338e-01, -3.36732733e-01, -2.59726854e-01,
        7.36853369e-01, -1.73924200e+00, -2.14179201e-01, -1.93724086e-01,
       -1.18807519e+00,  6.46299586e-01, -3.50054133e-01,  9.46504162e-01,
       -3.38392582e-01, -6.60764237e-01,  3.48347399e-01,  7.90452859e-01,
       -1.36792268e+00, -1.40830099e+00,  5.18292620e-01,  2.23212384e-01,
       -1.07586307e+00, -3.71441794e-01,  4.49778080e-02, -9.25777410e-01,
        6.63980232e-01, -6.17984939e-01, -1.63951802e+00, -1.58733230e-01,
       -9.90120721e-01, -2.06931316e-01, -7.80552395e-01,  1.44834201e+00,
       -1.47678011e+00, -6.24211345e-01, -5.68560595e-01,  4.87973410e-01,
        3.54123609e-01,  2.07648523e-02, -5.89850084e-01,  1.01682064e+00,
       -7.54561120e-01,  2.54866513e-01, -1.22346200e+00, -1.40940458e-01,
       -5.88959140e-02, -5.31681263e-01, -1.80710420e+00, -9.54664216e-01,
        4.52593875e-01,  3.32521752e-01, -1.74459361e+00, -1.47675190e+00,
       -4.11805188e-02,  5.47944641e-01,  2.09512863e+00, -1.51828127e+00,
        4.77278802e-02, -3.71813200e-01,  6.28372806e-01, -2.27622310e-01,
        2.13013692e-01, -6.01007996e-01,  1.39144546e+00, -4.78280860e-01,
        1.00214804e+00,  2.05063307e+00,  7.12247708e-03, -7.29177667e-02,
        9.78148103e-03,  6.62042561e-02, -1.23695040e-01, -6.21513142e-01,
       -2.59718830e-01,  1.46545755e+00,  1.40583324e+00, -1.84498263e-01,
       -1.13379345e+00, -3.49587572e-01,  1.20955800e+00,  1.39208614e+00,
        2.61954388e-01,  7.20996192e-01,  5.29811963e-02,  2.39873426e-01,
       -1.47070215e-01,  8.01336898e-01, -7.18492092e-01,  1.55375593e+00,
        5.49085188e-02,  5.11436338e-01,  6.78358301e-01, -2.58479067e-01,
        2.00157355e-01, -7.66974084e-01,  5.06731718e-01,  6.06187029e-01,
        3.90199432e-01, -1.73797242e+00,  1.59749258e+00, -3.76347609e-01,
        1.51909654e+00,  5.06840954e-01, -1.10485976e+00,  1.21654676e+00,
       -1.05806070e-01, -1.74190316e-01,  3.42010701e-01, -1.33329673e+00,
       -6.20250606e-02, -2.67459864e-01,  2.67186541e-01, -1.63197415e+00,
       -1.30921093e+00,  1.71333005e-01,  6.24903706e-01,  2.44516329e+00,
        1.51919948e+00,  9.69659593e-01, -1.81345206e+00, -1.33435574e+00,
       -4.41517983e-01,  1.69747341e-01,  1.04663979e+00, -8.14583330e-01,
       -1.01174003e+00, -1.02250350e+00, -6.32609772e-01,  8.93931863e-01,
       -4.76701627e-01,  2.31185924e-01,  1.83104617e+00, -2.67221785e-01,
        4.60720307e-02,  8.92189518e-01,  1.40888632e-01, -1.04800399e+00,
       -2.24578279e+00,  1.36267851e+00, -2.58130232e+00, -2.20639009e-01,
       -1.33951822e+00,  2.85043593e-01,  2.67599543e+00, -6.43009894e-01,
       -1.64648488e-01,  1.81169466e+00,  1.43287595e+00, -3.07038645e-01,
       -9.15606262e-02, -9.60594897e-01, -1.83692180e+00, -1.30694443e-01,
        6.94007167e-02, -2.61358948e+00,  2.01157178e+00, -6.04930450e-01,
        6.99040349e-01, -1.22526245e+00,  3.44046747e-01,  1.69168693e+00,
        1.57684965e+00,  7.34205475e-01, -7.55862141e-01, -1.08349048e+00,
        7.99019925e-01,  1.10789080e+00, -1.19155922e+00, -9.00408585e-01,
       -1.06760819e+00,  4.12817440e-01, -6.51173704e-02, -8.42515829e-01,
        1.57049154e+00,  1.35557005e+00,  1.66263753e-01,  1.13382302e+00,
        6.59343773e-01, -4.09243146e-01, -9.97603383e-01,  1.63464038e-02,
        1.01850558e+00,  1.72307349e+00,  3.93268807e-01, -2.69425562e-01,
        1.23130161e+00,  3.82624539e-01,  1.56473771e-02, -1.09880499e+00,
       -9.57343290e-02, -6.60940253e-01,  3.27407236e-01, -6.62650519e-01,
        1.25923903e+00, -6.28695858e-01, -4.91423829e-01, -6.50612574e-01,
        1.59018138e+00,  1.01494592e+00,  1.79484767e+00,  1.05523852e+00,
       -2.79137381e-01,  1.92183125e+00, -7.34085258e-01,  1.67950910e+00,
        1.79717335e-01, -4.73307161e-01,  2.97543728e-01,  3.22054649e-01,
       -1.25194488e+00, -2.33949969e-01,  3.61603845e-01,  1.00860204e+00,
        4.52088204e-01, -1.67404602e+00, -5.90360895e-01,  1.83481022e+00,
        2.32654411e+00, -3.91884380e-01, -1.35814768e+00,  6.88679456e-01,
       -5.17437610e-02,  4.90937688e-02,  8.60229149e-02,  8.48393836e-01,
       -1.69799542e+00,  2.34391988e-01, -2.86181119e-01, -3.95693823e-01,
        1.87619365e-01, -1.44161182e+00,  3.26273327e-01, -3.54692848e-01,
        2.44226601e-01, -1.49239043e+00,  5.09550391e-01, -1.40786923e+00,
       -2.28542281e-01,  1.69438955e+00,  4.67626326e-01,  2.88658382e-01,
        1.96727593e-01,  7.69575247e-01, -2.04603947e+00,  6.36141511e-01,
        5.00579005e-01,  1.25386677e+00,  1.76966981e+00,  4.61364498e-02,
       -1.32165857e+00, -9.40628105e-01,  8.38012257e-01, -7.96008550e-01,
        1.97843638e+00, -3.29875708e-01,  1.76218072e-01, -3.71486615e-01,
        2.92759645e-01, -1.41810657e+00,  6.76474917e-01,  1.11310334e-02,
        1.29472806e+00, -2.58348733e-01, -1.10694136e+00, -6.52432018e-01,
       -1.62020371e-01,  8.07827813e-01,  9.30772001e-01,  1.85907109e+00,
       -5.62930849e-01,  1.05606723e+00, -2.26417183e-01,  1.73528474e-02,
       -2.81653559e+00, -4.85683686e-01,  3.75282505e-01,  1.97461461e-01,
       -1.27996200e+00,  1.92819419e-01, -9.73846246e-01,  1.51540586e+00,
       -1.73640586e+00,  7.67521874e-01,  4.03428260e-01, -1.45119534e-01,
       -1.11557859e+00,  1.31594367e+00, -1.59780774e+00, -4.78402282e-01,
       -6.11770806e-01, -2.53660572e-01, -4.78126675e-01,  4.41989292e-01,
        9.74519433e-01, -5.14614417e-02, -3.82369281e-01,  1.96321270e+00,
       -1.56110795e-01, -1.74352360e+00, -7.41520444e-01, -5.92340296e-01,
        9.78723363e-01,  5.48137050e-01, -1.01855415e+00,  4.59906368e-01,
       -1.06221001e+00,  1.15562494e+00, -1.72705266e+00, -1.96067360e+00,
        1.89802065e-01,  1.33514529e+00,  9.34405708e-02,  9.80595874e-01,
       -1.16427689e-01, -7.04031644e-01,  3.71035781e-01,  1.33358240e+00,
       -1.47728288e+00,  1.72948175e+00, -5.13942375e-01, -2.07398095e-01,
        1.29850611e+00, -8.46590817e-02,  6.16736925e-01,  6.21292488e-01,
        3.67019806e-01, -1.49042489e-01,  2.39397859e-01, -3.96227004e-01,
        6.76829253e-01, -1.92262593e+00,  2.46586744e-01, -2.63300085e-01,
        6.55662741e-01, -1.30980096e-01, -4.68928017e-01,  1.32330500e+00,
       -2.18813734e+00, -5.65587361e-02,  6.99691850e-02,  1.27629091e+00,
       -2.30662808e-01,  9.77722544e-01, -1.46144052e+00,  1.90169052e+00,
        1.07765671e+00,  3.37577395e-01,  5.67551388e-01, -7.44176036e-01,
        1.33285798e+00,  5.30502277e-01, -1.09825293e+00, -4.99834857e-01,
        1.31869665e+00,  2.09957420e+00,  1.15758696e+00, -2.33935086e-01,
       -7.85648237e-01,  2.13586999e-01,  4.03791691e-01,  4.46593229e-01,
       -1.89189098e+00, -1.82146243e+00,  1.45293801e+00, -1.72042223e-01,
       -1.23371897e+00, -1.58006428e-02,  4.54404542e-01, -8.16092066e-01,
       -4.52587656e-01,  5.21204891e-01,  9.29411511e-01,  1.47718122e+00,
        1.99531620e+00, -1.36989588e+00,  1.15376242e+00, -1.48941583e+00,
        6.63717384e-01, -3.48625760e-01,  4.78856587e-01,  2.31983188e-01,
       -9.33564194e-01,  2.98191286e-01,  1.10216618e+00,  2.74893709e-01,
        1.71000025e+00,  7.04538187e-01, -6.07249647e-01, -7.85555982e-01,
       -4.53241494e-01, -3.31166014e-01,  3.89994020e-01,  9.73409902e-01,
       -8.40254904e-01, -2.52180249e-01, -8.14384705e-01,  6.26789061e-01,
        2.15020151e+00, -1.33811646e-02, -1.24565343e+00, -5.44088380e-01,
       -1.12576755e+00, -2.04327885e+00,  6.32801445e-02,  5.33048997e-01,
       -4.40353386e-01,  1.24251396e+00,  3.99177836e-01, -9.90572344e-01,
        7.37957956e-01,  1.75269472e-01, -1.05792518e-01,  1.11619698e-01,
       -1.83547416e-02,  1.02624085e+00,  8.99585866e-02,  5.43364473e-02,
       -1.12312994e+00,  5.37586348e-01,  8.44827035e-01, -9.78956448e-01,
        5.48279136e-01,  9.46326560e-01,  1.94887525e+00,  2.17147096e+00,
       -8.64416089e-01,  9.95457925e-01,  1.89140093e-01, -1.04230725e+00,
        3.30398458e-01, -2.48221504e-01,  4.57876118e-01, -1.05066590e+00,
       -6.99958549e-01, -1.18615196e+00, -8.29895778e-01,  2.22250089e+00,
        4.74784508e-01, -1.22036998e+00,  1.03592896e+00,  3.89099030e-01,
        1.12168032e-01, -4.38673983e-01, -2.89060380e-01,  3.10688346e-01,
        5.79274466e-01, -3.64220496e-01,  1.33295514e+00,  2.52450063e-01,
       -6.37094262e-01,  1.07505886e+00, -3.12551842e-02, -1.52571032e-01,
       -6.81197163e-01,  1.78085347e-01,  5.29016006e-01,  9.67217677e-02,
        4.82204322e-01,  1.69126609e+00, -8.70364955e-01,  6.30400685e-01,
        1.01304922e+00, -9.70727977e-01, -6.34676945e-01, -6.55006077e-02,
       -2.17625267e+00, -1.02065723e+00,  3.10321721e+00,  5.48836311e-01,
       -9.97457518e-01, -8.77475734e-01,  1.07399485e-01, -1.79888407e+00,
       -1.26810777e+00,  2.42646158e+00, -3.47684998e-01, -3.07588413e-01,
       -8.61838429e-01,  1.45948403e+00,  1.05106652e+00, -1.48214099e+00,
        4.79385031e-01,  5.16627489e-01, -6.14513544e-01, -5.62531409e-01,
       -1.65012943e+00, -3.88039552e-01, -1.60043450e+00,  2.30147773e+00,
       -2.43286518e-01,  4.21930925e-01, -1.70092688e+00,  4.80599444e-01,
        2.13086505e+00, -9.16353427e-01,  1.21015403e+00, -3.39558333e-01,
       -8.54127033e-01,  1.37439319e-01, -7.65196037e-02, -5.18317564e-01,
        4.28637199e-02, -3.30300002e-02,  7.43143369e-01, -1.48614963e+00,
        9.73895615e-01,  8.83474865e-01, -1.26573865e+00,  8.59952977e-01,
        7.81857267e-01, -5.84717155e-01, -1.51908320e+00,  2.22692979e-01,
        2.40348338e-01, -1.87349873e+00,  4.87412862e-01, -1.45010569e+00,
        2.29919915e+00, -2.14048149e-01,  5.59615470e-01, -1.33025513e+00,
        1.72362403e+00, -1.08599430e+00, -4.44334373e-01, -6.70687302e-01,
       -6.60911465e-01,  1.95897602e+00, -9.25254729e-01, -9.75291205e-01,
       -3.85088215e-01, -7.93653724e-01,  3.48126694e-01, -3.23062019e-01,
        6.20488147e-01,  4.61592486e-01,  3.05753676e-01, -5.44978938e-01,
        4.32318036e-01,  1.08013521e+00, -1.35690877e+00, -6.48074794e-01,
       -4.64805282e-02,  4.29713800e-01,  1.01204286e+00, -1.97354981e-01,
       -1.41145447e-01,  5.69543586e-01,  3.46770325e-01,  5.79248260e-01,
       -5.85022570e-01, -2.39957998e-01, -4.64659842e-01,  2.55237645e+00,
        6.22639823e-01,  3.42609299e-01,  2.22473960e-01,  7.87208336e-01,
       -1.70297519e-01,  2.16979706e-01, -2.22145059e+00, -1.74721947e-01,
       -9.38852759e-01, -4.18136459e-01, -1.15585558e-01, -2.30777282e+00,
       -1.15234413e+00, -1.60600540e+00,  6.82191411e-01,  2.10896694e-01,
       -7.57949454e-01, -4.11680043e-02, -1.37251189e+00,  8.97122147e-01,
        5.37662977e-01,  1.48666936e+00, -3.03648357e-01,  2.78239002e-01,
        2.32076687e-01,  2.25187645e-01,  7.39296878e-01, -2.05131892e+00,
        4.43148275e-02, -5.04438198e-01, -1.48318109e+00,  1.12681607e+00,
        8.46112915e-01,  3.40846259e-01,  1.54172224e-02,  1.44417286e-01,
        7.74223440e-01, -1.47126987e+00,  4.30503216e-01, -5.53775086e-01,
        4.42068612e-01, -1.40758789e+00,  4.49136385e-02,  5.88626094e-01,
       -1.41270587e+00,  4.09235416e-01, -1.51986731e+00,  2.28708778e+00,
        1.33905762e+00, -9.40680247e-02,  1.37480348e+00, -2.50987548e+00,
        1.09905791e+00,  1.18538954e+00, -1.59719724e+00,  4.77956369e-01,
        1.04079419e-01, -9.18230573e-01, -1.09877616e+00,  7.96151614e-01,
        1.24202293e+00,  1.51318674e+00, -1.89261070e-01,  2.61437684e-01,
       -2.64384772e-02,  8.16366858e-01,  1.18501415e+00, -1.39261776e-01,
       -1.68800651e+00,  1.60733611e-01, -1.74255199e+00,  1.72550120e-01,
       -2.33904056e+00, -5.01923046e-01,  4.10648415e-01,  9.83428811e-01,
       -5.65898890e-01, -1.32570229e+00,  8.75856332e-01,  2.33840015e-01,
       -1.00849104e+00, -9.03838124e-01,  8.56781169e-01, -4.55491373e-01,
       -9.69298349e-01,  1.47830181e-01, -3.13725085e+00,  9.97372992e-01,
       -3.04143613e-01, -1.89954564e+00, -7.04995639e-02, -1.68214339e+00,
       -8.07484447e-01, -4.41159626e-02,  1.21500239e+00,  3.97525527e-01,
        1.35187765e-01, -1.15918794e+00,  1.00401502e+00,  2.62186556e-01,
       -3.77971871e-01, -2.04645592e+00,  1.77824401e+00,  4.43325720e-01,
        3.65023323e-02, -6.16662107e-02, -8.42102610e-01,  1.06227400e+00,
        5.01186423e-01, -1.79340137e-01, -7.26904808e-02,  1.40231379e+00,
        3.07080140e-01,  2.39975534e-01,  1.22525935e-01, -8.44285931e-01,
       -6.22155264e-01, -1.23942627e+00, -1.66517457e+00,  8.82346724e-01,
       -1.57610527e+00, -1.68335182e-01, -1.07229190e+00, -2.23480681e-01,
       -6.06910961e-01, -3.83317428e-01, -8.26048042e-01,  1.46611975e+00,
        1.33584708e+00, -1.40822343e-01, -8.68225732e-01, -1.10856537e+00,
       -3.60942951e-01, -1.54973205e+00,  5.42111306e-01,  1.20838044e+00,
       -1.92704083e-01,  2.53286103e-01,  2.33357326e+00, -1.83118190e+00,
        3.27375411e-01, -4.18130565e-01,  6.06461370e-01,  5.84683250e-01,
       -1.52056502e+00, -1.08797644e+00,  2.45330704e+00, -1.54830737e+00,
       -1.35223808e+00, -1.41968088e+00, -1.57318380e+00,  3.29264103e-01,
        1.62315919e-01, -6.10414204e-01, -4.86193605e-01, -8.51030098e-01,
       -7.18877016e-01,  1.07466171e+00,  1.96988284e+00, -1.88992544e+00,
       -2.18222330e-01,  1.93347328e-01,  1.33460743e+00, -1.39916279e+00,
       -8.96535369e-02,  4.54608716e-01, -5.77283757e-01, -2.48638608e-01,
        1.27513110e+00,  4.92552287e-01, -1.26799064e+00,  6.18106084e-01,
       -5.65084637e-01,  1.76938416e+00,  1.42958358e+00, -2.30559076e+00,
        6.09541215e-01, -8.51838226e-01,  8.21610937e-01, -8.15841462e-01,
       -4.59988717e-01, -2.01809839e+00,  4.78499361e-02, -9.12596157e-01,
       -4.62441214e-01,  5.90450047e-01,  9.73573804e-01,  1.53508184e+00,
        9.96891934e-01, -3.35084754e-01,  1.59812638e+00,  2.16217928e-01,
       -6.78026141e-01, -1.67564366e-01,  2.99585956e+00,  1.95828454e-01,
        5.04332145e-01, -3.92123298e-01,  1.09995122e+00,  8.63334214e-01])

In [37]:
cats = pd.qcut(data, 4)

cats

[(0.625, 3.103], (0.000722, 0.625], (0.000722, 0.625], (0.000722, 0.625], (0.625, 3.103], ..., (0.000722, 0.625], (0.000722, 0.625], (-0.704, 0.000722], (0.625, 3.103], (0.625, 3.103]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.138, -0.704] < (-0.704, 0.000722] < (0.000722, 0.625] <
                                           (0.625, 3.103]]

In [38]:
pd.value_counts(cats)

(-3.138, -0.704]      250
(-0.704, 0.000722]    250
(0.000722, 0.625]     250
(0.625, 3.103]        250
dtype: int64

- qcut 함수도 cut 함수와 유사하게 변위치를 직접 지정해줄 수 있음

In [39]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1])

[(1.356, 3.103], (0.000722, 1.356], (0.000722, 1.356], (0.000722, 1.356], (1.356, 3.103], ..., (0.000722, 1.356], (0.000722, 1.356], (-1.408, 0.000722], (0.000722, 1.356], (0.000722, 1.356]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.138, -1.408] < (-1.408, 0.000722] < (0.000722, 1.356] <
                                           (1.356, 3.103]]

- 그룹 분석과 변위치를 다룰 때는 cut과 qcut 함수 같은 이산함수가 특히 더 유용함

### **특잇값을 찾고 제외하기**
- 배열 연산을 수행할 때는 특잇값을 제외하거나 적당한 값으로 대체하는 것이 중요함

In [40]:
data = pd.DataFrame(np.random.randn(100, 4))

data

           0         1         2         3
0   0.158938  0.979148  0.507903 -1.156513
1   0.362616 -0.787335  0.694686  1.001284
2   0.405770  0.905843  0.479293 -0.905026
3  -1.935300 -1.131859  0.676124  1.386528
4   0.828104 -0.987863  1.073729  0.247288
..       ...       ...       ...       ...
95 -1.699819 -1.974557 -0.825904 -0.272776
96  0.096315 -0.109183  0.307832  0.055023
97 -0.909622  0.508201  0.744609 -0.007146
98  0.581669 -0.026549  0.189270 -1.394104
99  1.094638 -1.506813 -1.428878 -0.646510

[100 rows x 4 columns]

In [41]:
data.describe()

                0           1           2           3
count  100.000000  100.000000  100.000000  100.000000
mean     0.005341    0.033985    0.062664    0.111509
std      1.217801    1.081994    1.103815    1.012296
min     -2.916026   -2.669903   -2.528059   -2.149624
25%     -0.947639   -0.811342   -0.773815   -0.541615
50%     -0.005409    0.044259    0.004511    0.139618
75%      0.687868    0.814565    0.749539    0.752841
max      3.040555    3.045882    3.150533    3.060517

- 한 칼럼에서 절댓값이 3을 초과하는 값 찾아내기

In [42]:
col = data[2]

col[np.abs(col) > 3]

31    3.150533
Name: 2, dtype: float64

- 절댓값이 3을 초과하는 값이 들어 있는 모든 로우를 선택하려면 불리언 DataFrame에서 any 메서드를 사용하면 됨

In [45]:
data[(np.abs(data) > 3).any(1)]  ### any 안에 있는 숫자는 index = 1임

           0         1         2         3
5  -1.798214  3.045882  0.838098 -0.819865
18 -0.405056 -0.644469 -1.020802  3.060517
31  0.678274 -1.116257  3.150533  0.491902
66  3.040555  0.023539  2.041736  0.071195

In [47]:
data[np.abs(data) > 3] = np.sign(data) * 3

data

           0         1         2         3
0   0.158938  0.979148  0.507903 -1.156513
1   0.362616 -0.787335  0.694686  1.001284
2   0.405770  0.905843  0.479293 -0.905026
3  -1.935300 -1.131859  0.676124  1.386528
4   0.828104 -0.987863  1.073729  0.247288
..       ...       ...       ...       ...
95 -1.699819 -1.974557 -0.825904 -0.272776
96  0.096315 -0.109183  0.307832  0.055023
97 -0.909622  0.508201  0.744609 -0.007146
98  0.581669 -0.026549  0.189270 -1.394104
99  1.094638 -1.506813 -1.428878 -0.646510

[100 rows x 4 columns]

In [48]:
data.describe()

                0           1           2           3
count  100.000000  100.000000  100.000000  100.000000
mean     0.004936    0.033526    0.061158    0.110904
std      1.216786    1.080713    1.099656    1.010532
min     -2.916026   -2.669903   -2.528059   -2.149624
25%     -0.947639   -0.811342   -0.773815   -0.541615
50%     -0.005409    0.044259    0.004511    0.139618
75%      0.687868    0.814565    0.749539    0.752841
max      3.000000    3.000000    3.000000    3.000000

- np.sign(data)는 data 값이 양수인지 음수인지에 따라 1이나 -1이 담긴 배열을 반환함

### **치환과 임의 샘플링**

- numpy.random.permutation 함수를 이용하면 Series나 DataFrame의 로우를 쉽게 임의로 재배치할 수 있음
- 순서를 바꾸고 싶은 만큼의 길이를 permutation함수로 넘기면 순서가 담긴 정수 배열이 생성됨
- 샘플링하고 싶을 때 자주 사용함

In [49]:
df = pd.DataFrame(np.arange(5 *4).reshape((5, 4)))

df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [50]:
sampler = np.random.permutation(5)

In [51]:
sampler

array([0, 4, 3, 1, 2])

- 이 배열은 iloc 기반의 색인이나 take 함수에서도 사용 가능함

In [52]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [54]:
df.take(sampler)  ## index만 바뀌는 것이 아니라 데이터 순서 자체도 바뀜

    0   1   2   3
0   0   1   2   3
4  16  17  18  19
3  12  13  14  15
1   4   5   6   7
2   8   9  10  11

- 치환 없이 일부만 임의로 선택하려면 Series나 DataFrame의 sample 메서드를 사용하면 됨

In [55]:
df.sample(n = 3)

    0   1   2   3
0   0   1   2   3
2   8   9  10  11
4  16  17  18  19

- 반복 선택을 허용하며 표본을 치환을 통해 생성해내려면 sample에 replace = True 옵션을 넘김

In [57]:
choices = pd.Series([5, 7, -1, 6, 4])

draws = choices.sample(n=10, replace = True)

draws

2   -1
1    7
0    5
3    6
2   -1
0    5
0    5
0    5
1    7
0    5
dtype: int64

In [60]:
pip install pydataset

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     |████████████████████████████████| 15.9 MB 4.1 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pydataset) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939432 sha256=9e8ca56333a9c0b2d1966b4bdcfed9061d84d0d89bafab4d9ff38614066c3d7e
  Stored in directory: /root/.cache/pip/wheels/32/26/30/d71562a19eed948eaada9a61b4d722fa358657a3bfb5d151e2
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0

In [61]:
import pydataset

mpg = pydataset.data('mpg')
mpg

initiated datasets repo at: /root/.pydataset/

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [62]:
sample_index = np.random.permutation(len(mpg))

mpg = mpg.take(sample_index)
mpg[ :int(len(mpg)*0.3)]         ### 샘플링으로 30%만 뽑아보고싶음

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
129,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
144,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv
206,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
123,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
108,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact
114,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize
112,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize
122,hyundai,tiburon,2.7,2008,6,manual(m5),f,17,24,r,subcompact
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv
147,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize
182,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
126,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
82,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup
99,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact
178,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
145,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv
102,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize
132,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
121,hyundai,tiburon,2.7,2008,6,manual(m6),f,16,24,r,subcompact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv

In [63]:
mpg.sample(70)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize
34,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
97,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
122,hyundai,tiburon,2.7,2008,6,manual(m5),f,17,24,r,subcompact
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
138,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
136,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv
162,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv
206,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact
124,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
144,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
123,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv
105,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup
98,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact
99,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact
96,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize

In [64]:
mpg.sample(frac = .3)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
118,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact
149,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
97,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan
206,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup
102,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
124,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv
104,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
112,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan
93,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
89,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
140,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
99,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize
147,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
115,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact

### **표시자/더미 변수 계산하기**
- 통계 모델이나 머신러닝 어플리케이션을 위한 또 다른 데이터 변환은 분류값을 '더미'나 '표시자' 행렬로 전환하는 것
- 만약 어떤 DataFrame의 한 컬럼에 k가지의 값이 있다면 
- k개의 컬럼이 있는 DataFrame이나 행렬을 만들고 값으로는 1과 0을 채워 넣을 것임

In [72]:
df = pd.DataFrame({'key' : ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1' : ['one', 'two', 'three', 'four', 'five', 'six']})

pd.get_dummies(df['key']) ### one-hot-encoding으로 바꿔줌

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

- DataFrame 안에 있는 컬럼에 접두어를 추가한 후 다른 데이터와 병합하고 싶을 경우
- get_dummies 함수의 prefix 인자 사용

In [73]:
df

  key  data1
0   b    one
1   b    two
2   a  three
3   c   four
4   a   five
5   b    six

In [77]:
dummies = pd.get_dummies(df['key'], prefix = 'key')  ### 컬럼명에 key 추가됨

dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [76]:
dummies = pd.get_dummies(df['key'], prefix = 'key')

df_with_dummy = df[['data1']].join(dummies)

df_with_dummy

   data1  key_a  key_b  key_c
0    one      0      1      0
1    two      0      1      0
2  three      1      0      0
3   four      0      0      1
4   five      1      0      0
5    six      0      1      0

## 3. 문자열 다루기

- 파이썬에서 대부분의 텍스트 연산은 문자열 객체의 내장 메서드로 간단하게 처리 가능
- 좀 더 복잡한 패턴 매칭이나 텍스트 조작은 정규 표현식을 필요로 함

### **문자열 객체 메서드**

- split 메서드

In [78]:
val = 'a, b, guido'

val.split(',')

['a', ' b', ' guido']

- split 메서드는 종종 strip 메서드와 조합해서 사용됨

In [79]:
pieces = [x.strip() for x in val.split(',')]

pieces

['a', 'b', 'guido']

- 분리된 문자열은 더하기 연산을 사용해서 ::문자열과 합칠 수 있음

In [80]:
first, second, third = pieces

first + '::' + second + '::' + third

'a::b::guido'

- 하지만 join을 사용하는 것이 일반적임

In [81]:
'::'.join(pieces)

'a::b::guido'

- 일치하는 부분문자열의 위치를 찾는 방법
- index나 find 사용 가능
- 파이썬의 in 예약어 사용하면 일치하는 부분문자열 쉽게 찾을 수 있음

In [82]:
'guido' in val

True

In [84]:
val.index(',')

1

In [86]:
val.find(':')

-1

- find와 index의 차이점은 index의 경우 문자열을 찾지 못하면 예외를 발생시킴
- find의 경우에는 -1을 반환

In [87]:
val.index(':')

ValueError: ignored

- count는 특정 부분문자열이 몇 건 발견되었는지 반환함

In [88]:
val.count(',')

2

- replace는 찾아낸 패턴을 다른 문자열로 치환함
- 이 메서드는 대체할 문자열로 비어 있는 문자열을 넘겨서 패턴을 삭제하기 위한 방법으로 자주 사용됨

In [89]:
val.replace(',', '::')

'a:: b:: guido'

In [91]:
val.replace(',', '')

'a b guido'

<파이썬 내장 문자열 함수>
- count : 문자열에서 겹치지 않는 부분문자열의 개수를 반환
- endswith : 문자열이 주어진 접미사로 끝날 경우 True 반환
- startswith : 문자열이 주어진 접두사로 시작할 경우 True 반환
- join : 문자열을 구분자로 하여 다른 문자열을 순서대로 이어붙임
- index : 부분문자열의 첫 번째 글자의 위치를 반환
- find : 첫 번째 부분문자열의 첫 번째 글자의 위치를 반환
- rfind : 마지막 부분문자열의 첫 번째 글자의 위치를 반환
- replace : 문자열을 다른 문자열로 치환
- strip, rstrip, lstrip : 개행 문자를 포함한 공백 문자를 제거
- split : 문자열을 구분자 기준으로 부분문자열의 리스트로 분리
- lower : 알파벳 문자를 소문자로 변환
- upper : 알파벳 문자를 대문자로 변환
- casefold : 문자를 소문자로 변환, 지역 문자들으 ㄴ그에 상응하는 대체 문자로 교체됨
- ljust, rjust : 문자열을 오른쪽 또는 왼쪽으로 정렬하고 주어진 길이에서 문자열의 길이를 제외한 나머지 부분은 공백 문자를 채워넣음

### **정규 표현식**
- 정규 표현식은 텍스트에서 문자열 패턴을 찾는 유연한 방법을 제공
- regex : 정규 표현 언어로 구성된 문자열

In [92]:
import re

text = "foo bar\t baz \tqux"

re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

- re.split('\s+', text)를 사용하면 먼저 정규 표현식이 컴파일되고 그 다음에 split 메서드가 실행됨

- re.compile로 직접 정규 표현식을 컴파일하고 이를 재사용하는 것도 가능

In [93]:
regex = re.compile('\s+')

regex.split(text)

['foo', 'bar', 'baz', 'qux']

- 정규 표현식에 매칭되는 모든 패턴의 목록을 얻고 싶다면 findall 메서드 사용

In [94]:
regex.findall(text)

[' ', '\t ', ' \t']

- 정규 표현식에서 \문자가 이스케이프되는 문제는 피하려면
- raw 문자열 표기법을 사용
- 그러면 \를 이스케이프 문자로 처리하지 않고 일반 문자로 처리하기 때문에 \를 간단하게 표현할 수 있음
- 'C:\\x' 대신 r'C:\x'

- 같은 정규 표현식을 다른 문자열에도 적용해야 한다면 re.compile을 만들어 쓰는 것을 추천

- match와 search는 findall 메서드와 관련 있음
- findall : 문자열에서 일치하는 모든 부분문자열을 찾아줌
- search : 패턴과 일치하는 첫 번째 존재를 반환
- mathch : 문자열의 시작부분에서 일치하는 것만 찾아줌

In [98]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [99]:
## re.IGNORECASE는 정규 표현식이 대소문자를 가리지 않도록 한다.
regex = re.compile(pattern, flags = re.IGNORECASE)

In [100]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

- search는 텍스트에서 첫 번째 이메일 주소만을 찾아줌
- match 객체는 정규 표현 패턴이 문자열 내에서 위치하는 시작점과 끝점만을 알려줌

In [101]:
m = regex.search(text)

m

In [102]:
text[m.start():m.end()]

'dave@google.com'

- regex.match는 None을 반환함
- 정규 표현 패턴이 문자열의 시작점에서부터 일치하는 지 검사하기 때문임

In [103]:
print(regex.match(text))

None

- sub 메서드는 찾은 패턴을 주어진 문자열로 치환하여 새로운 문자열을 반환함

In [104]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

- 이메일 주소를 찾아서 동시에 각 이메일 주소를 사용자 이름, 돔인 이름, 도메인 접미사 세 가지 컴포넌트로 나누기

In [113]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

regex = re.compile(pattern, flags = re.IGNORECASE)

- 이렇게 만든 match 객체르 이용하면 groups 메서드로 각 패턴 컴포넌트 튜플을 얻을 수 있음

In [114]:
m = regex.match('wesm@bright.net')

In [115]:
m.groups()

('wesm', 'bright', 'net')

- 패턴에 그룹이 존재하면 findall 메서드는 튜플의 목록을 반환함

In [116]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

- sub 역시 \1, \2 같은 특수한 기호를 사용해서 각 패턴 그룹에 접근할 수 있음
- \1은 첫 번째로 찾은 그룹
- \2는 두 번째로 찾은 그룹

In [117]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3,', text))

Dave Username: dave, Domain: google, Suffix: com,
Steve Username: steve, Domain: gmail, Suffix: com,
Rob Username: rob, Domain: gmail, Suffix: com,
Ryan Username: ryan, Domain: yahoo, Suffix: com,

<정규 표현식 메서드>
- findall : 문자열에서 겹치지 않는 모든 발견된 패턴을 리스트로 반환
- finditter : findall과 같지만 발견된 패턴을 이터레이터를 통해 하나씩 반환
- match : 문자열의 시작점부터 패턴을 찾고 선택적으로 패턴 컴포넌트 그룹을 나눈다.
- search : 문자열에서 피턴과 일치하는 내용을 검색하고 match 객체를 반환(문자열 어디든 일치하는 내용 있으면 반환됨)
- split : 문자열에서 패턴과 일치하는 부분을 분리
- sub, subn : 문자열에서 일치하는 모든 패턴 혹은 처음 n개의 패턴을 대체 표현으로 치환

### **pandas의 벡터화된 문자열 함수**

In [118]:
data = {'Dave' : 'dave@google.com', 'Steve' : 'steve@gmail.com', 'Rob' : 'rob@gmail.com',
        'Wes': np.nan}

data = pd.Series(data)

data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [119]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

- 문자열과 정규 표현식 메서드는 data.map/lambda/다른 함수를 사용해서 각 값에 적용 할 수 있지만 NA 있으면 실패함
- 이런 문제에 대처하기 위해 Series에는 NA 값을 건너뛰도록 하는 간결한 문자열 처리 메서드가 있음
- 이는 Series의 str 속성을 이용하는데, str.contains를 이용

In [120]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

- IGNORECASE 같은 re 옵션과 함께 사용하는 것도 가능함

In [121]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [122]:
data.str.findall(pattern, flags = re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [128]:
matches = data.str.match(pattern, flags = re.IGNORECASE)

matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

- 내재된 리스트의 원소에 접근하기 위해서는 색인을 넘기면 됨

<벡터화된 문자열 메서드>
- cat 
- contains
- count
- extract 
- endswith
- startswith
- findall
- split
- strip
- rstrip
- lstrip
- 더 많으니 참고

# 데이터 준비하기: 조인, 병합 변형

## 1. 계층적 색인
- 계층적 색인은 pandas의 중요한 기능임
- 축에 대해 다중 색인 단계를 지정할 수 있도록 해줌
- 높은 차원의 데이터를 낮은 차원의 형식으로 다룰 수 있게 해주는 기능임

In [130]:
data = pd.Series(np.random.randn(9), index = [['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                                              [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1   -0.727925
   2   -0.475531
   3    1.462119
b  1    0.381114
   3   -1.801738
c  1   -0.056838
   2    2.249112
d  2   -1.594265
   3   -1.783024
dtype: float64

- 위 객체는 MultiIndex를 색인으로 하는 Series로, 색인의 계층을 보여줌

In [131]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

- 계층적으로 색인된 객체는 데이터의 부분집합을 부분적 색인으로 접근하는 것이 가능함

In [132]:
data['b']

1    0.381114
3   -1.801738
dtype: float64

In [133]:
data['b':'c']

b  1    0.381114
   3   -1.801738
c  1   -0.056838
   2    2.249112
dtype: float64

In [134]:
data.loc[['b', 'd']]

b  1    0.381114
   3   -1.801738
d  2   -1.594265
   3   -1.783024
dtype: float64

- 하위 계층의 객체 선택도 가능함

In [135]:
data.loc[:, 2]

a   -0.475531
c    2.249112
d   -1.594265
dtype: float64

- 계층적인 색인은 데이터를 재형성하고 피벗테이블 생성 같은 그룹 기반의 작업을 할 때 중요하게 사용됨
- unstack

In [136]:
data.unstack()

          1         2         3
a -0.727925 -0.475531  1.462119
b  0.381114       NaN -1.801738
c -0.056838  2.249112       NaN
d       NaN -1.594265 -1.783024

In [138]:
data.unstack().stack()

a  1   -0.727925
   2   -0.475531
   3    1.462119
b  1    0.381114
   3   -1.801738
c  1   -0.056838
   2    2.249112
d  2   -1.594265
   3   -1.783024
dtype: float64

- DataFrame에서는 두 축 모두 계층적 색인을 가질 수 있음

In [140]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']]) 

frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [141]:
frame.unstack() ### index에서 column으로

   Ohio            Colorado
  Green    Red        Green
      1  2   1   2        1   2
a     0  3   1   4        2   5
b     6  9   7  10        8  11

In [142]:
frame.stack()  ### column에서 index로

           Colorado  Ohio
a 1 Green       2.0     0
    Red         NaN     1
  2 Green       5.0     3
    Red         NaN     4
b 1 Green       8.0     6
    Red         NaN     7
  2 Green      11.0     9
    Red         NaN    10

- 계층적 색인의 각 단계는 이름을 가질 수 있고, 만약 이름을 가지고 있다면 콘솔 출력 시 함께 나타남

In [143]:
frame.index.names = ['key1', 'key2']

frame.columns.names = ['state', 'color']

frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [144]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

### **계층의 순서를 바꾸고 정렬하기**
- 계층적 색인에서 계층의 순서를 바꾸거나 지정된 계층에 따라 데이터를 정렬해야 하는 경우
- swaplevel : 넘겨받은 두 개의 계층 번호나 이름이 뒤바뀐 새로운 객체를 반환함

In [146]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [145]:
frame.swaplevel('key1', 'key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

- sort_index 메서드는 단일 계층에 속한 데이터를 정렬함
- swaplevel을 이용해서 계층을 바꿀 때 sort_index를 사용해서 결과가 사전적으로 정렬되도록 만드는 것도 드물지 않음

In [147]:
frame.sort_index(level = 1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [148]:
frame.swaplevel(0, 1).sort_index(level = 0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

- 객체가 계층적인 색인으로 상위 계층부터 사전식으로 정렬되어 있다면 데이터를 선택하는 성능이 훨씬 좋아짐

### **계층별 요약 통계**
- DataFrame과 Series의 많은 기술 통계와 요약 통계는 level 옵션을 가짐
- 어떤 한 축에 대해 합을 구하고 싶은 단계를 지정할 수 있는 옵션임

In [149]:
frame.sum(level = 'key2')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [150]:
frame.sum(level = 'color', axis = 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

### **DataFrame의 컬럼 사용하기**

In [151]:
frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1),
                      'c': ['one', 'one', 'one', 'two', 'two',
                            'two', 'two'],
                      'd': [0, 1, 2, 0, 1, 2, 3]}) 
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

- DataFrame의 set_index 함수는 하나 이상의 컬럼을 색인으로 하는 새로운 DataFrame을 생성함

In [152]:
frame2 = frame.set_index(['c', 'd'])

frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

- 컬럼을 명시적으로 남겨두지 않으면 DataFrame에서 삭제됨

In [153]:
frame.set_index(['c', 'd'], drop = False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

- reset_index 함수는 계층적 색인 단계가 컬럼으로 이동함

In [154]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

<index 조작하기>
- reindex
- set_index
- reset_index

## 2. 데이터 합치기

pandas 객체에 저장된 데이터는 여러 가지 방법으로 합칠 수 있음
- pandas.merge : 하나 이상의 키를 기준으로 DF의 로우 합침
- pandas.concat : 하나의 축을 따라 객체를 이어붙임
- combine_first : 두 객체를 포개서 한 객체에서 누락된 데이터를 다른 객체에 있는 값으로 채울 수 있도록 함

### **데이터베이스 스타일로 DataFrame 합치기**
- 병합이나 조인 연산은 관계형 데이터베이스의 핵심적 연산임
- 하나 이상의 키를 사용해서 데이터 집합의 로우를 합침
- pandas의 merge 함수를 이용

In [155]:
df1 = pd.DataFrame({'key' : ['b', 'b' ,'a', 'c', 'a', 'a', 'b'],
                   'data1' : range(7)})

df2 = pd.DataFrame({'key' : ['a', 'b', 'd'],
                   'data2' : range(3)})

In [156]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [157]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

- 위 예제는 다대일의 경우임

In [158]:
pd.merge(df1, df2)        ### how = 'inner' (공통)이 기준임

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [160]:
pd.merge(df1, df2, how = 'inner')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [161]:
pd.merge(df1, df2, how = 'outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

In [162]:
pd.merge(df1, df2, how = 'outer', indicator = True)

  key  data1  data2      _merge
0   b    0.0    1.0        both
1   b    1.0    1.0        both
2   b    6.0    1.0        both
3   a    2.0    0.0        both
4   a    4.0    0.0        both
5   a    5.0    0.0        both
6   c    3.0    NaN   left_only
7   d    NaN    2.0  right_only

In [163]:
pd.merge(df1, df2, on = 'key', how = 'outer', indicator = True)

  key  data1  data2      _merge
0   b    0.0    1.0        both
1   b    1.0    1.0        both
2   b    6.0    1.0        both
3   a    2.0    0.0        both
4   a    4.0    0.0        both
5   a    5.0    0.0        both
6   c    3.0    NaN   left_only
7   d    NaN    2.0  right_only

In [164]:
pd.merge(df1, df2, on = 'key', how = 'left', indicator = True)

  key  data1  data2     _merge
0   b      0    1.0       both
1   b      1    1.0       both
2   a      2    0.0       both
3   c      3    NaN  left_only
4   a      4    0.0       both
5   a      5    0.0       both
6   b      6    1.0       both

- merge 함수는 지정해주지 않아도 중복된 컬럼 이름을 키로 사용
- 하지만 명시적으로 지정해주는 것이 좋음

In [159]:
pd.merge(df1, df2, on = 'key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

- 두 객체에 중복된 컬럼 이름이 하나도 없다면 따로 지정해주면 됨

In [165]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],
                    'data2': range(3)})

In [166]:
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [167]:
df4

  rkey  data2
0    a      0
1    b      1
2    d      2

In [168]:
pd.merge(df3, df4, left_on = "lkey", right_on = "rkey")

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

- 'c'와 'd'에 해당하는 값이 빠져있음
- merge 함수는 기본적으로 내부 조인을 수행하여 교집합인 결과 반환
- how 인자로 'left', 'right', 'outer'를 넘겨서 각각 왼쪽 조인, 오른쪽 조인, 외부 조인을 수행할 수 있음
- 내부 조이은 합집합인 결과 반환
- 왼쪽 조인과 오른쪽 조인은 각각 왼쪽 또는 오른쪽의 모든 로우를 포함하는 결과 반환

In [169]:
pd.merge(df1, df2, how = 'outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

<how 옵션에 따른 다양한 조인 연산>
- inner : 양쪽 테이블 모두에 존재하는 키 조합을 사용
- left : 왼쪽 테이블에 존재하는 모든 키 조합을 사용
- right : 오른쪽 테이블에 존재하는 모든 키 조합을 사용
- outer : 양쪽 테이블에 존재하는 모든 키 조합을 사용

- 다대다 병합

In [170]:
df1 = pd.DataFrame({'key' : ['b', 'b' ,'a', 'c', 'a', 'b'],
                   'data1' : range(6)})

df2 = pd.DataFrame({'key' : ['a', 'b', 'a', 'b', 'd'],
                   'data2' : range(5)})

In [171]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [172]:
df2

  key  data2
0   a      0
1   b      1
2   a      2
3   b      3
4   d      4

In [173]:
pd.merge(df1, df2, on = 'key', how = 'left')

   key  data1  data2
0    b      0    1.0
1    b      0    3.0
2    b      1    1.0
3    b      1    3.0
4    a      2    0.0
5    a      2    2.0
6    c      3    NaN
7    a      4    0.0
8    a      4    2.0
9    b      5    1.0
10   b      5    3.0

In [174]:
pd.merge(df1, df2, how = 'inner')

  key  data1  data2
0   b      0      1
1   b      0      3
2   b      1      1
3   b      1      3
4   b      5      1
5   b      5      3
6   a      2      0
7   a      2      2
8   a      4      0
9   a      4      2

In [175]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})

In [179]:
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [180]:
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [176]:
pd.merge(left, right, on = ['key1', 'key2'], how = 'outer')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

- 컬럼과 컬럼을 조인할 때 전달한 DataFrame 객체의 색인은 무시된다.

- 병합 연산에서 고려해야 할 마지막 사항은 겹치는 컬럼 이름에 대한 처리
- 축 이름을 변경해서 수동으로 컬럼 이름이 겹치게 할 수 있음
- merge 함수에 있는  suffixes 인자로 두 DataFrame 객체에서 겹치는 컬럼 이름 뒤에 붙일 문자열을 지정해줄 수 있음

In [177]:
pd.merge(left, right, on = 'key1')

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [178]:
pd.merge(left, right, on = 'key1', suffixes = ('_left', '_right'))

  key1 key2_left  lval key2_right  rval
0  foo       one     1        one     4
1  foo       one     1        one     5
2  foo       two     2        one     4
3  foo       two     2        one     5
4  bar       one     3        one     6
5  bar       one     3        two     7

<merge 함수 인자 목록>
- left : 병합하려는 DataFrame 중 왼쪽에 위치한 DataFrame
- right : 병합하려는 DataFrame 중 오른쪽에 위치한 DataFrame
- how : 조인 방법. 'inner', 'outer', 'left', right'
- on : 조인하려는 칼럼 이름, 반드시 두 DataFrame 객체 모두에 존재하는 이름이어야 함
- left_on : 조인키로 사용할 left DataFrame의 칼럼
- right_on : 조인키로 사용할 right DataFrame의 칼럼
- left_index : 조인키로 사용할 left DataFrame의 색인 로우
- right_index : 조인키로 사용할 right DataFrame의 색인 로우
- sort : 조인키에 따라 병합된 데이터를 사전순으로 정렬
- suffixes : 컬럼 이름이 겹칠 경우 각 컬럼 이름 뒤에 붙일 문자열의 튜플
- copy : False일 경우, 예외적인 경우에 데이터가 결과로 복사되지 않게 함
- indicator : merge라는 이름의 특별한 컬럼을 추가하여 각 로우으 소스가 어디인지 나타냄

### **색인 병합하기**

- 병합하려는 키가 DataFrame의 색인일 경우
- left_index = True
- right_index = True

In [181]:
left1 = pd.DataFrame({'key' : ['a', 'b', 'a', 'a', 'b', 'c'],
                      'value' : range(6)})

right1 = pd.DataFrame({'group_val' : [3.5, 7]},
                      index = ['a', 'b'])

In [182]:
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [183]:
right1

   group_val
a        3.5
b        7.0

In [184]:
pd.merge(left1, right1, left_on = 'key', right_index = True)

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

In [185]:
pd.merge(left1, right1, left_on = 'key', right_index = True, how = 'outer')

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN

- 계층 색인된 데이터는 암묵적으로 여러 키를 병합하는 것이라 약간 복잡하다.

In [186]:
lefth = pd.DataFrame({'key1' : ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
                      'key2' : [2000, 2001, 2002, 2001, 2002],
                      'data' : np.arange(5.)})

righth = pd.DataFrame(np.arange(12).reshape((6, 2)),
                      index = [['Nevada', 'Nevada', 'Ohio', 'Ohio', 'Ohio', 'Ohio'],
                               [2001, 2000, 2000, 2000, 2001, 2002]],
                      columns = ['event1', 'event2'])

In [187]:
lefth

     key1  key2  data
0    Ohio  2000   0.0
1    Ohio  2001   1.0
2    Ohio  2002   2.0
3  Nevada  2001   3.0
4  Nevada  2002   4.0

In [188]:
righth

             event1  event2
Nevada 2001       0       1
       2000       2       3
Ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11

- 리스트로 여러 개이 컬럼을 지정해서 병합해야 함
- 중복되는 색인값을 다룰 때는 how = 'outer' 옵션을 사용해야 함

In [189]:
pd.merge(lefth, righth, left_on = ['key1', 'key2'], right_index = True)

     key1  key2  data  event1  event2
0    Ohio  2000   0.0       4       5
0    Ohio  2000   0.0       6       7
1    Ohio  2001   1.0       8       9
2    Ohio  2002   2.0      10      11
3  Nevada  2001   3.0       0       1

In [190]:
pd.merge(lefth, righth, left_on = ['key1', 'key2'],
         right_index = True, how = 'outer')

     key1  key2  data  event1  event2
0    Ohio  2000   0.0     4.0     5.0
0    Ohio  2000   0.0     6.0     7.0
1    Ohio  2001   1.0     8.0     9.0
2    Ohio  2002   2.0    10.0    11.0
3  Nevada  2001   3.0     0.0     1.0
4  Nevada  2002   4.0     NaN     NaN
4  Nevada  2000   NaN     2.0     3.0

- 양쪽에 공통적으로 존재하는 여러 개의 색인을 병합하는 것도 가능

In [192]:
left2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]],
                     index = ['a', 'c', 'e'],
                     columns = ['Ohio', 'Nevada'])


right2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
                      index = ['b', 'c', 'd', 'e'],
                      columns = ['Missouri', 'Albama'])

In [193]:
left2

   Ohio  Nevada
a   1.0     2.0
c   3.0     4.0
e   5.0     6.0

In [194]:
right2

   Missouri  Albama
b       7.0     8.0
c       9.0    10.0
d      11.0    12.0
e      13.0    14.0

In [195]:
pd.merge(left2, right2, how = 'outer', left_index = True, right_index = True)

   Ohio  Nevada  Missouri  Albama
a   1.0     2.0       NaN     NaN
b   NaN     NaN       7.0     8.0
c   3.0     4.0       9.0    10.0
d   NaN     NaN      11.0    12.0
e   5.0     6.0      13.0    14.0

- 색인으로 병합할 때 DataFrame의 join 메서드를 사용하면 편리함
- join 메서드는 컬럼이 겹치지 않으며 같거나 유사한 색인 구조를 가진 여러 개의 DataFrame 객체를 병합할 때 사용

In [196]:
left2.join(right2, how = 'outer')

   Ohio  Nevada  Missouri  Albama
a   1.0     2.0       NaN     NaN
b   NaN     NaN       7.0     8.0
c   3.0     4.0       9.0    10.0
d   NaN     NaN      11.0    12.0
e   5.0     6.0      13.0    14.0

In [198]:
left1.join(right1, on = 'key')

  key  value  group_val
0   a      0        3.5
1   b      1        7.0
2   a      2        3.5
3   a      3        3.5
4   b      4        7.0
5   c      5        NaN

- 색인 대 색인으로 두 DataFrame을 병합하려면, 병합하려는 DataFrame의 리스트를 join 메서드로 넘기며 됨

In [199]:
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]],
                       index = ['a', 'c', 'e', 'f'],
                       columns = ['New York', 'Oregon'])

another

   New York  Oregon
a       7.0     8.0
c       9.0    10.0
e      11.0    12.0
f      16.0    17.0

In [200]:
left2.join([right2, another])

   Ohio  Nevada  Missouri  Albama  New York  Oregon
a   1.0     2.0       NaN     NaN       7.0     8.0
c   3.0     4.0       9.0    10.0       9.0    10.0
e   5.0     6.0      13.0    14.0      11.0    12.0

In [201]:
left2.join([right2, another], how = 'outer')

   Ohio  Nevada  Missouri  Albama  New York  Oregon
a   1.0     2.0       NaN     NaN       7.0     8.0
c   3.0     4.0       9.0    10.0       9.0    10.0
e   5.0     6.0      13.0    14.0      11.0    12.0
b   NaN     NaN       7.0     8.0       NaN     NaN
d   NaN     NaN      11.0    12.0       NaN     NaN
f   NaN     NaN       NaN     NaN      16.0    17.0

### **축 따라 이어붙이기**
- 데이터를 합치는 또 다른 방법으로 이어붙이기

In [202]:
arr = np.arange(12).reshape((3, 4))

arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [203]:
np.concatenate([arr, arr], axis = 1)

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

pandas 객체의 컨텍스트 내부에는 축마다 이름이 있어서 배열을 쉽게 이어붙일 수 있도록 되어있음. 다음 사항 고려해야 함
- 만약 연결하려는 두 객체의 색인이 서로 다르면 결과는 그 색인의 교집합이어야 하는가 아니면 합집합이어야 하는가?
- 합쳐진 결과에서 합쳐지기 전 객체의 데이터를 구분할 수 있어야 하는가?
- 어떤 축으로 연결할 것인지 고려해야 하는가? 많은 경우 DataFrame의 기본 정부 라벨이 가장 먼저 무시된다.

concat 함수는 위 사항에 대한 답을 제공함

In [204]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index = ['a', 'b', 'c'],
                   columns = ['one', 'two'])

df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index = ['a', 'c'],
                   columns = ['three', 'four'])

In [205]:
df1

   one  two
a    0    1
b    2    3
c    4    5

In [206]:
df2

   three  four
a      5     6
c      7     8

In [207]:
pd.concat([df1, df2], axis = 1, keys = ['level1', 'level2'])

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

- 리스트 대신 객체의 사전을 넘기면 사전의 키가 keys 옵션으로 사용됨

In [208]:
pd.concat({'level1' : df1, 'level2' : df2}, axis = 1)

  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0

In [211]:
pd.concat([df1, df2], axis = 1, keys = ['level1', 'level2'],
         names = ['upper', 'lower'])

upper level1     level2
lower    one two  three four
a          0   1    5.0  6.0
b          2   3    NaN  NaN
c          4   5    7.0  8.0

- DataFrame의 로우 색인이 분석에 필요한 데이터를 포함하고 있지 않은 경우

In [212]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns = ['a', 'b', 'c', 'd'])

df2 = pd.DataFrame(np.random.randn(2, 3), columns = ['b', 'd', 'a'])

In [213]:
df1

          a         b         c         d
0 -0.064523 -0.249556 -1.307084 -0.741529
1  0.352331 -0.549673  1.311914 -1.775959
2 -0.247617  0.248171 -0.264563  1.196116

In [214]:
df2

          b         d         a
0  0.562796  0.810186 -0.990991
1  1.097997 -1.260244  0.198757

- ignore_index = True 옵션 주면 됨

In [215]:
pd.concat([df1, df2], ignore_index = True)

          a         b         c         d
0 -0.064523 -0.249556 -1.307084 -0.741529
1  0.352331 -0.549673  1.311914 -1.775959
2 -0.247617  0.248171 -0.264563  1.196116
3 -0.990991  0.562796       NaN  0.810186
4  0.198757  1.097997       NaN -1.260244

<concat 함수 인자>
- objs : 이어붙일 pandas 객체의 사전이나 리스트
- axis : 이어붙일 축 방향
- join : 조인 방식(inner, outer)
- join_axes : 합집합/교집합을 수행하는 대신 다른 n-1 축으로 사용할 색인 지정
- keys : 이어붙일 객체나 이어붙인 축에 대한 계층 색인을 생성하는 데 연관된 값
- levels : 계층 색인 레벨로 사용할 색인 지정
- names : keys나 levels 혹은 둘 다 있을 경우 생성된 계층 레벨을 위한 이름
- verify_integrity : 이어붙인 객체에 중복되는 축이 있는지 검사하고 있다면 예외를 발생시킴
- ignore_index : 이어붙인 축의 색인을 유지하지 않고 range로 새로운 색인을 생성함

### **겹치는 데이터 합치기**
- 두 데이터셋의 색인이 일부 겹치거나 전체가 겹치는 경우 병합이나 이어붙이기로는 불가능함

In [216]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan],
              index = ['f', 'e', 'd', 'c', 'b', 'a'])

b = pd.Series(np.arange(len(a), dtype = np.float64),
              index = ['f', 'e', 'd', 'c', 'b', 'a'])

In [217]:
b[-1] = np.nan

In [218]:
a

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64

In [219]:
b

f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64

In [220]:
np.where(pd.isnull(a), b, a)

array([0. , 2.5, 2. , 3.5, 4.5, nan])

- Series 객체의 combine_first 메서드는 위와 동일한 기능을 함
- 잘 쓰이지 않음
- DataFrame에서도 같은 동작을 함

In [222]:
df1 = pd.DataFrame({'a' : [1., np.nan, 5., np.nan],
                    'b' : [np.nan, 2., np.nan, 6.],
                    'c' : range(2, 18, 4)})

df2 = pd.DataFrame({'a' : [5., 4., np.nan, 3., 7.],
                    'b' : [np.nan, 3., 4., 6., 8.]})

In [223]:
df1

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14

In [224]:
df2

     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0

In [225]:
df1.combine_first(df2)

     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN

## 3. 재형성과 피벗

- 표 형식의 데이터를 재배치하는 다양한 기본 연산이 존재함
- 이런 연산을 재형성 또는 피벗 연산이라고 함

### **계층적 색인으로 재형성하기**

계층적 색인은 DataFrame의 데이터를 재배치하는 다음과 같은 방식을 제공함
- stack : 데이터의 컬럼을 로우로 피벗시킴
- unstack : 로우를 컬럼으로 피벗시킴

In [226]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns=pd.Index(['one', 'two', 'three'],
                    name='number'))
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

- stack 메서드를 사용하면 컬럼이 로우로 피벗됨

In [227]:
result = data.stack()

result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64

In [228]:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

- 기본적으로 가장 안쪽에 있는 레벨부터 끄집어내는데, 레벨 숫자나 이름을 전달해서 끄집어낼 단계를 지정할 수 있음

In [229]:
result.unstack(0)

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [230]:
result.unstack('state')

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

- 해당 레벨에 있는 모든 값이 하위그룹에 속하지 않을 경우 unstack을 하게 되면 누락된 데이터가 생길 수 있음

In [231]:
s1 = pd.Series([0, 1, 2, 3], index = ['a', 'b', 'c', 'd'])

s2 = pd.Series([4, 5, 6], index = ['c', 'd', 'e'])

In [232]:
s1

a    0
b    1
c    2
d    3
dtype: int64

In [233]:
s2

c    4
d    5
e    6
dtype: int64

In [235]:
data2 = pd.concat([s1, s2], keys = ['one', 'two'])

data2

one  a    0
     b    1
     c    2
     d    3
two  c    4
     d    5
     e    6
dtype: int64

In [236]:
data2.unstack()

       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0

- stack 메서드는 누락된 데이터를 자동적으로 걸러내기 때문에 연산을 쉽게 원상 복구할 수 있음

In [239]:
data2

one  a    0
     b    1
     c    2
     d    3
two  c    4
     d    5
     e    6
dtype: int64

In [238]:
data2.unstack()

       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0

In [240]:
data2.unstack().stack()

one  a    0.0
     b    1.0
     c    2.0
     d    3.0
two  c    4.0
     d    5.0
     e    6.0
dtype: float64

In [241]:
data2.unstack().stack(dropna = False)

one  a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    NaN
two  a    NaN
     b    NaN
     c    4.0
     d    5.0
     e    6.0
dtype: float64

- DataFrame을 unstack()할 때 unstack 레벨은 결과에서 가장 낮은 단계가 됨

In [243]:
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64

In [242]:
df = pd.DataFrame({'left' : result, 'right' : result + 5},
                  columns = pd.Index(['left', 'right'], name = 'side'))

df

side             left  right
state    number
Ohio     one        0      5
         two        1      6
         three      2      7
Colorado one        3      8
         two        4      9
         three      5     10

In [244]:
df.unstack('state')

side   left          right
state  Ohio Colorado  Ohio Colorado
number
one       0        3     5        8
two       1        4     6        9
three     2        5     7       10

- stack을 호출할 때 쌓을 축의 이름을 지정할 수 있음

In [245]:
df.unstack('state').stack('side')

state         Colorado  Ohio
number side
one    left          3     0
       right         8     5
two    left          4     1
       right         9     6
three  left          5     2
       right        10     7

### **넓은 형식에서 긴 형식으로 피벗하기**

In [246]:
df = pd.DataFrame({'key': ['foo', 'bar', 'baz'],
                   'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})
df

   key  A  B  C
0  foo  1  4  7
1  bar  2  5  8
2  baz  3  6  9

In [258]:
df.melt(['A', 'B', 'C'])

   A  B  C variable value
0  1  4  7      key   foo
1  2  5  8      key   bar
2  3  6  9      key   baz

- key 컬럼을 그룹 구분자로 사용할 수 있고 다른 컬럼을 데이터값으로 사용할 수 있음
- pandas.melt를 사용할 때는 반드시 어떤 컬럼을 그룹 구분자로 사용할 것인지 지정해야 함

- melt : wide -> long
- pivot : long -> wide

In [247]:
df.melt()

   variable value
0       key   foo
1       key   bar
2       key   baz
3         A     1
4         A     2
5         A     3
6         B     4
7         B     5
8         B     6
9         C     7
10        C     8
11        C     9

In [250]:
melted = pd.melt(df, ['key'])

melted

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6
6  foo        C      7
7  bar        C      8
8  baz        C      9

- pivot을 사용해서 원래 모양으로 되돌릴 수 있음

In [251]:
reshaped = melted.pivot('key', 'variable', 'value')

reshaped

variable  A  B  C
key
bar       2  5  8
baz       3  6  9
foo       1  4  7

- pivot의 결과는 로우 라벨로 사용하던 컬럼에서 색인을 생성하므로 reset_index를 이용해서 데이터를 다시 컬럼으로 되돌리기

In [252]:
reshaped.reset_index()

variable  key  A  B  C
0         bar  2  5  8
1         baz  3  6  9
2         foo  1  4  7

- 데이터값으로 사용할 컬럼들의 집합을 지정할 수도 있음

In [254]:
pd.melt(df, id_vars = ['key'], value_vars = ['A', 'B'])

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6

In [259]:
df.melt(id_vars = ['key'], value_vars = ['A', 'B', 'C'])

   key variable  value
0  foo        A      1
1  bar        A      2
2  baz        A      3
3  foo        B      4
4  bar        B      5
5  baz        B      6
6  foo        C      7
7  bar        C      8
8  baz        C      9

- pandas.melt는 그룹 구분자 없이도 사용할 수 있음

In [255]:
pd.melt(df, value_vars = ['A', 'B', 'C'])

  variable  value
0        A      1
1        A      2
2        A      3
3        B      4
4        B      5
5        B      6
6        C      7
7        C      8
8        C      9

In [257]:
pd.melt(df, value_vars = ['key', 'A', 'B'])

  variable value
0      key   foo
1      key   bar
2      key   baz
3        A     1
4        A     2
5        A     3
6        B     4
7        B     5
8        B     6

In [261]:
df = pd.read_excel("excel_exam.xlsx")
df

    id  class  math  english  science
0    1      1    50       98       50
1    2      1    60       97       60
2    3      1    45       86       78
3    4      1    30       98       58
4    5      2    25       80       65
5    6      2    50       89       98
6    7      2    80       90       45
7    8      2    90       78       25
8    9      3    20       98       15
9   10      3    50       98       45
10  11      3    65       65       65
11  12      3    45       85       32
12  13      4    46       98       65
13  14      4    48       87       12
14  15      4    75       56       78
15  16      4    58       98       65
16  17      5    65       68       98
17  18      5    80       78       90
18  19      5    89       68       87
19  20      5    78       83       58

In [262]:
pd.melt(df, id_vars = ['class'], value_vars = ['math', 'english', 'science'])

    class variable  value
0       1     math     50
1       1     math     60
2       1     math     45
3       1     math     30
4       2     math     25
5       2     math     50
6       2     math     80
7       2     math     90
8       3     math     20
9       3     math     50
10      3     math     65
11      3     math     45
12      4     math     46
13      4     math     48
14      4     math     75
15      4     math     58
16      5     math     65
17      5     math     80
18      5     math     89
19      5     math     78
20      1  english     98
21      1  english     97
22      1  english     86
23      1  english     98
24      2  english     80
25      2  english     89
26      2  english     90
27      2  english     78
28      3  english     98
29      3  english     98
30      3  english     65
31      3  english     85
32      4  english     98
33      4  english     87
34      4  english     56
35      4  english     98
36      5  english     68
37      5  english     78
38      5  english     68
39      5  english     83
40      1  science     50
41      1  science     60
42      1  science     78
43      1  science     58
44      2  science     65
45      2  science     98
46      2  science     45
47      2  science     25
48      3  science     15
49      3  science     45
50      3  science     65
51      3  science     32
52      4  science     65
53      4  science     12
54      4  science     78
55      4  science     65
56      5  science     98
57      5  science     90
58      5  science     87
59      5  science     58

In [263]:
pd.melt(df, id_vars = ['class'], value_vars = ['math', 'english', 'science'],
        var_name = '과목', value_name = '점수')

    class       과목  점수
0       1     math  50
1       1     math  60
2       1     math  45
3       1     math  30
4       2     math  25
5       2     math  50
6       2     math  80
7       2     math  90
8       3     math  20
9       3     math  50
10      3     math  65
11      3     math  45
12      4     math  46
13      4     math  48
14      4     math  75
15      4     math  58
16      5     math  65
17      5     math  80
18      5     math  89
19      5     math  78
20      1  english  98
21      1  english  97
22      1  english  86
23      1  english  98
24      2  english  80
25      2  english  89
26      2  english  90
27      2  english  78
28      3  english  98
29      3  english  98
30      3  english  65
31      3  english  85
32      4  english  98
33      4  english  87
34      4  english  56
35      4  english  98
36      5  english  68
37      5  english  78
38      5  english  68
39      5  english  83
40      1  science  50
41      1  science  60
42      1  science  78
43      1  science  58
44      2  science  65
45      2  science  98
46      2  science  45
47      2  science  25
48      3  science  15
49      3  science  45
50      3  science  65
51      3  science  32
52      4  science  65
53      4  science  12
54      4  science  78
55      4  science  65
56      5  science  98
57      5  science  90
58      5  science  87
59      5  science  58