<a href="https://colab.research.google.com/github/youseon-jang/python/blob/main/Pandas_summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 시작하기
- 고수준의 자료구조와 파이썬에서 빠르고 쉽게 사용할 수 있는 데이터 분석 도구 포함

In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

## 1. Pandas 자료구조 소개
### **Series**
- Series : 일련의 객체를 담을 수 있는 1차원 배열 같은 구조

In [3]:
s = pd.Series([4, 7, -5, 3])

s

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
s.values

array([ 4,  7, -5,  3])

In [5]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
### 각각의 index 설정
s2 = pd.Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])
s2

d    4
b    7
a   -5
c    3
dtype: int64

In [7]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [9]:
s2['a']

-5

In [10]:
s2['d'] = 6

s2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

- ['c', 'a', 'd']는 색인의 배열로 해석됨
- 불리언 배열을 사용해서 값을 걸러내거가 산술 곱셈을 수행하거나 또는 수학 함수를 적용하는 등 NumPy 배열 연산을 수행해도 색인-값 연결이 유지됨

In [11]:
s2[s2 > 0]

d    6
b    7
c    3
dtype: int64

In [12]:
s2*2

d    12
b    14
a   -10
c     6
dtype: int64

In [14]:
import numpy as np

np.exp(s2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

- Series 객체는 파이썬의 사전형을 인자로 받아야 하는 많은 함수에서 사전형을 대체하여 사용할 수 있음

In [15]:
'b' in s2

True

In [16]:
'e' in s2

False

- 파이썬 사전 객체로부터 Series 객체를 생성할 수 있음

In [17]:
sdata = {'Ohio' : 35000, 'Texas' : 71000, 'Oregon' : 16000, 'Utah' : 5000}

s3 = pd.Series(sdata)

s3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [18]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

s4 = pd.Series(sdata, index = states)

s4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

- isnull
- notnull

In [19]:
pd.isnull(s4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [20]:
pd.notnull(s4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [22]:
s4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

- Series는 산술 연산에서 색인과 라벨로 자동 정렬함

In [23]:
s3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [24]:
s4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [25]:
s3 + s4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

- Series 객체와 색인 보두 name 속성 있음

In [26]:
s4.name = 'population'

s4.index.name = 'state'

s4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

- Series의 색인은 대입하여 변경 가능함

In [27]:
s

0    4
1    7
2   -5
3    3
dtype: int64

In [28]:
s.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

s

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

### **DataFrame**
- DataFrame은 표 같은 스프레드시트 형식의 자료구조이고 여러 개의 컬럼이 있는데 각 컬럼은 서로 다른 종류의 값을 담을 수 있음
- 하나 이상의 2차원 배열에 저장됨

In [29]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [31]:
frame = pd.DataFrame(data)

frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [33]:
frame.head()  ### 5개만 출력

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [35]:
pd.DataFrame(data, columns = ['year', 'state', 'pop'])  ## columns 순서 지정 가능

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [37]:
frame2 = pd.DataFrame(data, columns = ['year', 'state', 'pop', 'debt'],
                      index = ['one', 'two', 'three', 'four', 'five', 'six'])

frame2  ### 사전에 없는 값을 넘기면 결측치로 지정됨

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [38]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

- DataFrame의 컬럼은 Series처럼 사전 형식의 표기법으로 접근하거나 속성 형식으로 접근할 수 있음

In [39]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [40]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

- frame2[column] 형태는 어떤 칼럼이든 가능하지만 frame2.column 형태는 안될 때도 있으므로 전자 권장

- 로우는 위치나 loc 속성을 이용해 이름을 통한 접근 가능

In [41]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

- columns 대입 가능
- 리스트나 배열을 column에 대입할 때는 대입하려는 값의 길이가 DataFrame의 크기와 동일해야 함

In [42]:
frame2['debt'] = 16.5

frame2

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

In [43]:
frame2['debt'] = np.arange(6.)

frame2

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [45]:
val = pd.Series([-1.2, -1.5, -1.7], index = ['two', 'four', 'five'])

frame2['debt'] = val

frame2  ### 존재하지 않는 색인에는 결측치 대입됨

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

- del, drop 예약어로 칼럼 삭제 가능
- 인덱싱으로 필요한 칼럼만 뽑은 후 저장하는 방법도 있음

In [46]:
frame2['eastern'] = frame2.state == 'Ohio'

In [47]:
frame2

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False

In [48]:
del frame2['eastern']

In [49]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')

- DataFrame의 색인을 이용해서 얻은 컬럼은 내부 데이터에서 뷰(View)이며 복사가 이루어지지 않음
- 얻은 Series 객체에 대한 변경은 실제 DataFrame에 반영됨
- 복사본이 필요하면 copy 메서드 이용

In [50]:
pop = {'Nevada' : {2001: 2.4, 2002: 2.9},
       'Ohio' : {2000: 1.5, 2001: 1.7, 2002: 3.6}}

pop

{'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [51]:
frame3 = pd.DataFrame(pop)

frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [52]:
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [53]:
pd.DataFrame(pop, index = [2001, 2002, 2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [54]:
pdata = {'Ohio' : frame3['Ohio'][:-1],
         'Nevada' : frame3['Nevada'][:2]}

pd.DataFrame(pdata)

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9

- dataframe의 색인과 컬럼에 name 속성을 지정했다면 함께 출력됨

In [55]:
frame3.index.name = 'year'; frame3.columns.name = 'state'

frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

- Series와 유사하게 value 속성은 DataFrame에 저장된 데이터를 2차원 배열로 반환함
- array로 반환됨

In [56]:
frame3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

In [57]:
frame2.values

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, -1.2],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, -1.5],
       [2002, 'Nevada', 2.9, -1.7],
       [2003, 'Nevada', 3.2, nan]], dtype=object)

### **색인 객체**
- pandas의 색인 객체는 표 형식의 데이터에서 각 로우와 컬럼에 대한 이름과 다른 메타데이터를 저장하는 객체임

In [58]:
obj = Series(range(3), index = ['a', 'b', 'c'])

index = obj.index

index

Index(['a', 'b', 'c'], dtype='object')

In [59]:
index[1:]

Index(['b', 'c'], dtype='object')

- index 한 개만 변경할 수 없음

In [60]:
index[1] = 'd'

TypeError: ignored

In [61]:
labels = pd.Index(np.arange(3))

labels

Int64Index([0, 1, 2], dtype='int64')

In [62]:
obj2 = pd.Series([1.5, -2.5, 0], index = labels)

obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [63]:
obj.index is labels

False

In [65]:
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [66]:
frame3.columns

Index(['Nevada', 'Ohio'], dtype='object', name='state')

In [67]:
'Ohio' in frame3.columns

True

In [68]:
2003 in frame3.index

False

- 파이썬의 집합과 달리 pandas의 인덱스는 중복되는 값을 허용함

In [69]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])

dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

## 2. 핵심 기능

### **재색인**
- reindex : 새로운 색인에 맞도록 객체를 새로 생성함

In [70]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index = ['d', 'b', 'a', 'c'])

obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [71]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])

obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

- 시계열 같은 순차적인 데이터를 재색인할 때 값을 보간하거나 채워 넣어야 할 경우가 있음
- method 옵션을 이용해서 채울 수 있음
- ffill(foward fill)같은 메서드 이용

In [72]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index = [0, 2, 4])

obj3

0      blue
2    purple
4    yellow
dtype: object

In [73]:
obj3.reindex(range(6), method = 'ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

- DataFrame에 대한 reindex는 로우(색인), 컬럼 또는 둘 다 변경 가능함
- 순서만 전달하면 로우가 재색인됨

In [74]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index = ['a', 'c', 'd'],
                     columns = ['Ohio', 'Texas', 'California'])

frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [75]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])

frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [76]:
states = ['Texas', 'Utah', 'California']

frame.reindex(columns = states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

- 재색인은 loc를 이용해서 라벨로 색인하면 좀 더 간결하게 할 수 있으며 대부분의 사용자는 명시적으로 이 방식을 선호함

In [77]:
frame.loc[['a', 'b', 'c', 'd'], states]

KeyError: ignored

### **하나의 로우나 컬럼 삭제하기**
- drop

In [4]:
import pandas as pd
import numpy as np

obj = pd.Series(np.arange(5), index = ['a', 'b', 'c', 'd', 'e'])

obj

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [5]:
new_obj = obj.drop('c')

In [6]:
new_obj

a    0
b    1
d    3
e    4
dtype: int64

In [7]:
obj.drop(['d', 'c'])

a    0
b    1
e    4
dtype: int64

- DataFrame에서는 로우와 칼럼 모두에서 값을 삭제할 수 있음

In [8]:
data = pd.DataFrame(np.arange(16).reshape(4, 4),
                    index = ['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns = ['one', 'two', 'three', 'four'])

data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

- drop 함수에 인자로 로우 이름 넘기면 해당 로우의 값을 모두 삭제
- axis = 1 or 0 인자를 꼭 넣기!!

In [9]:
data.drop(['Colorado', 'Ohio'], axis = 0)

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [10]:
data.drop('two', axis = 1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [11]:
data.drop(['two', 'four'], axis = 'columns')

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [12]:
## drop 내용 저장할 때 inplace = True
obj.drop('c', inplace = True)

obj

a    0
b    1
d    3
e    4
dtype: int64

### **색인하기, 선택하기, 거르기**

In [13]:
obj = pd.Series(np.arange(4.), index = ['a', 'b', 'c', 'd'])

obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [14]:
obj['b']

1.0

In [15]:
obj[1]

1.0

In [16]:
obj[2:4]

c    2.0
d    3.0
dtype: float64

In [17]:
obj[['b', 'a', 'd']]

b    1.0
a    0.0
d    3.0
dtype: float64

In [18]:
obj[[1, 3]]

b    1.0
d    3.0
dtype: float64

In [19]:
obj[obj < 2]

a    0.0
b    1.0
dtype: float64

- 라벨 이름으로 슬라이싱하면 시작점과 끝점을 포함함

In [20]:
obj['b':'c']

b    1.0
c    2.0
dtype: float64

In [21]:
obj['b':'c'] = 5

obj

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

- 색인으로 DataFrame에서 하나 이상의 컬럼값을 가져올 수 있음

In [22]:
data = pd.DataFrame(np.arange(16).reshape(4, 4),
                    index = ['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns = ['one', 'two', 'three', 'four'])

data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [23]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [25]:
data[['three', 'one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

- 슬라이싱으로 로우를 선택하거나 불리언 배열로 선택할 수 있음

In [26]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [27]:
data[data['three'] > 5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

- 스칼라 비교를 이용해 생성된 불리언 DataFrame을 사용해 값 선택

In [28]:
data < 5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [30]:
data[data < 5] = 0

data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

<loc과 iloc으로 선택하기>
- 축 이름 선택 시 loc
- 정수 색인으로 선택 시 iloc

In [31]:
data.loc['Colorado', ['two', 'three']]

two      5
three    6
Name: Colorado, dtype: int64

In [32]:
data.iloc[2, [3, 0, 1]]

four    11
one      8
two      9
Name: Utah, dtype: int64

In [33]:
data.iloc[2]

one       8
two       9
three    10
four     11
Name: Utah, dtype: int64

In [34]:
data.iloc[[1, 2], [3, 0, 1]]

          four  one  two
Colorado     7    0    5
Utah        11    8    9

In [35]:
data.loc[:'Utah', 'two']

Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int64

In [36]:
data.iloc[:, :3][data.three > 5]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

### **정수 색인**
- label index가 0, 1, 2를 포함하는 경우 사용자가 label index로 값을 선택하려는 것인지 정수 색인으로 선택하려는 것인지 추측 어려움
- 정수 기반의 색인 사용시 모호함 사라짐

In [37]:
ser = pd.Series(np.arange(3.))

ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [38]:
ser[-1]

KeyError: ignored

In [39]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [40]:
ser2 = pd.Series(np.arange(3.), index = ['a', 'b', 'c'])

ser2[-1]

2.0

- 일관성 유지를 위해 정숫값을 담고 있는 축 색인이 있다면 우선적으로 라벨을 먼저 찾아보기
- 라벨 - loc / 정수색인 - iloc

In [41]:
ser[:1]

0    0.0
dtype: float64

In [42]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [43]:
ser.iloc[:1]

0    0.0
dtype: float64

### **산술 연산과 데이터 정렬**

- 다른 색인을 갖고 있는 객체 간의 산술연산
- 객체를 더할 때 짝이 맞지 않는 색인이 있다면 결과에 두 색인이 통합된다.

In [44]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index = ['a', 'c', 'd', 'e'])

s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [45]:
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index = ['a', 'c', 'e', 'f', 'g'])

s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [46]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

- 서로 겹치는 색인이 없는 경우 데이터는 NA 값이 된다.
- 산술 연산 시 누락된 값은 전파된다.
- DataFrame의 경우 정렬은 로우와 컬럼 모두에 적용된다.

In [47]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns = list('bcd'), index = ['Ohio', 'Texas', 'Colorado'])
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [48]:
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns = list('bde'), index = ['Utah', 'Ohio', 'Texas', 'Oregon'])
df2

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [49]:
df1 + df2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

- 'c'와 'e'컬럼이 양쪽에 존재하지 않으므로 결과에서는 모두 없는 값으로 나타남
- 로우 역시 마찬가지로 양쪽에 다 존재하지 않는 라벨에 대해서는 없는 값으로 나타남

In [53]:
df1 = pd.DataFrame({'A' : [1, 2]})

df2 = pd.DataFrame({'B' : [3, 4]})

In [54]:
df1

   A
0  1
1  2

In [55]:
df2

   B
0  3
1  4

In [56]:
df1- df2

    A   B
0 NaN NaN
1 NaN NaN

<산술 연산 메서드에 채워 넣을 값 지정하기>
- 서로 다른 색인을 가지는 객체 간의 산술 연산에서 존재하지 않는 축의 값을 특수한 값으로 지정하고 싶을 때

In [57]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns = list('abcd'))

df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [58]:
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns = list('abcde'))

df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [59]:
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

- df1에 add 메서드를 사용하고 df2와 fill_value 값을 인자로 전달한다.

In [61]:
df1.add(df2, fill_value = 0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

- 각각의 산술 연산 메서드는 r로 시작하는 계산 인자를 뒤집어 계산하는 짝궁 메서드를 가진다.

In [62]:
1 / df1

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [63]:
df1.rdiv(1)

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

- Series나 DataFrame을 재색인할 때도 fill_value를 지정할 수 있음

In [64]:
df1.reindex(columns = df2.columns, fill_value = 0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

<산술 연산 메서드>
- add, radd : 덧셈
- sub, rsub : 뺄셈
- div, rdiv : 나눗셈
- floordiv, rfloordiv : 소수점 내림 연산
- mul, rmul : 곱셈
- pow, rpow : 멱승(**)

<DataFrame과 Series 간의 연산>

In [65]:
arr = np.arange(12.).reshape((3, 4))

arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [66]:
arr[0]

array([0., 1., 2., 3.])

In [67]:
arr - arr[0]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

- arr에서 arr[0]을 빼면 계산은 각 로우에 대해 한 번씩만 수행됨
- 이를 브로드캐스팅이라고 함

In [69]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                    columns = list('bde'),
                    index = ['Utah', 'Ohio', 'Texas', 'Oregon'])

series = frame.iloc[0]

In [70]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [71]:
series

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

- 기본적으로 DataFrame과 Series 간의 산술연산은 Series의 색인을 DataFrame의 컬럼에 맞추고 아래 로우로 전파함

In [72]:
frame - series

          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

- 만약 색인값을 DataFrame의 컬럼이나 Series의 색인에서 찾을 수 없다면 그 객체는 형식을 맞추기 위해 재색인된다.

In [74]:
series2 = pd.Series(np.arange(3), index = ['b', 'e', 'f'])

In [75]:
frame + series2

          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN

- 각 행에 대해 연산을 수행하고싶으면 산술 연산 메서드 사용

In [76]:
series3 = frame['d']

frame

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [77]:
series3

Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64

In [78]:
frame.sub(series3, axis = 'index')

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

- 인자로 넘기는 axis 값은 연산을 적용할 축 번호다.
- axis = 'index'나 axis = 0은 DataFrame의 로우를 따라 연산을 수행하라는 의미다.

### **함수 적용과 매핑**
- pandas 객체에도 NumPy의 유니버설함수(배열의 각 원소에 적용되는 메서드)를 적용할 수 있음

In [79]:
frame = pd.DataFrame(np.random.randn(4, 3), columns = list('bde'),
                     index = ['Utah', 'Ohio', 'Texas', 'Oregon'])

frame

               b         d         e
Utah    0.649187  0.901976  0.553915
Ohio    0.739577  0.975745 -1.112120
Texas  -0.388685  0.208654  0.628615
Oregon -0.923424 -1.716398 -0.301451

In [80]:
np.abs(frame)

               b         d         e
Utah    0.649187  0.901976  0.553915
Ohio    0.739577  0.975745  1.112120
Texas   0.388685  0.208654  0.628615
Oregon  0.923424  1.716398  0.301451

- 자주 사용되는 또 다른 연산은 각 컬럼이나 로우의 1차원 배열에 함수를 적용하는 것이다.
- DataFrame의 apply 메서드를 이용해 수행할 수 있음

In [81]:
f = lambda x: x.max() - x.min()

frame.apply(f)

b    1.663001
d    2.692143
e    1.740735
dtype: float64

- 여기서 함수 f는 frame의 각 컬럼에 대해 한 번만 수행되며 결괏값은 계산을 적용한 컬럼을 색인으로 하는 Series를 반환한다.

In [82]:
frame.apply(f, axis = 'columns')  ## apply 함수에 axis = 'columns' 인자를 넘기면 각 로우에 대해 한 번씩만 수행된다.

Utah      0.348061
Ohio      2.087866
Texas     1.017301
Oregon    1.414947
dtype: float64

- 배열에 대한 일반적인 통계(sum이나 mean같은)는 DataFrame의 메서드로 존재하므로 apply 메서드를 사용할 필요 없다.
- apply 메서드에 전달된 함수는 스칼라값을 반환할 필요가 없음(1개의 값을 반환할 필요 없음)
- 여러 값을 가진 Series를 반환해도 됨

In [83]:
def f(x):
  return pd.Series([x.min(), x.max()], index = ['min', 'max'])

fram.apply(f)

       b     d     e
min  0.0   1.0   2.0
max  9.0  10.0  11.0

- 배열의 각 원소에 적용되는 파이썬의 함수를 사용할 수 있음
- frame 객체에서 실숫값을 문자열 포맷으로 변환하고싶다면 applymap을 이용

In [84]:
format = lambda x: '%.2f' %x

frame.applymap(format)

            b      d      e
Utah     0.65   0.90   0.55
Ohio     0.74   0.98  -1.11
Texas   -0.39   0.21   0.63
Oregon  -0.92  -1.72  -0.30

In [85]:
frame['e'].map(format)

Utah       0.55
Ohio      -1.11
Texas      0.63
Oregon    -0.30
Name: e, dtype: object

### **정렬과 순위**
- sort_index : 로우나 컬럼의 색인을 알파벳순으로 정렬 후 새로운 객체를 반환

In [86]:
obj = pd.Series(range(4), index = ['d', 'a', 'b', 'c'])

obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

- DataFrame은 로우나 컬럼 중 하나의 축을 기준으로 정렬할 수 있음

In [88]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index = ['three', 'one'],
                     columns = ['d', 'a', 'b', 'c'])

frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [89]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [90]:
frame.sort_index(axis = 1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

- 오름차순, 내림차순

In [91]:
frame.sort_index(axis = 1, ascending = False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

- Series 객체를 값에 따라 정렬하고 싶다면 sort_values 메서드 사용

In [93]:
obj = pd.Series([4, 7, -3, 2])
obj

0    4
1    7
2   -3
3    2
dtype: int64

In [94]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

- 정렬할 때 비어 있는 값은 기본적으로 Series 객체에서 가장 마지막에 위치함

In [95]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj

0    4.0
1    NaN
2    7.0
3    NaN
4   -3.0
5    2.0
dtype: float64

In [96]:
obj.sort_values

<bound method Series.sort_values of 0    4.0
1    NaN
2    7.0
3    NaN
4   -3.0
5    2.0
dtype: float64>

- DataFrame에서 하나 이상의 컬럼에 있는 값으로 정렬을 하는 경우 sort_values 함수의 by 옵션에 하나 이상의 칼럼 이름을 넘기면 됨

In [97]:
frame = pd.DataFrame({'b' : [4, 7, -3, 2], 'a' : [0, 1, 0, 1]})

frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [99]:
frame.sort_values(by = 'a')

   b  a
0  4  0
2 -3  0
1  7  1
3  2  1

- 여러 개의 컬럼을 정렬하려면 컬럼 이름이 담긴 리스트를 전달하면 됨

In [100]:
frame.sort_values(by = ['a', 'b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

- 순위는 정렬과 거의 흡사한데, 1부터 배열의 유효한 데이터 개수까지 순서를 매김
- 기본적으로 Series와 DataFrame의 rank 메서드는 동점인 항목에 대해서는 평균 순위를 매김

In [101]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])

obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [102]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

- 데이터 상에서 나타나는 순서에 따라 순위를 매길 수 있음
- 0번째와 2번째 항목에 대해 평균 순위인 6.5를 적용하는 대신 먼저 출현한 순서대로 6과 7을 적용

In [103]:
obj.rank(method = 'first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

- 내림차순으로 순위 매기기

In [104]:
obj.rank(ascending = False, method = 'max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

- DataFrame에서는 로우나 컬럼에 대해 순위를 정할 수 있음

In [105]:
frame = pd.DataFrame({'b' : [4.3, 7, -3, 2], 'a' : [0, 1, 0, 1], 'c' : [-2, 5, 8, -2.5]})

frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [106]:
frame.rank(axis = 'columns')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

### **중복 색인**

In [107]:
obj = pd.Series(range(5), index = ['a', 'a', 'b', 'b', 'c'])

obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

- is_unique 속성은 해당 값이 유일한지 아닌지 알려줌

In [108]:
obj.index.is_unique

False

- 중복되는 색인값이 없을 때는 색인을 이용해 데이터에 접근하면 스칼라 값을 반환
- 중복된 색인값이 있을 때는 하나의 Series 객체를 반환

In [109]:
obj['a']

a    0
a    1
dtype: int64

In [110]:
obj['c']

4

In [111]:
df = pd.DataFrame(np.random.randn(4, 3), index = ['a', 'a', 'b', 'b'])

df

          0         1         2
a  0.503475  0.727527  0.311784
a  0.609244  0.902335  1.557458
b -0.416373  1.467799  0.436401
b  0.919513  0.844591 -1.138620

In [112]:
df.loc['b']

          0         1         2
b -0.416373  1.467799  0.436401
b  0.919513  0.844591 -1.138620

## 3. 기술 통계 계산과 요약
- pandas 객체는 일반적인 수학 메서드와 통계 메서드를 갖고있음
- 이 메서드의 대부분은 하나의 Series나 DataFrame의 로우나 컬럼에서 단일값을 구하는 축소 혹는 요약 통계 범주에 속함
- pandas의 메서드는 처음부터 누락된 데이터를 제외하도록 설계되었음

In [113]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                  [np.nan, np.nan], [0.75, -1.3]],
                  index = ['a', 'b', 'c', 'd'],
                  columns = ['one', 'two'])

df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [114]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [115]:
df.sum(axis = 'columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

- 전체 로우나 컬럼의 값이 NA가 아니라면 NA 값은 제외되고 계산됨
- skipna 옵션으로 조정 가능

In [116]:
df.mean(axis = 'columns', skipna = False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

<축소 메서드의 옵션>
- axis : 연산을 수행할 축
- skipna : 누락된 값을 제외할 것인지 정하는 옵션, 기본값은 True
- level : 계산하려는 축이 계층적 색인이라면 레벨에 따라 묶어서 계산

- idxmin이나 idxmax 같은 메서드는 최솟값 혹은 최댓값을 가지고 있는 색인값과 같은 간접 통계를 반환함

In [118]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [117]:
df.idxmax()

one    b
two    d
dtype: object

- 누산(accumulation)

In [119]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

- describe

In [120]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

- 수치 데이터가 아닐 경우 describe는 다른 요약 통계 생성

In [121]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)

obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [122]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

<요약 통계 관련 메서드>
- count : NA 값을 제외한 값의 수를 반환
- describe : Series나 DataFrame의 각 컬럼에 대한 요약 통계 계산
- min, max : 최솟값과 최댓값 계산
- argmin, argmax : 각각 최솟값과 최댓값을 담고 있는 색인의 위치(정수)를 반환
- idxmin, idxmax : 각각 최솟값과 최댓값을 담고 있는 색인의 값을 반환
- quantile : 0부터 1까지의 분위수를 계산
- sum : 합을 계산
- mean : 평균을 계산
- median : 중간값(50% 분위)를 반환
- var : 표본분산의 값을 계산
- std : 표본표준편차의 값을 계산
- cumsum : 누적합 계산
- cummin, cummax : 각각 누적 최솟값, 누적 최댓값을 계산
- diff : 1차 산술차 계산(시계열 데이터 처리 시 유용)
- pct_change : 퍼센트 변화율 계산

### **상관관계와 공분산**
- 상관관계나 공분산 같은 요약 통계 계산은 두 쌍의 인자를 필요로 함

- corr 메서드는 NA가 아니며 정렬된 색인에서 연속하는 두 Series에 대해 상관관계를 계산
- cov 메서드는 공분산을 계산

- DataFrame에서 corr과 cov 메서드는 DataFrame 행렬에서 상관관계와 공분산을 계산
- DataFrame의 corrwith 메서드를 사용하면 다른 Series나 DataFrame과의 상관관계를 계산

### **유일값, 값 세기, 멤버십**
- 또 다른 종류의 메서드로는 1차원 Series에 담긴 값의 정보를 추출하는 메서드가 있음

In [132]:
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [131]:
uniques = obj.unique()

uniques

array(['a', 'b', 'c'], dtype=object)

- 유일값은 정렬된 순서대로 반환되지 않지만 필요하다면 uniques.sort()를 이용해 나중에 정렬 가능
- value_counts 메서드는 Series에서 도수(frequency)를 계산하여 반환

In [133]:
obj.value_counts()

a    8
b    4
c    4
dtype: int64

- value_counts에서 반환하는 Series는 담고 있는 값을 내림차순으로 정렬
- value_counts 메서드는 pandas의 최상위 메서드로, 어떤 배열인 순차 자료구조에서도 사용할 수 있음

In [135]:
obj.values

array(['a', 'a', 'b', 'c', 'a', 'a', 'b', 'c', 'a', 'a', 'b', 'c', 'a',
       'a', 'b', 'c'], dtype=object)

In [134]:
pd.value_counts(obj.values, sort = False)

a    8
b    4
c    4
dtype: int64

- isin 메서드는 어떤 값이 Series에 존재하는지 나타내는 불리언 벡터를 반환
- Series나 DataFrame의 컬럼에서 값을 골라내고 싶을 때 유용하게 사용할 수 있음

In [136]:
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [137]:
mask = obj.isin(['b', 'c'])

In [138]:
mask

0     False
1     False
2      True
3      True
4     False
5     False
6      True
7      True
8     False
9     False
10     True
11     True
12    False
13    False
14     True
15     True
dtype: bool

In [139]:
obj[mask]

2     b
3     c
6     b
7     c
10    b
11    c
14    b
15    c
dtype: object

- isin과 관련이 있는 Index.get_indexer 메서드는 여러 값이 들어있는 배열에서 유일하게 값의 색인 배열을 구할 수 있음

In [140]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])

to_match

0    c
1    a
2    b
3    b
4    c
5    a
dtype: object

In [141]:
unique_vals = pd.Series(['c', 'b', 'a'])

unique_vals

0    c
1    b
2    a
dtype: object

In [144]:
pd.Index(unique_vals)

Index(['c', 'b', 'a'], dtype='object')

In [143]:
pd.Index(unique_vals).get_indexer(to_match)

array([0, 2, 1, 1, 0, 2])

- DataFrame의 여러 컬럼에 대해 히스토그램을 구해야 하는 경우

In [145]:
data = pd.DataFrame({'Qu1' : [1, 3, 4, 3, 4],
                     'Qu2' : [2, 3, 1, 2, 3],
                     'Qu3' : [1, 5, 2, 4, 4]}) 

data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

- 위 DataFrame의 apply 함수에 pandas.value_counts를 넘기면 다음과 같은 결과를 얻음

In [146]:
result = data.apply(pd.value_counts).fillna(0)

result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

- 결괏값의 로우 라벨은 전체 컬럼의 유일한 값들을 담고있음
- 각 값은 각 컬럼에서 해당 값이 몇 번 출현했는지 나타냄

# 데이터 로딩과 저장, 파일 형식

## 1. 텍스트 파일에서 데이터를 읽고 쓰는 법

- read_csv
- read_table
- read_clipboard
- read_excel
- 더 많지만 그 때마다 찾아서 사용하는 것을 추천

In [147]:
df = pd.read_csv('examples_ex1.csv')

df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [149]:
df = pd.read_table('examples_ex1.csv', sep = ',')

df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

- pandas가 자동으로 컬럼 이름을 생성하도록 하거나 우리가 직접 컬럼 이름을 설정

In [150]:
pd.read_csv('examples_ex1.csv', header = None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [152]:
pd.read_csv('examples_ex1.csv', names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

- message 컬럼을 색인으로 하는 DataFrame을 반환하려면 index_col 인자에 4번째 컬럼 또는 'message' 이름 컬럼을 지정
- index_col 지정하면 계층적 색인 지정 가능

In [153]:
names = ['a', 'b', 'c', 'd', 'message']

pd.read_csv('examples_ex1.csv', names = names, index_col = 'message')

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [155]:
names = ['a', 'b', 'c', 'd', 'message']

pd.read_csv('examples_ex1.csv', names = names, index_col = ['message', 'a'])

            b   c   d
message a
message a   b   c   d
hello   1   2   3   4
world   5   6   7   8
foo     9  10  11  12

- 공백 구분을 정규 표현식 \s+를 사용해 처리할 수 있음

In [154]:
result = pd.read_csv('examples_ex1.csv', sep = '\s+')

result

  a,b,c,d,message
0   1,2,3,4,hello
1   5,6,7,8,world
2  9,10,11,12,foo

### **텍스트 파일 조금씩 읽어오기**
- pd.options.display.max_rows = 10
- 위 설정은 한 번 설정해놓으면 계속 적용되므로 나중에 늘려서 보고싶을 때 힘듦
- nrows 옵션 사용 권장

In [157]:
pd.read_csv('examples_ex1.csv', nrows = 3)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### **구분자 형식 다루기**

In [169]:
import csv
f = open('examples_ex7.csv')

reader = csv.reader(f)

In [170]:
for line in reader:
  print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

- 위의 방법 잘 사용하지 않음

In [172]:
with open('examples_ex7.csv') as f:
  lines = list(csv.reader(f))

header, values = lines[0], lines[1:]

In [173]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

- 아래 방법 권장
- r : 읽기
- a : 더하기
- w : 새로 작성

In [176]:
with open("examples_ex7.csv", "r") as f:
  print(f.readlines())

['"a","b","c"\n', '"1","2","3"\n', '"1","2","3"']

In [178]:
with open("examples_ex7.csv", "r") as f:
  print(f.read())

"a","b","c"
"1","2","3"
"1","2","3"

In [179]:
with open("examples_ex7.csv", "r") as f:
  print(f.readline())

"a","b","c"

### **JSON 데이터**
- pandas.read_json은 자동으로 JSON 데이터셋을 Series나 DataFrame으로 변환할 수 있음

## 2. 이진 데이터 형식
- 데이터를 효율적으로 저장하는 쉬운 방법은 파이썬에 기본으로 내장되어 있는 pickle 직렬화 사용해 데이터를 이진 형식으로 저장하는 것
- pandas는 to_pickle 있음

In [180]:
frame = pd.read_csv('examples_ex1.csv')

frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [181]:
frame.to_pickle('examples_frame_pickle')

In [182]:
pd.read_pickle('examples_frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

- pickle은 오랜 시간이 지나도 안정적으로 데이터를 저장할 거라고 보장하기 힘듦
- 오래 보관할 필요가 없는 데이터일 경우에만 추천

## 3. 웹 API와 함께 사용하기

In [183]:
import requests

In [184]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues' 

resp = requests.get(url)

resp

In [185]:
data = resp.json()

data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/48806',
  'id': 1387444078,
  'node_id': 'I_kwDOAA0YD85Ssrdu',
  'number': 48806,
  'title': 'BUG: Bar plot with integer index does not place bars at index positions which makes xlim fail',
  'user': {'login': 'cfblaeb',
   'id': 6593035,
   'node_id': 'MDQ6VXNlcjY1OTMwMzU=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/6593035?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/cfblaeb',
   'html_url': 'https://github.com/cfblaeb',
   'followers_url': 'https://api.github.com/users/cfblaeb/followers',
   'following_url': 'https://api.github.com/users/cfblaeb/following{/other_user}',
   'gists_url': 'https://api.github.com/users/cfblaeb/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/cfblaeb/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/cfblaeb/subscriptions',
   'organizations_url': 'https://api.github.com/users/cfblaeb/orgs',
   'repos_url': 'https://api.github.com/users/cfblaeb/repos',
   'events_url': 'https://api.github.com/users/cfblaeb/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/cfblaeb/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-09-27T09:39:12Z',
  'updated_at': '2022-09-27T09:39:12Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': "### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [X] I have confirmed this bug exists on the main branch of pandas.\n\n\n### Reproducible Example\n\n```python\nimport pandas as pd\r\ndata = {3:4,4:8,5:1,6:4,7:6}\r\npd.Series(data).plot(kind='bar', xlim=(4,6))\r\n# the above plot doesnt respect the xlim\r\n# the below plot does respect xlim\r\nfrom matplotlib import pyplot as plt\r\nplt.bar(data.keys(), data.values())\r\nplt.xlim(4,6)\n```\n\n\n### Issue Description\n\nPlot bar does not respect xlim.\r\nThe cause, as far as I can tell, is pandas simply puts each element on the x axis in order staring from zero: 0, 1, 2 etc...\n\n### Expected Behavior\n\nWhen the index is a number, I would expect it to put the bars the index positions similar to how line plot does it (and how matplotlib pyplot bars does it).\r\nHowever, this should probably be a flag, since I could imagine people would occasionally want to treat even a numbered index as a set of labels rather than actual positions.\n\n### Installed Versions\n\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : 49d4c075e015b5cec0c334554d9d980ae6bf0224\r\npython           : 3.10.7.final.0\r\npython-bits      : 64\r\nOS               : Linux\r\nOS-release       : 5.15.0-48-generic\r\nVersion          : #54-Ubuntu SMP Fri Aug 26 13:26:29 UTC 2022\r\nmachine          : x86_64\r\nprocessor        : x86_64\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : en_DK.UTF-8\r\nLOCALE           : en_DK.UTF-8\r\n\r\npandas           : 1.6.0.dev0+215.g49d4c075e\r\nnumpy            : 1.23.3\r\npytz             : 2022.2.1\r\ndateutil         : 2.8.2\r\nsetuptools       : 65.4.0\r\npip              : 22.2.2\r\nCython           : 0.29.32\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : 3.0.3\r\nlxml.etree       : 4.9.1\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 3.1.2\r\nIPython          : 8.5.0\r\npandas_datareader: None\r\nbs4              : 4.11.1\r\nbottleneck       : None\r\nbrotli           : None\r\nfastparquet      : None\r\nfsspec           : None\r\ngcsfs            : None\r\nmatplotlib       : 3.6.0\r\nnumba            : None\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : 3.0.10\r\npandas_gbq       : None\r\npyarrow          : None\r\npyreadstat       : None\r\npyxlsb           : None\r\ns3fs             : None\r\nscipy            : 1.9.1\r\nsnappy           : None\r\nsqlalchemy       : None\r\ntables           : None\r\ntabulate         : None\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nzstandard        : None\r\ntzdata           : None\r\n\r\n</details>\r\n",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48806/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48805',
  'id': 1387090446,
  'node_id': 'PR_kwDOAA0YD84_qPpH',
  'number': 48805,
  'title': 'Added padding and fixed columns for sponsor logos in mobile view',
  'user': {'login': 'amay-patel',
   'id': 92037532,
   'node_id': 'U_kgDOBXxhnA',
   'avatar_url': 'https://avatars.githubusercontent.com/u/92037532?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/amay-patel',
   'html_url': 'https://github.com/amay-patel',
   'followers_url': 'https://api.github.com/users/amay-patel/followers',
   'following_url': 'https://api.github.com/users/amay-patel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/amay-patel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/amay-patel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/amay-patel/subscriptions',
   'organizations_url': 'https://api.github.com/users/amay-patel/orgs',
   'repos_url': 'https://api.github.com/users/amay-patel/repos',
   'events_url': 'https://api.github.com/users/amay-patel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/amay-patel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-09-27T04:54:17Z',
  'updated_at': '2022-09-27T04:54:17Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/48805',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/48805',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/48805.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/48805.patch',
   'merged_at': None},
  'body': 'Added padding and fixed columns for sponsor logos in mobile view\r\n\r\n- [ ] closes #48519  (Replace xxxx with the Github issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48805/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48804',
  'id': 1387017557,
  'node_id': 'PR_kwDOAA0YD84_qAIu',
  'number': 48804,
  'title': 'TST: Suppress Series constructor warning',
  'user': {'login': 'mroeschke',
   'id': 10647082,
   'node_id': 'MDQ6VXNlcjEwNjQ3MDgy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/10647082?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/mroeschke',
   'html_url': 'https://github.com/mroeschke',
   'followers_url': 'https://api.github.com/users/mroeschke/followers',
   'following_url': 'https://api.github.com/users/mroeschke/following{/other_user}',
   'gists_url': 'https://api.github.com/users/mroeschke/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/mroeschke/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/mroeschke/subscriptions',
   'organizations_url': 'https://api.github.com/users/mroeschke/orgs',
   'repos_url': 'https://api.github.com/users/mroeschke/repos',
   'events_url': 'https://api.github.com/users/mroeschke/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/mroeschke/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 1628184320,
    'node_id': 'MDU6TGFiZWwxNjI4MTg0MzIw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Warnings',
    'name': 'Warnings',
    'color': 'f2f074',
    'default': False,
    'description': 'Warnings that appear or should be added to pandas'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2022-09-27T03:24:19Z',
  'updated_at': '2022-09-27T03:24:19Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/48804',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/48804',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/48804.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/48804.patch',
   'merged_at': None},
  'body': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48804/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/48803',
  'id': 1386980560,
  'node_id': 'I_kwDOAA0YD85Sq6TQ',
  'number': 48803,
  'title': 'DOC: Remove unsupported parameters in `Resampler.mean`',
  'user': {'login': 'donghyyun',
   'id': 31753237,
   'node_id': 'MDQ6VXNlcjMxNzUzMjM3',
   'avatar_url': 'https://avatars.githubusercontent.com/u/31753237?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/donghyyun',
   'html_url': 'https://github.com/donghyyun',
   'followers_url': 'https://api.github.com/users/donghyyun/followers',
   'following_url': 'https://api.github.com/users/donghyyun/following{/other_user}',
   'gists_url': 'https://api.github.com/users/donghyyun/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/donghyyun/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/donghyyun/subscriptions',
   'organizations_url': 'https://api.github.com/users/donghyyun/orgs',
   'repos_url': 'https://api.github.com/users/donghyyun/repos',
   'events_url': 'https://api.github.com/users/donghyyun/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/donghyyun/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2022-09-27T02:31:28Z',
  'updated_at': '2022-09-27T03:08:31Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': "### Pandas version checks\n\n- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)\n\n\n### Location of the documentation\n\nhttps://pandas.pydata.org/docs/reference/api/pandas.core.resample.Resampler.mean.html\n\n### Documentation problem\n\nAccording to the [comment](https://github.com/pandas-dev/pandas/issues/48675#issuecomment-1255369994), numba engine hasn't be implemented for `resample`.\r\n\r\nHowever, the reference document says that they are supporting the numba engine.\n\n### Suggested fix for documentation\n\nPlease remove 'engine', 'engine_kwargs' in `parameters` section.",
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/reactions',
   'total_count': 1,
   '+1': 1,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48803/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/48802',
  'id': 1386976936,
  'node_id': 'I_kwDOAA0YD85Sq5ao',
  'number': 48802,
  'title': 'ENH: support negative axis',
  'user': {'login': 'auderson',
   'id': 48577571,
   'node_id': 'MDQ6VXNlcjQ4NTc3NTcx',
   'avatar_url': 'https://avatars.githubusercontent.com/u/48577571?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/auderson',
   'html_url': 'https://github.com/auderson',
   'followers_url': 'https://api.github.com/users/auderson/followers',
   'following_url': 'https://api.github.com/users/auderson/following{/other_user}',
   'gists_url': 'https://api.github.com/users/auderson/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/auderson/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/auderson/subscriptions',
   'organizations_url': 'https://api.github.com/users/auderson/orgs',
   'repos_url': 'https://api.github.com/users/auderson/repos',
   'events_url': 'https://api.github.com/users/auderson/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/auderson/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2022-09-27T02:25:21Z',
  'updated_at': '2022-09-27T04:30:36Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'body': '### Feature Type\n\n- [X] Adding new functionality to pandas\n\n- [ ] Changing existing functionality in pandas\n\n- [ ] Removing existing functionality in pandas\n\n\n### Problem Description\n\nIt would be nice if pandas supports negative axis:\r\n```python\r\npd.DataFrame(np.arange(5)).mean(axis=-1)\r\n```\n\n### Feature Description\n\nThis should be easy, only need to extend current `_AXIS_TO_AXIS_NUMBER` with {-1:1, -2:0}\n\n### Alternative Solutions\n\n.\n\n### Additional Context\n\n_No response_',
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48802/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/48800/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/48800',
  'id': 1386839371,
  'node_id': 'PR_kwDOAA0YD84_pawM',
  'number': 48800,

In [186]:
data[0]['title']

'BUG: Bar plot with integer index does not place bars at index positions which makes xlim fail'

# 데이터 정제 및 준비

## 1. 누락된 데이터 처리하기

In [187]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [188]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [189]:
string_data[0] = None

string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

<NA 처리 메서드>
- dropna : 누락된 데이터가 있는 축을 제외(어느 정도의 누락 데이터까지 용인할 것인지 지정 가능)
- fillna : 누락된 데이터를 대신할 값을 채우거나 'ffill'이나 'bfill' 적용
- isnull : 누락되거나 NA인 값을 알려주는 불리언값이 저장된 같은 형의 객체를 반환
- notnull : isnull과 반대되는 메서드

### **누락된 데이터 골라내기**

In [190]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])

data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [191]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

- dropna는 기본적으로 NA 값을 하나라도 포함하고 있는 로우를 제외시킨다

In [192]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3]])

data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [194]:
cleaned = data.dropna()

cleaned

     0    1    2
0  1.0  6.5  3.0

- how = 'all' 옵션을 넘기면 모두 NA 값인 로우만 제외됨

In [195]:
data.dropna(how = 'all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

- 칼럼을 제외시키는 방법도 동일하게 동작함
- 옵션으로 axis = 1을 넘겨주면 됨

In [196]:
data[4] = np.nan

data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [197]:
data.dropna(axis = 1, how = 'all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

- DataFrame의 로우를 제외시키는 방법은 시계열 데이터에 주로 사용되는 경향이 있음
- 몇 개 이상의 값이 들어 있는 로우만 살펴보고 싶다면 thresh 인자에 원하는 값을 넘기면 됨

In [198]:
df = pd.DataFrame(np.random.randn(7, 3))

df.iloc[:4, 1] = np.nan

df.iloc[:2, 2] = np.nan

df

          0         1         2
0  1.107580       NaN       NaN
1  0.544002       NaN       NaN
2 -0.099645       NaN -1.265585
3  1.964762       NaN  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

In [199]:
df.dropna()

          0         1        2
4  0.541656 -0.300930  1.48625
5  0.058171  1.495408 -0.02579
6 -1.212799 -1.370858 -1.62099

In [200]:
df.dropna(thresh = 2)

          0         1         2
2 -0.099645       NaN -1.265585
3  1.964762       NaN  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

### **결측치 채우기**
- fillna 사용

In [201]:
df

          0         1         2
0  1.107580       NaN       NaN
1  0.544002       NaN       NaN
2 -0.099645       NaN -1.265585
3  1.964762       NaN  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

In [202]:
df.fillna(0)

          0         1         2
0  1.107580  0.000000  0.000000
1  0.544002  0.000000  0.000000
2 -0.099645  0.000000 -1.265585
3  1.964762  0.000000  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

- fillna에 사전값을 넘겨서 각 칼럼마다 다른 값을 채울 수도 있음

In [203]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0  1.107580  0.500000  0.000000
1  0.544002  0.500000  0.000000
2 -0.099645  0.500000 -1.265585
3  1.964762  0.500000  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

- fillna는 새로운 객체를 반환하지만 다음처럼 기존 객체를 변경할 수 있음

In [204]:
_ = df.fillna(0, inplace = True)

df

          0         1         2
0  1.107580  0.000000  0.000000
1  0.544002  0.000000  0.000000
2 -0.099645  0.000000 -1.265585
3  1.964762  0.000000  0.481427
4  0.541656 -0.300930  1.486250
5  0.058171  1.495408 -0.025790
6 -1.212799 -1.370858 -1.620990

- 재색인에서 사용 가능한 보간 메서드는 fillna 메서드에서도 사용 가능

In [206]:
df = pd.DataFrame(np.random.randn(6, 3))

df.iloc[2:, 1] = np.nan

df.iloc[4:, 2] = np.nan

df

          0         1         2
0 -0.659777 -0.144623 -0.615931
1  0.323453 -0.535215  1.404411
2 -0.030582       NaN -0.029931
3 -0.909035       NaN -0.759846
4 -0.012273       NaN       NaN
5 -0.581588       NaN       NaN

In [207]:
df.fillna(method = 'ffill')

          0         1         2
0 -0.659777 -0.144623 -0.615931
1  0.323453 -0.535215  1.404411
2 -0.030582 -0.535215 -0.029931
3 -0.909035 -0.535215 -0.759846
4 -0.012273 -0.535215 -0.759846
5 -0.581588 -0.535215 -0.759846

In [210]:
df.fillna(method = 'ffill', limit = 2)   ## ffill 2번만

          0         1         2
0 -0.659777 -0.144623 -0.615931
1  0.323453 -0.535215  1.404411
2 -0.030582 -0.535215 -0.029931
3 -0.909035 -0.535215 -0.759846
4 -0.012273       NaN -0.759846
5 -0.581588       NaN -0.759846

<fillna 함수 인자>
- value : 비어 있는 값을 채울 스칼라값이나 사전 형식의 객체
- method : 보간 방식, 기본적으로 'ffill'을 사용함
- axis : 값을 채워 넣을 축, 기본값은 axis = 0
- inplace : 복사본을 생성하지 않고 호출한 객체를 변경, 기본값은 False
- limit : 값을 앞 혹은 뒤에서부터 몇 개까지 채울지 지정

## 2. 데이터 변형

### **중복 제거하기**

In [211]:
data = pd.DataFrame({'k1' : ['one', 'two']*3 + ['two'],
                     'k2' : [1, 1, 2, 3, 3, 4, 4]})

data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

- DataFrame의 duplicated 메서드는 각 로우가 중복인지 아닌지 알려주는 불리언 Series 반환

In [212]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

- 중복되는 값들 중 처음 쓰여진 값은 중복이 아닌 것으로 나옴
- 두 번째 나올 때부터 중복으로 처리

- drop_duplicates는 duplicated 배열이 False인 DataFrame을 반환

In [214]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

- 이 두 메서드는 기본적으로 모든 칼럼에 적용되며 중복을 찾아내기 위한 부분합을 따로 지정해 줄 수도 있음

In [215]:
data['v1'] = range(7)

data.drop_duplicates(['k1'])

    k1  k2  v1
0  one   1   0
1  two   1   1

- duplicated와 drop_duplicates는 기본적으로 처음 발견된 값을 유지함
- keep = 'last' 옵션을 넘기면 마지막으로 발견된 값을 반환

In [216]:
data.drop_duplicates(['k1', 'k2'], keep = 'last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### **함수나 매핑을 이용해서 데이터 변형하기**

In [217]:
data = pd.DataFrame({'food' : ['bacon', 'pulled pork', 'bacon',
                               'Pastrami', 'corned beef', 'Bacon',
                               'pastrami', 'honey ham', 'nova lox'],
                     'ounces' : [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [218]:
meat_to_animal = {'bacon': 'pig',
                  'pulled pork' : 'pig',
                  'pastrami' : 'cow',
                  'corned beef' : 'cow',
                  'honey ham' : 'pig',
                  'nova lox' : 'salmon'}

In [219]:
lowercased = data['food'].str.lower()  ### 문자열로 수정 후 소문자화

In [220]:
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [221]:
data['animal'] = lowercased.map(meat_to_animal)

In [222]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [223]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

- map 메서드를 사용하면 데이터의 요소별 변환 및 데이터를 다듬는 작업을 편리하게 수행할 수 있음

### **값 치환하기**

In [224]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

- -9999는 누락된 데이터를 나타내기 위한 값
-  replace 메서드를 이용하면 이 값을 pandas에서 인식할 수 있는 NA값으로 치환한 새로운 Series 생성할 수 있음

In [225]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [226]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

- 치환하려는 값마다 다른 값으로 치환하려면 누락된 값 대신 새로 지정할 값의 리스트를 사용하면 됨

In [227]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

- 두 개의 리스트 대신 사전을 이용하는 것도 가능

In [228]:
data.replace({-999 : np.nan, -1000 : 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64