In [3]:
a = 'a:b:c:d'
a = a.split(":")

In [6]:
"#".join(a)

'a#b#c#d'

In [7]:
a = {'A': 90, 'B': 80}
a['C'] = 70

In [8]:
a

{'A': 90, 'B': 80, 'C': 70}

In [9]:
a['C']

70

In [14]:
a = [1, 2, 3]
a + [4, 5]
a

[1, 2, 3]

In [15]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [16]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

In [17]:
total = 0

for i in A:
    total += i
    
print(total)

604

In [ ]:
a = 0
i = 0
lis = []

def fibo(num):
    while i < num:
        lis.append(a)
        i += 1

In [21]:
def total(*argvs):
    total = 0
    for i in range(argvs):
        total += i
    return total

total(65, 45, 2, 3, 45, 8)

TypeError: 'tuple' object cannot be interpreted as an integer

In [22]:
a = int(input("구구단을 출력할 숫자를 입력하세요(2~9): "))

for i in range(1, 10):
    print(i*a, end = " ")

구구단을 출력할 숫자를 입력하세요(2~9):  2

2 4 6 8 10 12 14 16 18

In [23]:
import os
import sys

In [38]:
a = """AAA
BBB
CCC
DDD
EEE
"""


with open("abc.txt", "w") as f:
    f.write(a)

In [26]:
os.getcwd()

'C:\\Users\\admin\\doit'

In [41]:
with open("abc.txt" ,"r") as f:
    lines = f.read()

lines = lines[::-1]

with open("abc.txt", "w") as f:
    f.write(lines)

In [42]:
a = """70
60
55
75
95
90
80
80
85
100"""

with open("sample.txt", "w") as f:
    f.write(a)

In [47]:
class Calculator:
    def __init__(self, nums):
        self.nums = nums
        
    def sum(self):
        self.total = 0
        for i in self.nums:
            self.total += i
        return self.total
    
    def avg(self):
        return self.total/len(self.nums)

In [49]:
a = Calculator([1, 2, 3, 4, 5])

In [50]:
a.sum()

15

In [51]:
a.avg()

3.0

In [52]:
cal2 = Calculator([6, 7, 8, 9, 10])

In [53]:
cal2.sum()

40

In [54]:
cal2.avg()

8.0

In [55]:
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)

7

In [56]:
import re
p = re.compile("[a-z]+")
m = p.search("5 python")
m.start() + m.end()

10

In [60]:
a = """park@naver.com
kim@daum.net
lee@myhome.co.kr"""

import re
p = re.compile("[.][A-z.]*")
re.findall(p, a)

['.com', '.net', '.co.kr']

In [63]:
a = """
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
"""

p = re.compile("[-]\d{4}\s")
print(re.sub(p, "-#### ", a))

park 010-9999-#### kim 010-9909-#### lee 010-8789-####

In [66]:
def fib(num):
    if num == 0:
        return 0
    if num == 1:
        return 1
    return fib(num-2) + fib(num-1)

for i in range(10):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [68]:
a = input()
a = a.split(",")

total = 0
for i in a:
    total += int(i)
print(total)

 65,45,2,3,45,8

168

In [72]:
data = "4546793"
numbers = list(map(int, data))
result = []

for i, num in enumerate (numbers):
    result.append(str(num))
    if i < len(numbers)-1 :
        is_odd = num % 2 == 1
        is_next_odd = numbers[i+1] % 2 == 1
        if is_odd and is_next_odd:
            result.append("-")
        elif not is_odd and not is_next_odd:
            result.append("*")
            
print("".join(result))

454*67-9-3

In [75]:
data = "43545754"
numbers = list(map(str, data))
numbers

result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:
        is_odd = int(num) % 2 == 1
        is_next_odd = int(numbers[i+1]) % 2 == 1
        if is_odd and is_next_odd:
            result.append("-")
        elif not is_odd and not is_next_odd:
            result.append("*")

print("".join(result))

43-545-7-54

In [78]:
def fibo(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    return fibo(num-2) + fibo(num-1)

for i in range(10):
    print(fibo(i))

0
1
1
2
3
5
8
13
21
34

In [84]:
def compress_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c != _c:
            _c = c
            if cnt: 
                result += str(cnt)
            result += c
            cnt = 1
        else:
            cnt += 1
    if cnt: result += str(cnt)
    return result

print(compress_string("aaabbcccccca"))

a3b2c6a1

In [85]:
def compress_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c != _c:
            _c = c
            if cnt:
                result += str(cnt)
            result += c
            cnt = 1
        else:
            cnt += 1
        
        if cnt:
            result+=str(cnt)
        return result

In [88]:
def dupli(x):
    lis = []
    for i in x:
        lis.append(i)
        if i not in lis:
            lis.append(i)
        else:
            return False
    return len(result) == 10

dupli('0123456789')

False